[2021-05-08 17:13] timbze opened #1043 ""Open all references" only opens some references"
See https://support.andbible.org/scp/tickets.php?id=505

[2021-05-08 17:46] bvahedy commented on #1023
I'm reopening this since it still happens when the bookmarks has multiple lables that go off the screen boundaries.  The modal still gets lost.

[2021-05-08 20:23] timbze commented on #1028
I re-ordered the list in OP so the first rows (up to India) are the languages with most installs according to Play Store. It is possible there are more languages with a high priority that I don't know the country off the top of my head. Also, languages like Chinese and Spanish, and probably some more, are likely used from many countries.

[2021-05-08 20:48] tuomas2 commented on #1042
build 521 did not fix this?

[2021-05-08 21:53] bvahedy commented on #1042
It only works for bookmarks that have three or four lakes. But if the
bookmark has lables overflowing off the screen it doesn't work. The
bookmark modal disappears off the page as you scroll up or down.

On Sat, May 8, 2021, 1:49 PM Tuomas Airaksinen ***@***.***>
wrote:

[2021-05-08 22:00] bvahedy commented on #1042
This is what it does:

https://user-images.githubusercontent.com/46405809/117554700-19929680-b00e-11eb-87ba-a8bb6caa6cea.mp4

[2021-05-09 11:45] agrogers opened #1044 "Copy verses includes problematic footnotes (and perhaps verse numbers) plus multiple ways to execute a copy"
Description
There are two ways to copy text, once it is first selected. One way works as expected, the other has unnecessary inclusions.

See attached screenshot.

•  Result A is obtained by selecting text and then "Copy" from the pop-up menu. Notice the redundant inclusion of footnotes, and verse numbers without spaces, both of which add negative value to the process.

•  Result B is obtained by

[2021-05-09 22:00] timbze commented on #1044
@agrogers Thanks for creating this issue. It has been raised in support already as well: https://support.andbible.org/scp/tickets.php?id=482

Android does not have a nice way to remove the extra copy in the menu, but I have something in mind that might work in most cases. I will try it out when I get a chance.

[2021-05-10 16:49] bvahedy commented on #1037
Note to self:
To test need to use OSMHB bible and tap on the icon on the toolbar to switch Strong's no. on/off.

[2021-05-10 23:43] agrogers opened #1045 "Auto assigning of labels is at a window level not a workspace level"
This feels more like a bug than a feature.
1. I set the labels that I wanted for new bookmarks in my main bible window (usually the top one).
2. I then followed a link which opens a new bible window.
3. I bookmarked in that window and got different labels automatically assigned

It seems to me that the automatically assigned bookmarks should be the same in all Windows in the workspace.

[2021-05-11 05:07] bvahedy opened #1046 "Bug in displaying "open in my notes" dialog..."
Create two or three bookmarks in any chapter.
1) tap to open the first bookmark, a moda will appear.
2) tap on the "i" icon in the top right of the modal. This brings up a link to "open in my notes", tap on that link.
3) a split window appears and a list of all bookmarks for this chapter is listed.

Expected behavior:
The list should only show the first bookmark not all bookmarks in the chapter.
I

[2021-05-11 07:02] tuomas2 opened #1047 "Double tap full screen"
I find myself often enter fullscreen accidentally . some solution needed.

[2021-05-11 07:43] bvahedy commented on #1047
How about a triple tap to enter full screen?

[2021-05-11 08:09] tuomas2 commented on #1047
I think we should have secondary way to enter and exit full screen (through menu etc) and way to disable double-tap via app preferences.

[2021-05-12 20:19] tuomas2 opened #1048 "Speak aloud bookmarks ("my notes view")"
Could be possible that this verses can be read aloud
with speech system, just like any other bible verses.
 (in english, because slovenian is not yet supported)

https://support.andbible.org/scp/tickets.php?id=506

[2021-05-13 11:10] #1043 closed, assigned to nobody

[2021-05-13 22:56] timbze commented on #1043
Confirmed fix. Thanks @tuomas2

[2021-05-14 02:58] agrogers commented on #1048
Somewhat related is the ability to speak all the results of a search. That is mentioned in https://github.com/AndBible/and-bible/issues/611

[2021-05-14 03:40] bvahedy opened #1049 "Create a setting to pick bibles in compare..."
When comparing verse(s) it would be nice to be able to select which bibles you want in the compare window.

Currently all bibles are included in the compare function.

In the application settings create an item where you could pick which bibles to be listed when comparing.

[2021-05-14 03:58] agrogers opened #1050 "Speech toolbar is missing after sleep timer finishes with screen off"
When invoking sleep timer and letting the speak finish with the screen off.  Upon turning on the screen the speech tool bar is missing.
![screenshot](https://user-images.githubusercontent.com/13920678/118219189-53efae00-b4bc-11eb-9f05-ce8a5f727423.png)

[2021-05-14 04:21] agrogers opened #1051 "App crashes when sharing a speak bookmark"
Set a speak bookmark
Click speak bookmark
Click 3 dot menu
Click share

Expected: share menu opens

Actual: app crashes

Might be related to: https://github.com/AndBible/and-bible/issues/1039
Reported here: https://support.andbible.org/scp/tickets.php?id=488

[2021-05-14 04:24] agrogers opened #1052 "Voice used for chapter is different to voice used for verses"
When speak is active the verses are read according to the selected speech synthesizer but the chapter announcements are read with the Google synthesizer.
It should all be spoken with the selected synthesizer not mixed voices.

Reported here: https://support.andbible.org/scp/tickets.php?id=486

[2021-05-14 04:26] agrogers opened #1053 "Bookmark sub-window not displayed when trying to view a bookmark that also has a speak bookmark"
If there is a speak bookmark on a verse already and you try to select that verse in entirety and try to
bookmark it. The verse is highlighted with the default bookmark label color but tapping on the verse will never bring up the bookmark study window. Nothing happens when you tap on any part of the verse.
Expected behavior should be to bring up the sub-window for note  entry.

Report here: https:/

[2021-05-14 10:15] tuomas2 opened #1054 "Favourite bookmark toggling UI"
https://youtu.be/n7qaupKMOMc

@agrogers could you think about UI for this feature?

[2021-05-14 11:03] tuomas2 commented on #1054
Hmm got some ideas myself... so wait a bit more, I might take this back.

[2021-05-14 13:30] tuomas2 commented on #680
Got accross this: https://developer.android.com/topic/libraries/architecture/datastore
Not sure if this is optimal way to go either.

[2021-05-14 14:14] tuomas2 commented on #1054
Got it somewhat better IMO, so not as urgently needed any more. But feel free to give comments / better design if you have ideas. Closing this now.

[2021-05-14 14:14] #1054 closed, assigned to agrogers

[2021-05-14 14:34] tuomas2 commented on #1049
@agrogers you could think about where and how this would be best implemented

[2021-05-14 14:35] tuomas2 commented on #1041
Fixed in 522

[2021-05-14 14:35] #1041 closed, assigned to bvahedy

[2021-05-14 14:40] tuomas2 commented on #248
I don't think this is valid any more. I have added highlighting the verse after clicking link, perhaps this was in my mind when I created this issue.

[2021-05-14 14:40] #248 closed

[2021-05-14 15:18] tuomas2 commented on #977
Fixed in 07182fff48b2973d36138e551ca15da7a084e639

[2021-05-14 15:18] #977 closed, assigned to nobody

[2021-05-14 15:24] tuomas2 commented on #1001
Now does not reproduce on my tablet and on emulator (API30) but does still on my xperia phone.

[2021-05-14 15:26] tuomas2 commented on #1001
Also it does not ever pan in landscape mode.

[2021-05-14 19:10] bvahedy commented on #1023
Verified fixed in 522.2 beta build.

[2021-05-14 21:44] agrogers commented on #1023
Yes. It works well. Just one comment. When I scroll up and the dialog goes
off the bottom of screen it reappears at the top of the screen. It feels
like it should stay at the bottom. Not a big issue though.

On Sat, 15 May 2021, 5:10 am Ben, ***@***.***> wrote:

[2021-05-15 00:19] RuggMatt opened #1056 "DoesNotExist error after importing module on first run"
Importing a module on first run results in does not exist error.

1. Acquire zip module from somewhere
2. Install app
3. Import module from zip on welcome screen

Expected : module loads after importing

Actual. Get Does not exist error.

![screenshot](https://user-images.githubusercontent.com/8870594/118342478-cb373900-b4e0-11eb-9439-39aaa8ad062b.png)

Logcat/screenshot at https://support.andbibl

[2021-05-15 03:12] agrogers commented on #1042
I believe this is fixed now.

[2021-05-15 03:15] agrogers commented on #1041
It looks like this one is done too. Only thing that might be good is to add the '...' to the label if it is being truncated.... which I think long labels are.... at least my long label was truncated.

[2021-05-15 04:30] bvahedy opened #1057 "Swipe to next chapter bug..."
In build 522.2 beta:

I was reading Mark chapter four. On verse one, I swiped left to go to chapter five and then swipe down  to see the last verse in chapter four.

What happens:
The end of chapter three appears.

Expected result:
End of chapter four schools display.

![Screenshot_20210514-212356_Bible Study](https://user-images.githubusercontent.com/46405809/118347924-8b317f80-b4fb-11eb-85e3-a30

[2021-05-15 04:45] bvahedy commented on #1057
I closed the app and reopened it and now I can't duplicate this. Good thing I took a screenshot otherwise I would have thought I'm going crazy.

[2021-05-15 04:56] bvahedy opened #1058 "Visual improvement on workspace list..."
When looking at the list of workspace to select from it's hard to see the current workspace. I know the name off it is bold and has the word  (current) at the end of it, but it's hard when you have a large number of workspaces to look through.
Is there any way we could put a light background  shade on the current workspace so that it stands out in the list.

[2021-05-15 06:01] agrogers opened #1059 "Proposal: How to apply 'favourite labels' to bookmarks"
This issue is a response to Tuomas' video: https://www.youtube.com/watch?v=n7qaupKMOMc
The ticket https://github.com/AndBible/and-bible/issues/1035 is related to this. I have added additional info and a new screenshot to that issue that accommodates the favourite feature. Most of the comments there still apply.

![AndBible Suggestions-label popup v2](https://user-images.githubusercontent.com/13920

[2021-05-15 06:04] #1056 closed, assigned to bvahedy

[2021-05-15 06:18] agrogers commented on #1035
This is a response to Tuomas' video here: https://www.youtube.com/watch?v=n7qaupKMOMc
And is related to #1059
![AndBible Suggestions bookmark color dialog suggestions v3](https://user-images.githubusercontent.com/13920678/118350161-a0a8b700-b598-11eb-9d09-c6fe6df1f163.png)
* My comments in the first post are still mostly relevant I think.
* I understand this was just a first draft without much att

[2021-05-15 07:48] agrogers opened #1060 "Crash when switching from Bishop bible program back to AndBible"
Raised here: https://support.andbible.org/scp/tickets.php?id=508

![image](https://user-images.githubusercontent.com/13920678/118352590-a789f680-b5a5-11eb-8b54-c8b37cbc64b9.png)

[code]

[2021-05-15 07:56] agrogers opened #1061 "Connecting/ disconnecting a bluetooth keyboard causes screen reloading"
Raised here: https://support.andbible.org/scp/tickets.php?id=514

Looks like connecting/ disconnecting a bluetooth keyboard causes screen reloading to happen (possible modal windows will be closed etc). Bluetooth keyboard does this quite often because of powersaving it tries to do (it goes on and off automatically). I would consider this as a a bug.

[2021-05-15 08:00] agrogers opened #1062 "Some study pad Bible verses changed to Spanish unexpectedly"
Issue raised here: https://support.andbible.org/scp/tickets.php?id=510

I have had this label for a long time.

I started using it as a study pad a few days ago and have been adding verses and notes, now when I opened it again the first some verses are Spanish (verses that are still bookmarked per verse), and the rest are English KJV as I saved them.

I switched the window to KJV and then reopened

[2021-05-15 08:04] agrogers opened #1063 "Crash after speak button pressed on studypad"
Originally raised here: https://support.andbible.org/scp/tickets.php?id=475

![image](https://user-images.githubusercontent.com/13920678/118352973-aeb20400-b5a7-11eb-8e54-6f09c08b0059.png)

[code]

[2021-05-15 08:27] tuomas2 commented on #1063
In general I think it might not be good to post users automatically generated screenshots here especially if they contain user notes for security and trust reasons. It's okay to post my screenshots though.. but I think it's sufficient to have link to osticket so developers can look there for additional info :-)

[2021-05-15 08:44] agrogers opened #1064 "White window in night mode"
Reported here: https://support.andbible.org/scp/tickets.php?id=479
and here I think: https://support.andbible.org/scp/tickets.php?id=480

![image](https://user-images.githubusercontent.com/13920678/118354255-9513bb00-b5ad-11eb-8040-8d1529cbe2d1.png)

[code]

[2021-05-15 08:50] agrogers opened #1065 "Crash in bookmarks view added label to a bookmark"
Raised here: https://support.andbible.org/scp/tickets.php?id=483
And Bible version: 3.4.518-beta#9ad2dd683 (built 01/05/21 09:04:57)

![image](https://user-images.githubusercontent.com/13920678/118354420-57636200-b5ae-11eb-8ced-3ebe8d63f115.png)

[code]

[2021-05-15 08:53] agrogers opened #1066 "Opening unlabelled bookmarks in study pad shows nothing in study pad window."
Raised here: https://support.andbible.org/scp/tickets.php?id=484

![image](https://user-images.githubusercontent.com/13920678/118354502-b628db80-b5ae-11eb-9825-1b2c1f3d16c6.png)

[2021-05-15 08:55] agrogers commented on #1063
No problems. Will do.

[2021-05-15 08:57] #1061 closed, assigned to nobody

[2021-05-15 09:35] timbze commented on #1062
I think this probably has to do with what this window thought was the current Bible document... So not sure if there's really a good way to handle this.

[2021-05-15 10:20] tuomas2 commented on #1064
﻿Actually, sorry for causing you vain work, but this has been fixed. Just forgot the ticket there in osticket... :-(

[2021-05-15 10:20] #1064 closed, assigned to bvahedy

[2021-05-15 11:59] agrogers commented on #1049
Here are my first thoughts on a filter for this area. I don't feel like it needs a separate menu item in settings somewhere. It would work nicely in the compare window itself.

![AndBible Suggestions-compare verses](https://user-images.githubusercontent.com/13920678/118359903-ce0d5900-b5c8-11eb-91cc-f0c428723076.png)

[2021-05-15 12:27] agrogers opened #1067 "The Android popup selection dialog covers the editor menu making it impossible to use"
![AndBible Suggestions-editor v2](https://user-images.githubusercontent.com/13920678/118361034-eb442680-b5cc-11eb-94fb-10bc75c44d74.png)

[2021-05-15 12:29] timbze commented on #1049
To add to @agrogers nice idea, it would be helpful for me to be able to set the order. For example, I wanted NASB first, then ESV, then NET, etc

[2021-05-15 12:35] agrogers opened #1068 "Use the verse selector to enter a Bible reference"
At present the user has to type in a verse reference. I tried this (Jn 3:16) but it didn't recognise it as a legitimate verse. It turned it into a hyperlink but it didnt work correctly. Perhaps I typed it wrong or I misunderstand this feature. Anyhow,
1. Replace the dialog that is accessed via that button
2. With the standard verse selector dialog.
![AndBible Suggestions-editor verse selector](htt

[2021-05-15 12:35] timbze commented on #1049
Also, I like the idea to place the filter icon at this place. However, I have also thought of having a few more window specific options in a similar way in the future, for example,
- Open all references opens 10 verses, and then I would like to be able to switch them all to another Bible version.
- Also for windows like open all references, compare, study pad, to have an export option... This plac

[2021-05-15 12:40] timbze commented on #1068
From what I understand this feature will improve in #981. It would then recognize a lot more different typings.

I think the current modal should stay, but it would be a good idea to add a button to it to be able to select the reference the way you mention

[2021-05-15 12:47] agrogers commented on #1068
Is there a reason why someone would want to type it over selecting it? To specify the translation?

[2021-05-15 12:54] agrogers commented on #1049
I would tend to think an Export option should go on the Window button.

Switching versions is an interesting idea.

I agree that the top row is a good place for other potential actions. Ordering is one that is in my mind but I think there is more to these lists than meets the eye so ordering might be messy or impossible.

[2021-05-15 13:13] timbze commented on #1068
For easier using in different ways. One time I want it to be John 6:61 and next time Jn 6:61.

Also probably faster in some cases

[2021-05-15 14:43] tuomas2 commented on #1065
Thanks for digging the crash report.
This time it reveals to me that this issue has been fixed.

[2021-05-15 14:43] #1065 closed, assigned to bvahedy

[2021-05-15 14:46] tuomas2 commented on #1057
I wonder if chapter 4 appeared after chapter 5

[2021-05-15 14:49] tuomas2 commented on #1068
I think we could have button in input dialog to fill in text using bible ref selector.

Why text? Text form is more flexible, it allows ranges etc.

[2021-05-15 14:49] tuomas2 commented on #1068
We can see this after #981 is done

[2021-05-15 19:33] bvahedy commented on #1042
Yes, I verified that this is fixed in build 522.2, I'll close this thicket.

[2021-05-15 19:33] #1042 closed, assigned to nobody

[2021-05-15 19:45] bvahedy commented on #1063
Unable to duplicate this in 522.2 build.

[2021-05-15 19:55] bvahedy commented on #1067
You should be able to tap and hold on the "selection dialog" and move it out of the way.
I don't believe this is a bug.

[2021-05-15 20:00] bvahedy commented on #1049
I'm thinking it should be at the workspace level not at Bible window level. So each workspace can have it's own compare list. Any thoughts?

[2021-05-15 20:00] tuomas2 commented on #1067
In some android devices it is possible, with some it is not. Confirmed it works on my tablet, but does not work on emulator (struggled with this when doing beta video)

[2021-05-15 20:03] bvahedy commented on #1057
No I checked and the whole of chapter 4 was missing as is it never existed.

On Sat, May 15, 2021, 7:46 AM Tuomas Airaksinen ***@***.***>
wrote:

[2021-05-15 20:18] tuomas2 commented on #1067
I agree that selection popup is disturbing when trying to access buttons and something needs to be done. I believe @agrogers 's idea is worth trying, though I'm not sure if it will work out well or not (popup is not totally in our hands as it's Android's stuff).

[2021-05-15 20:19] tuomas2 commented on #1049
"filter is saved on workspace level" in @agrogers 's specs

[2021-05-15 20:20] tuomas2 commented on #1057
it looks similar as old bug that I reported years ago (there's ticket somewhere, not sure if it's closed or not). Though unbelievable that it's still alive...

[2021-05-15 22:31] agrogers commented on #1067
Oh, I never thought of long pressing the popup to drag it away. Just tried
it now and i could not move it.

I guess the ellipsis button doesn't need to open the android popup - it
could just open a custom menu. Although it is nice to keep as much familiar
to the user as possible.

On Sun, 16 May 2021, 6:18 am Tuomas Airaksinen, ***@***.***>
wrote:

[2021-05-15 22:38] agrogers commented on #1068
Ah, yes, ranges get trickier. Adding a button to that little dialog that allows the user to either type into the box or fill the box by clicking the button which opens the verse selector would be the best of both worlds.

This would have the added advantage of telling the user the correct format for a Bible reference if they choose to use the button.

And if the button doesn't replace all text in

[2021-05-15 23:30] bvahedy commented on #1049
Ok, I see it now. I thought since the filter was displaying on the compare window that it was on the current Bible window. can the filter be placed on the workspace list page, since it's more of a setting. Otherwise you would have to invoke the compare to get to the filter.

[2021-05-15 23:36] bvahedy commented on #1057
Well something must have triggered it for it to appear again. I'm also
getting another bug that I cannot duplicate, it has occurred twice now but
I don't know what steps causes it. the study pad doesn't show when you tap
on the bookmark lables. But closing the app and reopening it fixes this
issue.

On Sat, May 15, 2021, 1:20 PM Tuomas Airaksinen ***@***.***>
wrote:

[2021-05-16 00:09] agrogers commented on #1049
A few thoughts:

* Definitely agree that it should (also) be included in the workspace settings. Good point.
* I see Settings as something that a user sets once then mostly forgets. For example, night mode or font size.
* How often would we want to change this setting? If it might get changed more than a few times then I think it justifies being accessible from the
interface where it is being used

[2021-05-16 00:17] agrogers commented on #1047
I think it is always necessary to have hidden functionality also accessible via a menu option or button or something.

It would be great to have some tool tips or hints that show when a user use a slow way to do something.

For example, when a user uses the menu to go full screen the first time, show a tip explaining they can do this via double or triple click.

[2021-05-16 00:21] agrogers opened #1070 "Enable Swiping up on a window button to maximise the window"
I am using the maximise window option a lot more now. It feels natural to just click and swipe up on the window button I want to maximise.

(the action I am trying to describe is the same action to bring down the workspace selector - click and swipe down in that case).

[2021-05-16 00:43] agrogers opened #1071 "In app help/tip/hint system"
I mentioned elsewhere that there are so many features in And Bible now that it is getting harder to know they are there and perhaps understand how they operate.

Maybe it's time to implement a tip or hint system (there isn't one is there?) that can fill in these gaps. A few thoughts
* show a single tip when the app is opened and don't make it too easy for the user to stop seeing tips.
* the first

[2021-05-16 02:00] bvahedy commented on #1049
You make a good point, if it is in the workspace settings only then new users may never know it's there. If it doesn't clutter up the compare window, it would be nice to have it there also.

This brings up another point which I've been thinking about for the last three years. It would be nice if we could  create small screen recordings of different functionalities of Andbible and place them somewh

[2021-05-16 04:34] agrogers commented on #1049
I added a feature here which is kind of related to your last comment #1071

Having as much help in the app as possible is usually my preference. I think screen recordings are good too. Even just a 5 frame gif would often convey the ideas better than a long blurb. Making it available outside the app would also be good.

[2021-05-16 06:15] agrogers commented on #1035
This is the problem I have now with insufficient space in list to read my labels.
![IMG_20210516_161032](https://user-images.githubusercontent.com/13920678/118387442-ee3d2680-b661-11eb-9f28-96d0159da3f6.jpg)

[2021-05-16 06:19] tuomas2 commented on #1035
This should be a separate bug issue

[2021-05-16 07:20] bvahedy opened #1072 "Flicker reset when sharing a speak bookmark..."
On 522.6 beta build:

I tapped on a speak icon on a verse. When the bookmark modal appeared I then tapped on the "i" and then tapped on the share icon.

What happened:
Two white screen flickers like a lightning thunder. It seems the app crashed and restarted itself.

Expected result:
May be on a speak bookmark share option should be disabled.

[2021-05-16 10:56] agrogers commented on #1024
[moved content to #1035]

[2021-05-16 10:58] agrogers commented on #1035
You are right. I was getting confused with this one due to first screen shot above - they are much the same because they show both the list and the dialog. I have moved the relevant comments across to #1024

[2021-05-18 19:34] #972 closed, assigned to bvahedy

[2021-05-18 20:02] timbze opened #1073 "Missing verse in NET Bible shows [[EMPTY]] (John 5:4)"
**Describe the bug**
NET Bible John 5:4 shows only `[[EMPTY]]`. Maybe it's not a bug, I did confirm that NET Bible omits this verse, [see here](https://netbible.org/bible/John+5).

Not sure what is the best to display in this case, or if it's the SWORD module that has that text (EMPTY), for that verse.

**Bug was found on And Bible version**
Build 3.3.400 and also 3.4

**Expected result:**
Probabl

[2021-05-18 20:06] tuomas2 commented on #1073
must be module issue

[2021-05-18 20:06] tuomas2 commented on #1073
(or jsword, though not likely)

[2021-05-18 20:08] timbze commented on #1073
Do you know how jsword handles missing verse? I just thought it would need to be confirmed

[2021-05-18 20:09] timbze commented on #1073
Ok, I checked ESV and the verse is just omitted. So it is module issue then

[2021-05-18 20:30] timbze commented on #1073
Emailed eBible maintainer about the issue.

[2021-05-18 20:30] #1073 closed, assigned to bvahedy

[2021-05-19 02:27] agrogers opened #1074 "Crash report"
Reported here: https://support.andbible.org/scp/tickets.php?id=516

Device info:
And Bible version: 3.3.400#6a52aa2ba (built 29/04/21 20:09:21)
Android version: 7.1.1
Android SDK version: 25
Manufacturer: samsung
Model: SAMSUNG-SM-T377A

--------- beginning of crash
05-15 16:55:57.783  7299  7299 E AndroidRuntime: FATAL EXCEPTION: main
05-15 16:55:57.783  7299  7299 E AndroidRuntime: Process: net.

[2021-05-19 05:05] JJK96 commented on #1068
I prefer text input, mainly because its faster for me

[2021-05-19 05:11] tuomas2 commented on #1068
Maybe text input dialog could have also a button that open bible ref chooser and fill in text for the user, if he prefers to use it.

[2021-05-19 06:45] tuomas2 commented on #1071
Anyone knows an easy-to-use framework how to include such tips into app?
(perhaps we need even 2 frameworks: for js side, and for android native side)

[2021-05-19 15:19] timbze opened #1075 "Add-ons in download documents show up for all languages"
**Describe the bug**
By default the download documents show "all types". Some languages only have a few documents, and I have a feeling that users may be confused if the last 2 documents are FontPack and RefParser.

I think we need to figure out a way to show the relevant Add-ons at the relevant places. For example, FontPack would probably be more helpful if in font selection screen there was a li

[2021-05-19 15:27] timbze commented on #1075
I think the easiest solution would be to just not show add-ons in "All types"

[2021-05-19 15:31] tuomas2 commented on #1075
I agree, have noticed that this is an issue.

[2021-05-19 19:41] tuomas2 commented on #1001
Since #667, launchMode="singleTask" was removed from MainBibleActivity and after changed to singleTop. I tested with singleTask mode and it works properly with my mobile phone.

[2021-05-19 19:42] tuomas2 commented on #1001
But I guess we don't want to break #667...

[2021-05-19 19:51] tuomas2 commented on #1040
Is this happening still? I remember fixing it soon after this was done in the first place.

[2021-05-19 20:23] timbze opened #1076 "Footnotes (Undefined type) could omit "undefined type""
See image. I think it would be better to simply show "Footnotes" when AB doesn't know what type of footnote it is. Showing (Undefined type) I think is unnecessary wording that user may have no idea what it means.

![Screenshot_20210519-070559](https://user-images.githubusercontent.com/35117769/118879002-7105f180-b8ad-11eb-8b8c-7d26b77392e2.png)

[2021-05-19 20:28] timbze opened #1077 "White background flashes every time before first-time load of Bible text in dark mode"
**Describe the bug**
See video.

This happens when switching workspaces or when opening a window in a workspace that has not been opened yet.

**Bug was found on And Bible version**
Build 523

https://user-images.githubusercontent.com/35117769/118879490-0608ea80-b8ae-11eb-9f40-ce24ac56aad4.mp4

[2021-05-19 23:36] agrogers commented on #1040
Still looks like No.3 to me.

[2021-05-20 05:54] tuomas2 commented on #1059
My usage for "favourite labels" was simple color labels, that I can use as a primary label, without other semantic meaning. (meaning, that if I have two consequent or overlapping 'devotion' bookmarks, I could mark other with other color, to distinquish them from each other)

[2021-05-20 05:58] tuomas2 commented on #1059
I am not sure if I understand how it violates that. Do you mean that <3 line with bookmark info?

[2021-05-20 06:04] tuomas2 commented on #1059
I like the clarity of the proposal and am planning to implement it.
Added strings already so I don't need to hurry with this.

[2021-05-20 06:04] tuomas2 commented on #1059
I believe I'd be going with proposal nro 1

[2021-05-20 06:09] tuomas2 commented on #1017
What should we do if there are two bookmarks with "highlight whole verse" and they both would like to get their underline there?
We can't have multiple underlines using CSS.

[2021-05-20 06:34] tuomas2 opened #1078 "Adjust bookmark's highlight range afterwards"

[2021-05-20 07:30] #1017 closed, assigned to tuomas2

[2021-05-20 07:31] tuomas2 commented on #1017
Implemented otherwise, but not underline style.

[2021-05-20 08:47] agrogers commented on #1059
Wonderful. I was adding a lot of bookmarks last night and I think this would have saved me plenty of scrolling. And option one has room to grow if new features come along. I think there is a case for having this dialog popup immediately I create a new bookmark. At present I 1) create a bookmark 2) click on the bookmark 3) click on the label 4) scroll and choose the label and done. I would prefer t

[2021-05-20 10:04] tuomas2 commented on #1035
removed description from here as up-to-date version is on #1024 comment. (not sure if it should be here or there, but better not both)

[2021-05-20 10:33] #1076 closed, assigned to bvahedy

[2021-05-20 10:50] tuomas2 commented on #1028
Sending follow-up announcement

Subject: And Bible 3.4 translation progress

[2021-05-20 11:46] agrogers commented on #1059
The yet to be selected favorite labels (eg 'faith') are shown on the same form as the already selected labels (eg 'love')

[2021-05-20 21:51] bvahedy opened #1081 "Screen non responsive when trying to bookmark whole verse..."
Build 523.1 beta:

I have two words in one verse bookmarked. (See screenshot)
When opening the first bookmark and tapping on the icon to highlight the whole verse everything works fine, however tapping on the second word while the bookmark modal is open and trying to do the same thing freezes the app. The only way to recover is to close the app and reopen it.

![SmartSelect_20210520-144552_Bible S

[2021-05-21 06:21] tuomas2 commented on #1081
Is it possible to make bug report from main menu when this happens? Tried to reproduce quickly did not succeed.

[2021-05-21 06:25] bvahedy commented on #1081
Ok, just reproduced it and reported the bug through the menu.

On Thu, May 20, 2021, 11:21 PM Tuomas Airaksinen ***@***.***>
wrote:

[2021-05-21 07:48] tuomas2 commented on #1081
https://support.andbible.org/scp/tickets.php?id=526

[2021-05-21 07:52] agrogers commented on #1017
Hi Tumoas. I think by 'implemented' you mean just using the current method. That's ok. But I think it can be better :)

It's possible although it might make your code a little harder to manage. Below is what I could come up with and attached it the code I used/stole to do it.
[special_underline.html](https://github.com/AndBible/and-bible/files/6520999/special_underline.html.txt)

Again, the reason

[2021-05-21 08:29] tuomas2 commented on #1081
Unfortunately I can't find anything useful from logcat. Need to think about how to get more info.

[2021-05-21 08:37] tuomas2 opened #1082 "Underline highlight"
Hi Tumoas. I think by 'implemented' you mean just using the current method. That's ok. But I think it can be better :)

It's possible although it might make your code a little harder to manage. Below is what I could come up with and attached it the code I used/stole to do it.
[special_underline.html](https://github.com/AndBible/and-bible/files/6520999/special_underline.html.txt)

Again, the reason

[2021-05-21 08:38] tuomas2 commented on #1082
I mean I implemented everything else.

Thank you for example code. If it would be possible to be done with a single-statement css it would be easier to implement.

I agree with your rationale, but am hesitating if I want to implement this, at least for now.

[2021-05-21 11:56] agrogers commented on #1082
Yeah, I thought that css would be a lot more complicated. Personally I would be perfectly happy with a single underline using whatever whole-verse bookmark color. If I don't like the color I could change to the current arrangement of selecting the text I want highlighted and thus get the colors I want as the background color.

[2021-05-21 12:26] tuomas2 commented on #1082
Maybe we could have single underline, and if there are two or more overlapping bookmarks with underline style, it would double-underline (or wavy underline, or some other css text-decoration style) with generic color (for example coming from 'unlabelled' bookmark style) hiding the label coloring data.

[2021-05-21 13:31] agrogers commented on #1082
I like it. Single underline, double underline and wavy underline could represent 1,2 and 3 whole verse bookmarks. I think I would personally stick with the color of one of the bookmarks - perhaps the first added. The color is important and losing that would be a shame. And there is a precedent I think - the little bookmark symbol that appears at the end of a verse to indicate bookmarks on that ver

[2021-05-21 13:42] agrogers commented on #1071
This is not what I had in mind but it is related and could be a nice intro. Apparently Google even use it

https://github.com/amlcurran/ShowcaseView

[2021-05-21 13:47] agrogers commented on #1071
And this as an intro but still not what I had in mind
https://developer.android.com/training/tv/playback/onboarding

[2021-05-21 14:23] tuomas2 commented on #1082
first or last added makes sense. I might think that last added is more logical, what do you think?

[2021-05-21 14:29] tuomas2 commented on #1071
Thanks, I'll try a little ShowcaseView. Then I'll let you know what I think.

Minus side is that this might add considerable amount of translatable strings... and advanced users (like me) often hate them.

[2021-05-21 14:54] timbze opened #1083 "Multidocument bug, verse is not removed when opening other link"
https://support.andbible.org/scp/tickets.php?id=527

**Describe the bug**
Multi-document window is buggy with some references. See details below.

**Bug was found on And Bible version**
Build 523

**To Reproduce**
Steps to reproduce the behavior:
1. Open Gill commentary to Rev 3:11
2. Click "Open all references" at the bottom
3. Only Ps 87:3 opens
4. Click "Open all references" multiple times and

[2021-05-21 14:57] timbze commented on #995
This should be resolved after merging #981. Closing.

[2021-05-21 14:57] #995 closed, assigned to bvahedy

[2021-05-21 15:01] msavli commented on #1028
Hi!

![slika](https://user-images.githubusercontent.com/13658822/119157224-4060bc00-ba55-11eb-90a6-41fd00721d15.png)

red: this strings I can not find any more in Slovenian Transifex And Bible - strings.xml
blue: this string is still in English

[2021-05-21 15:04] timbze commented on #1071
It might be good to have a checkbox in the new startup screen, where after a new install the user could uncheck if they don't want to see any first-time tips. If they leave it checked then they would see the tips.

[2021-05-21 15:07] timbze commented on #991
TL;DR beta won't be released on Amazon app store, but users are able to download beta apk releases from [release page](https://github.com/AndBible/and-bible/releases).

[2021-05-21 15:07] #991 closed, assigned to tuomas2

[2021-05-21 15:18] tuomas2 commented on #1028
@msavli I'll make the string translatable. Thanks for noticing!

[2021-05-21 15:19] timbze commented on #1028
It is translatable, and it seems that Slovenian has that string translated, so I am not sure what is wrong. Spanish shows the correct translated string for me.

[2021-05-21 15:20] tuomas2 commented on #1028
@timbze it was translated in one statup but not in help screen.

[2021-05-21 15:21] timbze commented on #1028
Oh, help screen works, I think this is beta startup screen.

[2021-05-21 15:22] tuomas2 commented on #1071
But as @agrogers said, it should not be "too easy" to turn them off, as "grandmas" also might opt out, and then they do not know how to use AB. I would say it's better to have option to disable it on app preferences and tell user (with words) this in first tip.

[2021-05-21 15:23] tuomas2 commented on #1028
actually it was untranslated only in beta notice.

[2021-05-21 15:23] tuomas2 commented on #1028
the one that tells about updates

[2021-05-21 15:26] tuomas2 commented on #1071
though for grandmas it's often enough that they know how to read their favourite bible and that's all. For that they hopefully do not need any tips... (AB might not be the best choise for them in any case)

[2021-05-21 15:32] bvahedy commented on #1081
Ok, try to do this:
1) Create two bookmarks in a verse with just the words highlighted.
2) assign multiple lables to the first bookmark.
3) assign only one lable to the second bookmark.
4) tap on the first bookmark to bring up the modal. Tap on the "i" icon to extend the modal.
5) tap on the icon to highlight the whole verse. Nice the modal so you could see the verse getting highlighted by the def

[2021-05-21 18:54] bvahedy opened #1084 "Tapping on morph code does nothing..."
Using the latest build 523:

When tapping on the morphalogy nothing happens. However if you tap and hold a window will display asking wether to open the link in a new window or current window. And if you choose one that will display the morph definitions.

Expected result:
When tapping on a morph link it should act the same as tapping on a strong's no. Which is to display the definition in a new w

[2021-05-22 01:28] Dleemuse commented on #1071
Hey all,

I am 60 years old, & a grandma of 6... I use AB everyday, & can keep up with a lot of the features... I admit I am tech challenged, but some grandmas are not all that slow, I do way more in AB than you might think, Lol... Just had to tease you a bit.

I do love the idea of it not being too easy to turn tips off.

Debra

[2021-05-22 03:34] agrogers commented on #1082
Hmmm, i think first for me. It means i could configure it (remove all and re-add in the correct order) such that it didnt change color with subsequent bookmarks. But I would probably be aiming for only one whole verse underline so it wouldnt matter so much.

[2021-05-22 03:49] agrogers commented on #1071
I think the 'ShowcaseView' could be a nice intro to the software. But i am not sure that it would be used more than that very first instance.

I have kept looking for a framework or library for a help system (or tips or hints or whatever - i have searched for all). But I cant find any. So I am starting to think my first idea which i haven't shared might be as good as any.

And Bible is already a v

[2021-05-22 04:15] agrogers opened #1085 "Maximising a note window while editing positions text too high in the maximised window"
1. Edit a note on a verse
2. Maximise the window
3. Resulting text and controls appears off the top of the screen with no easy way to get it back down.
![AndBible maximise studypad edit window](https://user-images.githubusercontent.com/13920678/119214157-f1279380-bb07-11eb-8e45-a71bc9dfe555.png)

[2021-05-22 04:22] agrogers opened #1086 "Increase the editing space in the full size notes window"
1. I think the red space can be removed completely
2. There is possible a few pixels to be saves in the orange sections.

![AndBible Suggestions enlarge editing space](https://user-images.githubusercontent.com/13920678/119214289-07821f00-bb09-11eb-96c9-d540f3250541.png)

[2021-05-22 04:29] agrogers opened #1087 "Enlarge the popup window editing space"
- Same idea as #1086 but on the popup window
- Remove the red space
- Possibly remove some orange space
- Widen the window so it is about the size of the green box - maybe 7 pixels shy of the edges
![AndBible Suggestions enlarge popup editing space](https://user-images.githubusercontent.com/13920678/119214418-14ebd900-bb0a-11eb-9fa5-037acd2a31be.png)

[2021-05-22 04:38] agrogers opened #1088 "Grow the popup edit window more as the user types"
- The window currently grows as the user types
- But it stops growing after 4 lines (on my device)
- There is still a lot of screen space for it grow considerably more
- I would probably grow it until it takes up the most of the window - no point making the user scroll if they don't need to.

![AndBible Suggestions-growing popup edit window](https://user-images.githubusercontent.com/13920678/11921

[2021-05-22 04:43] agrogers opened #1089 "Buttons should have a minimum width and consistent border style"
- A pet peeve of mine is different sized buttons :)
- I feel all buttons should have a minimum size - say large enough to accommodate the common labels (like 'Cancel')
- So the dialog below would have two equal sized buttons
- Also, I think the border probably should not be a different color to the button face - in this case it should be the same color (or no color). Most of the And Bible buttons

[2021-05-22 06:20] tuomas2 commented on #1071
Hehe, sorry... Those grandmas that I was talking about are not in Github reading/commenting on tickets :-D I think you definitely do not fall into the category I was talking about. Perhaps my use of word 'grandma' was a bit too generalizing =)

My mom is more of the type I'm talking about. She's using speak aloud feature, and sometimes reads bible @ church with AB, but I doubt she knows what are w

[2021-05-22 06:25] tuomas2 commented on #1071
@agrogers Help doc would not be easy to translate, probably would serve english-speaking people only. And instead, it could be implemented as an online documentation @ wiki (Github or something else, if Github is not good enough). Also, updating screenshots/animated gifs would be painful, because UI is changing all the time (same issue as with promotional material, which I was thinking to tackle w

[2021-05-22 07:23] bvahedy commented on #1085
Andrew, it's a bug but I found if you scroll down on outside of the edit
box or minimize your keyboard the edit window will appear.

On Fri, May 21, 2021, 9:15 PM Andrew Rogers ***@***.***>
wrote:

[2021-05-22 07:58] tuomas2 commented on #1071
Though if you would like to do that and take main responsibility of maintaining it, we can make a source repo in And Bible github org for it and include it in And Bible sword repo.

Perhaps it's better than nothing anyway. But I'd like to have some translatable short feature descriptions in help screen as allways, so that users of any language can have at least that.

[2021-05-22 13:30] msavli commented on #1028
Thanks for quick response. These new bookmarks are much much more better then previous. Tnx.

Yes, that was beta startup screen.

And found another untranslated words:
- Dictionary
![slika](https://user-images.githubusercontent.com/13658822/119225671-73fb1f00-bb05-11eb-9336-8bf0d02d747d.png)

- Auto-assign bookmark labels
![slika](https://user-images.githubusercontent.com/13658822/119226194-2fbd4e

[2021-05-22 16:15] tuomas2 commented on #1035
Moved description back here.

I implemented some of the ideas now in build 521.2

Done.

Done these also. I'm not sure if I like the this though. I'm not feeling that user immediately understand how to use it (does not look like checkbox).

This could be considered but not yet implemented.

I feel that I disagree on this at the moment. I left them there as I found it more easy to manage these sett

[2021-05-22 16:17] tuomas2 commented on #1035
Comments are welcome also for the new strings, if they are good or not

(https://github.com/AndBible/and-bible/pull/1080/files , see strings.xml)

[2021-05-23 02:10] bvahedy opened #1090 "Unable to change the color of a lable..."
Running build 523.2:

Under manage lables when tapping on a lable it presents you with an empty title also changing the color and tapping ok will not save any changes you made.

[2021-05-23 05:55] tuomas2 commented on #1090
Oh, I think I forgot to implement that then...

It's easy to go back to build 523.1 (as version integer is same) if 523.2 is unstable.

[2021-05-24 15:17] bvahedy opened #1091 "Speak bar missing when setting up sleep timer..."
When setting repeat passage or sleep timer and tapping the play button. The speak toolbar is missing at the bottom of the screen.

![Screenshot_20210524-005519_Bible Study](https://user-images.githubusercontent.com/46405809/119368925-71650a80-bc68-11eb-9010-95ecd3fff297.jpg)

[2021-05-24 15:48] timbze commented on #1091
Duplicate of #1050 :)

[2021-05-24 15:48] #1091 closed, assigned to nobody

[2021-05-25 07:36] agrogers opened #1092 "Proposal to modify the display of the window buttons"
I found the setting to turn off the window button and set it to 'off' for a while. But i missed the buttons so turned it back on. However I found them a little intrusive when they were back. So a few thoughts...

- The window buttons rarely ever need to be 0% transparent. We can see they are there. They dont really need to change from transparent. So i think a case can be made for those buttons to

[2021-05-25 07:49] agrogers opened #1093 "Proposal to make the active window outline configurable"
I liked the new blue corners to show the active window. And I found the setting to turn it on and off. I have also wondered whether it might be good to extend the corners so that they make a complete border around the active window. I still get caught out occasionally changing windows that i dont mean to change.

One option might be:

- Allow the user to set the length of the corner blue marks. So

[2021-05-26 13:49] RuggMatt commented on #1081
I get a similar error if I try to interact with a speak bookmark.

1. Enable speak bookmarks
2. Create a speak bookmark
3. Attempt to click on the speak bookmark in the window at the beginning of the verse, or try to highlight a portion of the verse with the speak bookmark.
3. WebView freezes/accepts no further input

[2021-05-26 14:03] RuggMatt opened #1094 "Re-opening app goes to default verse instead of the last verse I was on"
1. Open app
2. Go to a specific verse
3. Close/exit app
4. Reopen And Bible

Expected:
And Bible opens to last verse I was on

Actual:
And Bible defaults to John 3.16

Device info:
And Bible version: 3.4.523-beta#3386d58 (built 22/05/21 15:55:04)
Android version: 11
Android SDK version: 30
Manufacturer: Google
Model: Pixel 4 XL
Storage Mb free: 8233
WebView version: 91.0.4472.16
SQLITE version: 3.

[2021-05-26 14:08] timbze commented on #1094
This user had the same issue: https://support.andbible.org/scp/tickets.php?id=512

[2021-05-26 14:14] tuomas2 commented on #1094
Should check logcat for this, or perhaps @mattschlosser  could try to debug this with his device where issue reproduces easily.

[2021-05-26 14:20] RuggMatt commented on #1094
Seems to only happen if I have one bible installed.

Added a logcat to the ticket above.

[2021-05-27 07:39] #1094 closed, assigned to bvahedy

[2021-05-27 08:28] tuomas2 commented on #1082
data structure and label editing done in 5ed72eee3c78a159b47b9685bee147eabb2c6eb0

[2021-05-27 08:56] tuomas2 commented on #1081
I found out that this simplified procedure reproduces (from @bvahedy 's version)

Do first setup steps 1-3.

Then to reproduce, this is enough:
1. Do step 4
2. Do step 6
3. Tap first bookmark again. (Notice error in js console at this point)
 -> any further action do not work (buttons, etc.)

[2021-05-27 10:11] #1081 closed, assigned to nobody

[2021-05-27 10:28] tuomas2 commented on #60
I'm also kind of missing some shortcut keys when using tablet with bluetooth keyboard.

[2021-05-27 15:01] tuomas2 opened #1095 "Frequently used labels"
As suggested in #1059

[2021-05-27 15:07] tuomas2 commented on #1082
Actual implementation (showing underlines) not yet implemented. Implementing it later.

[2021-05-27 15:09] tuomas2 commented on #1082
It will look like this

![image](https://user-images.githubusercontent.com/5811789/119850865-97afd200-bf16-11eb-9517-9a7ed9be14cb.png)

(hiding checkboxes for now)

[2021-05-27 15:11] tuomas2 commented on #1095
Would it mean in practice "most used labels"? Those that have been assigned most?

[2021-05-27 21:21] bvahedy commented on #1081
Verified fixed in 524.1 build.

[2021-05-28 06:45] tuomas2 commented on #1028
- [x] Some strings are too long https://support.andbible.org/scp/tickets.php?id=533 #1138

[2021-05-28 07:23] agrogers commented on #695
Another similar issue

![image](https://user-images.githubusercontent.com/13920678/119945907-63511a00-bfd9-11eb-96cc-d02e0807f276.png)

[2021-05-28 07:36] tuomas2 commented on #695
too little space for these buttons I guess.
#1028

[2021-05-28 15:00] RuggMatt opened #1096 "Speech toolbar is missing after screen rotate"
1. Start speech playback
2. Rotate device orientation

Expected: Transport controls remain visible in new orientation

Actual: Transport controls no longer available

Device info:
And Bible version: 3.4.524-beta#2c87a9b (built 27/05/21 16:00:13)
Android version: 11
Android SDK version: 30
Manufacturer: Google
Model: Pixel 4 XL
Storage Mb free: 8163
WebView version: 91.0.4472.16
SQLITE version: 3.3

[2021-05-28 15:18] tuomas2 commented on #1096
related #1050

[2021-05-28 17:50] tuomas2 commented on #1028
Build 524 is now going to Play beta channel. It contains new translations from transifex that I pulled yesterday.

It contains some new features that are not yet translatable (strings are to be checked still).
We have also noticed that some strings need to be shortened and we are thinking about options for them.

[2021-05-28 23:31] bvahedy opened #1097 "Bookmarking same verse multiple times with a default lable should not be allowed..."
Running build 524.1:

Highlighted a word and selected bookmark verse. The default lable was assigned.
Repeating the step above adds additional bookmarks to the same verse. (See screenshot)

Expected result:
If a verse is already lables with the default lable do not add additional bookmark to the same verse.

![Screenshot_20210528-162443_Bible Study](https://user-images.githubusercontent.com/464058

[2021-05-29 01:31] agrogers opened #1098 "Creating a single bookmark actually created two bookmarks"
Applies to v3.4.524 (27/5/21)

![image](https://user-images.githubusercontent.com/13920678/120054068-191b7780-c071-11eb-8164-b5f9a9ed2652.png)

I deleted one and it deleted both. I tried again and got the same result. I added a note and it displayed like this:
![image](https://user-images.githubusercontent.com/13920678/120054106-5122ba80-c071-11eb-9cef-030e124b6016.png)

It's a one off issue so fa

[2021-05-29 01:38] agrogers opened #1099 "Sometimes very slow response when adding labels"
After using AndBible for a bit I found I was getting verrrryyyy slow response. It could take 20 seconds or more for a label that I had clicked on to show as selected. This initially meant that I thought I had miss-clicked so I clicked again, and again. These clicks all queued and so it made the problem even worse.

This video shows what I mean: https://photos.app.goo.gl/5wN8rRRw6LgnDfMD6
The audio

[2021-05-29 01:44] agrogers opened #1100 "Should the 'Set bookmark labels' dialog change the bookmarks only when it is closed?"
I raised this slowness issue here #1099

But I wonder whether it would be better to *not* apply any changes to the bookmark until the dialog is changed. I can currently see the verse color changing in the background as I add or remove labels. But this is really unnecessary - I don't need to see the actual verse change its highlight until the dialog is closed.  This would eliminate the slowness iss

[2021-05-29 01:49] agrogers opened #1101 "Weird screen redraw when it looses track of how big the document window is"
- Some examples are shown below.
- Restarting the app solves the problem.
- Using the latest beta.
- You can see the large white spaces where the window does not resize when windows are minimised or resized manually.
- Going fullscreen doesnt help
- Maximising doesnt help

![image](https://user-images.githubusercontent.com/13920678/120054516-b677ab00-c073-11eb-9f2f-8b5092696dfe.png)
![image](https

[2021-05-29 01:55] agrogers opened #1102 "Is the reason to limit the 'set bookmark labels' dialog to the size of the active window?"
You can see some examples below where I can't see parts of the dialog without scrolling. However there is plenty of space on the screen - it is just being used to display another window(s).

Is there a technical reason you are keeping the dialog inside the active window? If not, I think making that dialog appear in the center of the entire device screen (on phones at least) would be positive. You

[2021-05-29 02:21] RuggMatt opened #1103 "If chapter contains speak bookmark, attempting to open "My Notes" causes Bible View UI to freeze until restart"
1. Turn on speak bookmarking in speech settings
2. Create a speak bookmark by starting and then stopping the speech
3. Try to open My Notes document for the same chapter

Expected: My notes loads as expected. (**Note:** I don't think speech bookmarks should show here, just the regular bookmarks.)

Actual: Entire UI freezes. My notes does not load. Trying to switch to any other document does not wo

[2021-05-29 02:29] RuggMatt commented on #1103
Also happens if you load a **My Notes** chapter that does not contain a speak bookmark and then  swipe to a chapter that does.

[2021-05-29 02:32] RuggMatt commented on #1103
Similar to #1053

[2021-05-29 05:30] agrogers opened #1104 "Enhancement to 'Quick Label Assignment' dialog"
Good work on the new label dialog Tuomas. Here are a few thoughts for you...
![AndBible Suggestions label assign dialog](https://user-images.githubusercontent.com/13920678/120058647-c7ceb080-c08f-11eb-96f0-aa96a24982f8.png)

- It would be good to maintain consistency between all our menus and dialogs. No.4 image is an example. It has teal color headings in a small font and gray icons. I like the g

[2021-05-29 06:07] agrogers opened #1105 "When adding a new bookmark either the auto-assigned labels are added or the 'Bookmark labels' dialog is shown"
I can see where being able to auto-assign labels would be good - say when recording sermon notes or focusing on a particular topic. But my workflow has rarely been like that.

I always add a bookmark, then click it, then click the label, and now select the label from the new label dialog (or create a new label). I never leave a bookmark label set to 'Unlabelled'.

**What I think should happen is:*

[2021-05-29 06:17] tuomas2 commented on #1082
Implemented rest in 31f4b067f7de1d9639c1b681db5ac4410f3ebca6

[2021-05-29 06:17] tuomas2 commented on #1082
Included in build 524.3

[2021-05-29 06:33] agrogers commented on #1059
This one could be closed now. It is updated by #1104

[2021-05-29 06:39] #1059 closed, assigned to nobody

[2021-05-29 06:57] agrogers opened #1106 "Enhancement to Assign Labels list and dialog"
Thanks again for the updates and improvements. There is ample space now to show my longer labels which is good.
![AndBible Suggestions label list and dialog](https://user-images.githubusercontent.com/13920678/120061103-e4beb000-c09e-11eb-88b6-287ca4b7b960.png)

A few suggestions below:
For the list...
1. The list text is not quite centered vertically. It is a little high so it doesn't align with t

[2021-05-29 07:02] agrogers opened #1107 "Creating a new label during the 'assigning labels' workflow is not automatically assigned to the bookmark"
In the previous version you could create a new label and would automatically be assigned to the bookmark (the checkbox would be ticked). But the improved dialog does not automatically tick that box when creating a new label.

[2021-05-29 07:25] agrogers commented on #1082
Good work Tuomas. I didn't see your comment with screenshot from a few days ago until just now. Only suggestions that came to mind when i tested it just now was:

- [x] 1. The underline looks to be using the paler background color rather than the actual label color which is stronger. I think the underline is probably fine with the actual label color and maybe needed for some colors because the und

[2021-05-29 07:29] agrogers opened #1108 "Crash when creating a new bookmark with auto-assigning labels"
Reported here by me: https://support.andbible.org/scp/tickets.php?id=534

1. Chose a new label to be automatically assigned to new bookmarks via clicking on the coloured icon
2. Then added a new bookmark
3. Crash

[code]

[2021-05-29 07:32] agrogers opened #1109 "AndBible becomes unresponsive when bookmark with hidden workspace labels"
Reported here: https://support.andbible.org/scp/tickets.php?id=535

1. Highlight and bookmark verse
2. Create/Assign label to verse
3. Hide label for that workspace
4. Attempt to highlight the same verse again (I selected "bookmark verse" option in both cases).

Expected: modal is interactive/ responsive

Actual: modal/WebView freezes and becomes unresponsive when clicking the info button on the b

[2021-05-29 07:33] agrogers commented on #695
Untranslated strings...
![image](https://user-images.githubusercontent.com/13920678/120062153-01111b80-c0a4-11eb-8ead-fe1e62df2bb0.png)

[2021-05-29 07:36] agrogers opened #1110 "White window bug"
Reported here https://support.andbible.org/scp/tickets.php?id=530

White window.

What I did:
- Opened AB
- Switched to another worskpace
- Switched to another window within workspace
-> white window

--- KIRJOITA PALAUTE TAI BUGIRAPORTTI TÄMÄN RIVIN YLÄPUOLELLE ---

Ohjeet:
Kerro lyhyesti mitä teit / mitä tapahtui kun ongelma ilmeni.

Esimerkiksi:
  1. Avasin sovelluksen
  2. Napsautin ikkunavali

[2021-05-29 08:35] tuomas2 commented on #1082
Re-opening for the fixes.
(please re-open tickets if you add some tasks or something waiting for my response etc there, so they don't get forgotten :-) )

[2021-05-29 09:34] agrogers commented on #1082
Sure thing. Wasn't sure what the correct etiquette was for this.

[2021-05-29 09:40] tuomas2 commented on #1108
This was fixed in latest build

[2021-05-29 09:40] #1108 closed, assigned to bvahedy

[2021-05-29 09:47] tuomas2 commented on #1102
Modals are implemented in javascript / webview. That's a little uggliness of this implementation. Some dialogs could be implemented as native android dialogs, but js development is often much easier and faster  than native android.

[2021-05-29 09:48] #1102 closed, assigned to nobody

[2021-05-29 10:54] tuomas2 commented on #1099
Does this happen always (even after restarting app) when there are a lot of bookmarks open in the view, or does it happen after long use of And Bible only?

[2021-05-29 11:46] agrogers commented on #1099
- Restarting AndBible restores the speed back to normal.
- It is not consistent so its hard to say under what conditions it happens.
- But it feels that the longer i use it the slower it becomes. This is not new with the latest few releases. This has been the case for weeks.
- However it had never been as bad as it was today where there was 20 second or more delays before the screen refreshed. I n

[2021-05-29 12:18] timbze opened #1111 "Add back (up) button to "Select workspace" window"

[2021-05-29 13:26] timbze commented on #1083
It seems this issue always happens when one of the links is a full chapter. The OP issue is Isa 60:1-22, but that IS the full chapter.

Maybe when link is a full chapter or more, then show a link to load chapters instead of trying to load it all? Not sure what is the best thing to do.

[2021-05-29 13:56] tuomas2 commented on #1099
When this slowness takes place next time (in a clear enough way), please report bug via main menu -> report bug so we get logcat. It might reveal something.

[2021-05-29 14:50] timbze commented on #966
Play store log: https://play.google.com/console/u/0/developers/6727655833913220393/app/4974350217168681006/vitals/crashes/27a631ad/details

Not happening that often, but still has 15 occurrences in last 30 days

[2021-05-29 15:31] timbze commented on #1074
The code that caused this has not changed yet in 3.4, so it could be happening in 3.4 as well... But there's only 6 instances of this crash in [Play store log](https://play.google.com/console/u/0/developers/6727655833913220393/app/4974350217168681006/vitals/crashes/0daf9722/details?days=30), and I can't figure out how to reproduce.

[2021-05-29 16:37] timbze commented on #1028
I think in this place it is an Android system word, right @tuomas2? Weird that Android would not have that translated.

[2021-05-29 16:56] bvahedy commented on #1110
This bug doesn't seems to be happening any more, I'm running 524.3 build. But I also did a complete fresh install.  Can someone else try to see if this is still an issue?

[2021-05-29 17:54] tuomas2 commented on #1028
coming from 3rd party package probably

[2021-05-29 17:55] tuomas2 commented on #1110
it is not easily reproducible. ill check logcat

[2021-05-29 17:56] tuomas2 commented on #1110
but it is not fixed

[2021-05-29 23:42] Dleemuse opened #1112 "Trouble deleting bookmark labels & bookmarks"
It took me 5-10 minutes to delete bookmarks labels & bookmarks from verse(s). This happened several times for different labels & verse(s).

Thanks,

Debra

[2021-05-29 23:47] Dleemuse opened #1113 "Bookmark labels showing up for verse(s) that were NOT assigned to the verse(s)"
Sorry, I didn't get a screen shot.

For exame, four labels appeared when clicking on selected verses that have been only been bookmarked with 2 different labels.

Thanks,

Debra

[2021-05-29 23:51] Dleemuse opened #1114 "Screen Freezing"
When trying to highlight verse(s), screen freezes (and AB crashed once), no highlight appears. Hitting back button & coming back to desired verse fixed the problem several times, except when AB crashed.

Thanks,

Debra

[2021-05-30 00:02] Dleemuse opened #1115 "Bookmark labels not in alphabetical order"
I thought maybe it did not like lowercase 's' in satan, so I edited it with a uppercase 'S,' but it didn't make the edit, nor did it move the label into alphabetical order.

![Screenshot_20210529-183607_Bible Study](https://user-images.githubusercontent.com/83124765/120087765-5521fd00-c0b0-11eb-877d-52be6ad789de.jpg)

Thanks,

Debra

[2021-05-30 00:14] Dleemuse commented on #1113
The only fix I could find for this problem was completely deleting the 2 labels that were not assigned to the verse(s).

This problem happened a couple of times on different bookmarked verse(s).

[2021-05-30 06:23] tuomas2 commented on #1114
When freezing happens, it would be helpful if you used main menu -> repprt a bug feature, so we can get logcat to be inspected.

[2021-05-30 06:32] tuomas2 commented on #1114
Probably duplicate of #1099

[2021-05-30 06:33] tuomas2 commented on #1112
How did the app behave for 5-10 minutes? Total lockdown? Also here if might be helpful if you used main menu -> report a bug

[2021-05-30 06:33] tuomas2 commented on #1112
Maybe related also: #1099

[2021-05-30 11:37] timbze commented on #979
Also happens at the end of more books, e.g.:
Romans
1Cor
2Cor
Galatians
Ephesians
Philippians
Colossians

[2021-05-30 15:56] bvahedy commented on #979
Timmy, I believe this is an issue with the KJV module.
it doesn't happen with any other modules.

[2021-05-30 18:07] timbze commented on #979
Though there is something odd with the module, AB 3.3 shows it correct, as does Xiphos.

[2021-05-30 18:36] tuomas2 commented on #979
We can investigate that but I don't think it's good idea to try to workaround module oddnessess unless they are something super significant (and module itself can't be fixed). KJV module could be revised if we can indicate what's wrong with it.

[2021-05-31 19:54] Dleemuse commented on #1112
I don't believe this problem is related to #1099.

For 5-10 minutes I kept trying to delete bookmark labels & verse highlighting. The app itself did not lock up, but it was like the delete action was not working. After attempting to delete, the highlight would still be there. And when trying to delete a bookmark label, it would not delete. I kept trying to delete both for 5-10 minutes, & it finall

[2021-05-31 19:58] Dleemuse commented on #1114
This is possibly related to #1099.

Debra

[2021-06-01 02:58] agrogers commented on #1099
I have been using andBible for an hour or two and have added maybe 10 bookmarks. Now when selecting a label from the Favourites list I have to wait about 20 seconds for the screen to update.  (https://support.andbible.org/scp/tickets.php?id=538)
[logcat (2).txt.gz](https://github.com/AndBible/and-bible/files/6573060/logcat.2.txt.gz)

[2021-06-01 02:59] agrogers commented on #1099
I just restarted And Bible and the label adding is almost instant.

[2021-06-01 03:00] agrogers commented on #1099
Adding label from full list took over 30 seconds (https://support.andbible.org/scp/tickets.php?id=542)
[logcat (3).txt.gz](https://github.com/AndBible/and-bible/files/6573063/logcat.3.txt.gz)

[2021-06-01 03:01] agrogers commented on #1099
After sending bug report, adding a label from the full list was fast. Weird. (https://support.andbible.org/scp/tickets.php?id=543)
[logcat (4).txt.gz](https://github.com/AndBible/and-bible/files/6573066/logcat.4.txt.gz)

[2021-06-01 03:03] agrogers commented on #1101
I just got the incorrectly sized windows (whitespace at the bottom). It happened when I hid one window and then showed another quite quickly. After it happened the scroll response was quite bad.  (https://support.andbible.org/scp/tickets.php?id=540)
[logcat (5).txt.gz](https://github.com/AndBible/and-bible/files/6573070/logcat.5.txt.gz)

[2021-06-01 03:05] agrogers commented on #1101
Amazingly after submitting a bug report the windows have completely restored themselves - no white space - and scroll response is normal.  This also happened with the slow label adding https://github.com/AndBible/and-bible/issues/1099#issuecomment-851769882
(https://support.andbible.org/scp/tickets.php?id=539)
[logcat (6).txt.gz](https://github.com/AndBible/and-bible/files/6573072/logcat.6.txt.gz)

[2021-06-02 17:13] timbze opened #1119 "Commentary jumps to top after clicking link and adding bookmark"
https://support.andbible.org/scp/tickets.php?id=545

**Describe the bug**
Commentary jumps to top after clicking link and adding bookmark.
It can be reproduced with any commentary.

1. Select a label to auto assign and make it primary auto assign label.
2. Scroll down in commentary and click a Bible reference link so that special window opens
3. Add a bookmark in special window that just opened
4.

[2021-06-02 18:09] tuomas2 commented on #1119
Also studypad jumps

[2021-06-02 18:45] #1119 closed, assigned to bvahedy

[2021-06-03 06:35] tuomas2 commented on #1113
Next time this happens, please do main menu > bug report, so we get screenshot and logcat

[2021-06-03 06:52] tuomas2 commented on #1104
Two different styles come from the fact that we are dealing with Android native code and JS code. JS side could try to mimick the Android native side, but how Android native side looks, varies based on what android version etc you are using, so it would not be 100% consistent.

- [x] > We need the same vertical spacing between labels as we have horizontal spacing (approx 3px).
- [x] > The white te

[2021-06-03 07:25] tuomas2 commented on #1104
Hmm I think this is now "good enough" to my taste, so closing :-) Thanks again for ideas!

[2021-06-03 07:25] #1104 closed, assigned to nobody

[2021-06-03 10:39] tuomas2 commented on #1106
- [x] > The list text is not quite centered vertically. It is a little high so it doesn't align with the checkbox.

Tried to fix this but it looks like it does not quite like to go to center.

- [x] > Change the Star icon to the bookmark icon which we use elsewhere to indicate a primary label.

Still TODO

- [x] The colored icon next to the label name is the auto-assign icon. It should be a normal

[2021-06-03 11:05] #1106 closed, assigned to nobody

[2021-06-03 11:34] agrogers commented on #1032
I think this was an issue with workspace visible labels that made it look like something was disappearing.

[2021-06-03 11:34] #1032 closed, assigned to agrogers

[2021-06-03 12:03] tuomas2 commented on #1035
I believe this is now satisfactorily implemented

[2021-06-03 12:03] #1035 closed, assigned to nobody

[2021-06-03 12:42] #1082 closed, assigned to nobody

[2021-06-03 12:43] tuomas2 commented on #1082
Moved icons to left side so that text can flow to 2 lines if needed (depends on device and language). (could be done otherwise, but this was simpler)

[2021-06-03 12:51] #1115 closed, assigned to bvahedy

[2021-06-03 14:07] tuomas2 commented on #1088
Fixed in b8ecad463bf0ea269dae048b9eb5f6bc0e15cb04

[2021-06-03 14:07] #1088 closed, assigned to nobody

[2021-06-03 14:09] Dleemuse commented on #1113
I will use main menu bug fix next time.

[2021-06-03 14:11] #1087 closed, assigned to nobody

[2021-06-03 14:11] tuomas2 commented on #1087
I'm not yet sure what I think about widening modals to much, but I'll give it a try.

[2021-06-03 14:14] Dleemuse commented on #1115
Tuomas, I received your email saying #1115 is closed. Does that mean it has been fixed? My bookmark labels are still not in alphabetical order 
Thanks, 
Debra

Sent from Yahoo Mail on Android

  On Thu, Jun 3, 2021 at 7:51 AM, Tuomas ***@***.***> wrote:

Closed #1115 via 7322a4f.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscr

[2021-06-03 14:23] tuomas2 commented on #1115
It's fixed in develop branch. It will be included in next beta build.

[2021-06-03 14:31] tuomas2 opened #1120 "Modal close button overlaps with window button"
@agrogers

![image](https://user-images.githubusercontent.com/5811789/120661905-5af15700-c491-11eb-9093-b4422cda76d6.png)

I fixed this by lowering the modal a little. Better ideas?

![image](https://user-images.githubusercontent.com/5811789/120662013-75c3cb80-c491-11eb-8520-99e5899c082d.png)

[2021-06-03 14:42] tuomas2 commented on #1110
Couldn't reproduce still but found something that could cause it in some weird condition.

[2021-06-03 14:43] tuomas2 commented on #1110
Closing until it raises its head again

[2021-06-03 14:48] tuomas2 opened #1121 "Label picker causes freeze"
Not sure if I reported this but the label picker doesn't work. It has been happening for a while.  Haven't heard of anyone else having this issue though. Not sure why it is only me.

1. Open And Bible
2. Highlight and bookmark verse
3. Click on "Unlabelled" label to pick labels

Expected: label picker opens

Actual: Bible WebView UI freezes

Reported here: https://support.andbible.org/scp/tickets.

[2021-06-03 14:50] tuomas2 commented on #1121
@mattschlosser unfortunately logcat does not reveal anything interesting here.
Can you reproduce this easily?
Could you try to do some js debugging to see if you can find anything useful debug info?
Maybe also enabling app preferences -> show javascript error box and making bug report again from main menu -> bug report might give more info.

[2021-06-03 15:02] tuomas2 commented on #1114
Closing as duplicate of #1099

[2021-06-03 15:02] #1114 closed, assigned to bvahedy

[2021-06-03 15:04] tuomas2 commented on #1100
It is not root cause for slowness as restarting / refreshing app helps. I like to keep it reactive for now.

[2021-06-03 15:04] #1100 closed, assigned to bvahedy

[2021-06-03 15:07] tuomas2 commented on #1109
Can't reproduce this.
@mattschlosser  is this easily reproducible for you?

[2021-06-03 15:10] tuomas2 commented on #1090
Fixed

[2021-06-03 15:10] #1090 closed, assigned to bvahedy

[2021-06-03 15:12] tuomas2 commented on #1084
Can't reproduce.

Tried with KJV

![image](https://user-images.githubusercontent.com/5811789/120668501-313b2e80-c497-11eb-885d-cd2678c042dc.png)

[2021-06-03 15:37] timbze commented on #979
The odd part is with the eBible module. AB only shows eBible module for KJV, and I'm guessing it is because of a higher version number.

I imported the KJV zip from Crosswire, and the verse number is correct on that one, but the "Written from..." text at the end looks like it is part of the last verse. But that's a separate issue that could/should be fixed with how AB renders it.

So I think we ne

[2021-06-03 15:44] RuggMatt commented on #1121
I can reproduce this one everytime. Remote debugging also doesn't provide any useful info.

[2021-06-03 15:44] RuggMatt commented on #1109
Can't reproduce this anymore in latest beta build.

[2021-06-03 15:48] tuomas2 commented on #1049
Implemented in 602956ac64841891774adf242dd5841257ab9678 but bit different UI

[2021-06-03 15:48] #1049 closed, assigned to nobody

[2021-06-03 16:15] tuomas2 commented on #1083
Something is wrong, after clicking this link and scrolling up I get

![image](https://user-images.githubusercontent.com/5811789/120677636-f689c400-c49f-11eb-94d4-6dada9f09522.png)

[2021-06-03 17:18] #1083 closed, assigned to bvahedy

[2021-06-03 17:33] tuomas2 commented on #1028
Pushed some new strings to transifex due to new / improved features.

[2021-06-03 17:35] tuomas2 commented on #979
I wonder if the module with same id exists in multiple repositories, should we show them all to users or somehow allow them to choose from where to download? Bit confusing...

[2021-06-03 17:42] timbze commented on #979
The "id" is different, but short name KJV is the same

[2021-06-03 23:49] RuggMatt commented on #1121
More specific reproduction steps:
- create some bookmarks/labels, etc. to backup
- back up And Bible module
- back up And Bible database
- clear data for app
- restore And Bible module from start screen
- restore And bible database with bookmarks/labels from menu
- click on any label in the bookmark modal

Expected: label picker opens
Actual: WebView UI freezes

Oddly, if i first restore the datab

[2021-06-04 00:15] bvahedy commented on #1084
It used to work with HiSB in prior builds, nothing has changed with hisb, but could it have something to do with introduction of choosing what morphology to use in the app settings.

[2021-06-04 02:24] uniqueid001 opened #1123 "genbook formatting is not handled"
**Describe the bug**
The formatting of the content of a genbook is absent when viewed in AndBible:  headings, line breaks, unordered lists, hyperlinks (and possibly more).

**Bug was found on And Bible version**
Version 3.3

**To Reproduce**
Steps to reproduce the behavior:
1. Download BaptistConfession1689
2. Open it

**Expected behavior**
The formatting of the text to be preserved and presented.

[2021-06-04 03:10] timbze commented on #1123
See #689.

I think it's true that we need to implement more genbook features, but I think LBC 1689 is mostly module issue. See chapter 2 and 3, they seemingly don't have the issue that "Content", "Foreword", and chapter 1 have.

It's true that xiphos handles this better, but I don't think it makes sense for us to hack bad xml to show it correctly.

It seems that crosswire may have lost the source

[2021-06-04 03:13] bvahedy opened #1124 "Windows synchronization is broken..."
Running build of 525.1 beta:

Having two windows open which are synched.  Tap on the top window and move up couple of verses. The bottom window should move to the same verse as the to window but it does not.
If you swipe left to go to the next chapter then both windows jump to the first verse of the next chapter. But the synch is still broken.

[2021-06-04 06:12] #1124 closed, assigned to nobody

[2021-06-04 06:17] tuomas2 commented on #979
if id is different but only abbreviation is same I guess we could have them both shown in download screen

[2021-06-04 06:25] tuomas2 commented on #1110
Fix caused this: https://support.andbible.org/scp/tickets.php?id=552

[2021-06-04 12:21] agrogers commented on #1120
I had noticed this too. My first thought was to change the z-index of the
modal window so that it appears above the window buttons.

On Fri, 4 Jun 2021, 12:31 am Tuomas Airaksinen, ***@***.***>
wrote:

[2021-06-04 12:22] agrogers commented on #1087
I like the what you have done. I would be happy with it even wider 😏

On Fri, 4 Jun 2021, 12:11 am Tuomas Airaksinen, ***@***.***>
wrote:

[2021-06-04 12:25] tuomas2 commented on #1120
Window buttons are on android side, modal js-side inside webview, so not possible...

[2021-06-04 12:27] tuomas2 commented on #1087
Current version has the fix reverted (partially). if you want to try how the original wide version feels, install this one: https://github.com/AndBible/and-bible/releases/tag/beta-525

[2021-06-05 05:44] tuomas2 commented on #1110
Similar from @bvahedy https://support.andbible.org/scp/tickets.php?id=558

[2021-06-05 11:06] tuomas2 commented on #1121
I fixed one other freezing issue reported by @agrogers an dI'm thinking it might be same root cause as this. Can you tell if this reproduces with the latest build (just released)?

[2021-06-05 11:29] RuggMatt commented on #1121
@tuomas2 I cannot reproduce this anymore in the latest build.

[2021-06-05 11:29] #1121 closed, assigned to bvahedy

[2021-06-05 11:45] tuomas2 commented on #1121
it was issue with very specific label color

[2021-06-05 18:02] bvahedy commented on #1110
Try this steps to reproduce:
make sure you have at least more than two synch windows, but only one is displayed and the rest are minimized.

1) tap and hold on the speak icon on the top menu.

2) check the sleep timer and select 1 minute.

3) tap on the play icon.

4) stop the speak by tapping the stop button. If the speak toolbar is missing, (that's another fix that needs to happen), double tap t

[2021-06-05 18:58] tuomas2 commented on #1110
Still happens with the latest build (https://github.com/AndBible/and-bible/releases/tag/beta-525.4)?

[2021-06-05 22:25] bvahedy commented on #1110
Yes, still happens with the latest build.

On Sat, Jun 5, 2021, 11:58 AM Tuomas Airaksinen ***@***.***>
wrote:

[2021-06-06 01:56] bvahedy opened #1125 "When creating a new lable the name is blanked out..."
Running latest beta build 525.4:
When creating a new lable. Type a name for the lable then tap to edit the color. Upon returning from selecting the color the name of the lable is blanked out.

[2021-06-06 02:27] agrogers commented on #1125
Oh, yes, I have seen that too.

___________________________
*www.TenOutOfTen.org* <https://www.TenOutOfTen.org>
***@***.***
(+61) 0477 174 193 (Australia)
(+95) 09 250018669 (Myanmar)

On Sun, 6 Jun 2021 at 11:56, Ben ***@***.***> wrote:

[2021-06-06 06:16] bvahedy commented on #1125
It bugged me enough that I decided to create a bug ticket for it.😁

On Sat, Jun 5, 2021, 7:27 PM Andrew Rogers ***@***.***> wrote:

[2021-06-06 20:41] tuomas2 opened #1126 "Make And Bible work better with e-ink devices"
BOOX Note Pro with Android 9 installed. As I have the AndBible app
installed on my mobile phone, I am basically already used to the design and
would love to be able to use it on the E-Ink tablet as well (as this is the
primary device for my Bible studies). For now, the contrast of the top
navigation bar is so low, that the icons can't be seen at all. That's by
now means a complaint, just an idea o

[2021-06-07 06:14] agrogers commented on #1126
I've been thinking that being able to choose your own colour for the interface would appeal to some and might make it a more desirable app for those users. And Bible I see more as a tool to get work done and is prepared to sacrifice some aesthetic elements for functionality. That is my preference too.

But being able to choose a color other than gray as the main interface color might work. That se

[2021-06-09 05:48] agrogers commented on #1099
Performance has been much better for me on the 3.4.526 beta. I haven't used it as much so not a perfect test. But so far so good.

[2021-06-09 05:58] agrogers commented on #1085
Thanks Ben. I found that too. I should remember to also include that info when I post an issue.

[2021-06-09 06:00] agrogers commented on #1086
I think this has been resolved now.

[2021-06-09 21:46] timbze opened #1127 "Update images for app stores"
4.0 release should get updated images for the app stores:
- [x] Google Play
- [x] F-Droid
- [x] Amazon
- [x] Huawei
- [x] Samsung

We need graphics
- [x] featureGraphic.png 1,024 px by 500 px
- [x] 8 phone screenshots

Upload 2–8 phone screenshots
PNG or JPEG
16:9 or 9:16 aspect ratio
Each side between 320 px and 3,840 px
Up to 8 MB per screenshot

- [x] max 8 seven inch screenshots

Upload up to

[2021-06-10 09:36] #1111 closed, assigned to nobody

[2021-06-10 12:18] #1099 closed, assigned to bvahedy

[2021-06-10 12:20] tuomas2 commented on #1099
This is was easy to reproduce by adding and removing same label many times in Bookmark labels modal. Just tap same label for maybe 10-50 times and slowness appears.

[2021-06-10 18:15] tuomas2 commented on #1125
Fixed

[2021-06-10 18:15] #1125 closed, assigned to nobody

[2021-06-10 18:16] tuomas2 commented on #1123
As @timbze mentioned, this is issue in module. Module needs to be updated.

[2021-06-10 18:16] #1123 closed, assigned to bvahedy

[2021-06-10 18:18] tuomas2 commented on #1110
Reproduced

[2021-06-10 18:20] tuomas2 commented on #1110
Step 2 is not needed

[2021-06-10 19:20] #1110 closed, assigned to nobody

[2021-06-11 06:56] tuomas2 opened #1128 "Order books horizontally does not work properly"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to bible book selector
2. From options menu choose "Order books horizontally" -> order chages correctly
3. Go back from book selector
4. Open book selector again
Actual: Books are ordered vertically although option is saved correctly in options menu
Expected: Books are ordered vertically according to the setting

[2021-06-11 06:57] tuomas2 commented on #1128
@jmarsican would you like to fix this and make a pull request?

[2021-06-11 08:02] agrogers opened #1129 "Problem with list numbering in verse notes"
As you can see when I open a note that is attached to a verse, sometimes the numbered list shows up incorrectly. In this list, I have approximately 55-60 numbered points. After 1-9, it reverts to 0-9, then 0-9 again, and again & so on until the end of my numbered points.

![image](https://user-images.githubusercontent.com/13920678/121652553-1bed8200-cadf-11eb-85fa-3aedb2965a37.png)

Reported here:

[2021-06-11 08:11] bvahedy commented on #1125
Verified fixed in the latest beta build 527.

[2021-06-11 08:14] bvahedy commented on #1124
Verified fixed in beta build 527.

[2021-06-11 08:20] bvahedy commented on #1110
Verified fixed in beta build 527.

[2021-06-11 08:22] agrogers opened #1130 "Can the color of the Note and Whole Verse buttons be improved?"
Below is a good example where I feel the current color choice for those two buttons is a little unclear. This is somewhat related to #1040

Basically, I dont think we should use a color other than gray for the buttons because its conveys the wrong idea. I think we should use the label color consistently - or use gray. So the blue whole-verse button and blue notes button should be changed to someth

[2021-06-11 08:54] agrogers opened #1131 "Title ref has got abbreviated somehow (it should not)"
See: https://support.andbible.org/scp/tickets.php?id=546

[2021-06-11 08:56] agrogers commented on #1127
Yes, we can get some colourful images now. Can I help with this?

[2021-06-11 08:59] tuomas2 commented on #1127
Screenshots should not be taken until very late moment because UI can still change
Screenshots and marketing images can be updated via pull request (they are under `fastlane/metadata/android/en-US/images`)

[2021-06-11 09:35] tuomas2 commented on #1127
I also started this: https://github.com/AndBible/and-bible/pull/803, if someone wishes to continue, feel free! (I am not planning to do anything about it in the (near) future).

[2021-06-11 12:51] timbze opened #1132 "Show both KJV and engKJV2006eb in "Download documents""
From #979

In Download documents screen, KJV and engKJV2006eb are merged into one, probably because their abbrev. name are both "KJV". Only the highest version is shown, which in this case is "engKJV2006eb" from eBible. But Crosswire's "KJV" seems to be in better shape.

- [x] Show both in Download documents
- [x] Make KJV the preferred download (in https://github.com/AndBible/data/blob/master/rec

[2021-06-11 12:55] timbze opened #1133 "Fix footer in "KJV" module ending of books"
From #979

Crosswire's KJV module shows end of chapter footer as regular part of verse, but it should be separate.
![image](https://user-images.githubusercontent.com/35117769/121689478-e1093100-ca81-11eb-871b-f253091e210d.png)

Here's the diatheke output for Col 4:18 for Crosswire's module (so it should definitely be possible to separate the ending text at least how it looks to me).

[code]

[2021-06-11 12:55] timbze commented on #979
Closing this in favor of the 2 replacement issues that came out of this

[2021-06-11 12:55] #979 closed, assigned to nobody

[2021-06-11 14:40] #1120 closed, assigned to agrogers

[2021-06-11 22:45] jmarsican commented on #1128
Oh my bad! I thought I already tested such scenario. Surely I'll try to fix it this weekend

[2021-06-12 12:48] agrogers opened #1134 "Categories in the Label list have been lost"
![Screenshot_2021-06-12-22-46-07-259_net bible android activity](https://user-images.githubusercontent.com/13920678/121776458-51be6380-cbd0-11eb-822b-2e12834f6fcd.jpg)
![Screenshot_2021-06-12-22-45-47-259_com google android gm](https://user-images.githubusercontent.com/13920678/121776459-54b95400-cbd0-11eb-94ba-70b7714450a7.jpg)

[2021-06-12 12:58] agrogers opened #1135 "Do not update the Label list when a selection is made"
At present when a label is selected the list is immediately updated and so the newly selected label disappears and is moved to the very top into the active labels group.

This can be disconcerting - it seems either like my click did not work because there is nothing selected on screen or 'what, my label just disappeared!'

Of course one gets used to it disappearing but I think a better solution is

[2021-06-12 13:16] agrogers opened #1136 "The small helper icons in the Label dialog go bright red sometimes"
This has happened once when creating a new label and once when editing the color of an existing label. I would also consider making those icons a little smaller.

![Screenshot_2021-06-12-23-11-12-280_net.bible.android.activity.jpg](https://user-images.githubusercontent.com/13920678/121777176-060db900-cbd4-11eb-99b9-836785ea237a.jpg)

It looks normal when going back into the dialog as shown below.

[2021-06-12 14:13] agrogers commented on #1040
The best example as to why this probably needs to be modified. The buttons on the gray background are completely invisible.

![Screenshot_2021-06-12-19-35-12-050_net.bible.android.activity.jpg](https://user-images.githubusercontent.com/13920678/121778829-1a55b400-cbdc-11eb-810c-97277cb4a6be.jpg)

[2021-06-12 14:15] agrogers commented on #1130
The same color choices should also apply on this form (ie the blue button replaced with green when the whole verse option is active)

![Screenshot_2021-06-13-00-14-22-366_net.bible.android.activity.jpg](https://user-images.githubusercontent.com/13920678/121778907-7ddfe180-cbdc-11eb-814b-55ce46bb79d6.jpg)

[2021-06-12 14:27] agrogers opened #1137 "Display of note is different in the 'Bookmark and Notes list'"
The note should look like this :
![Screenshot_2021-06-13-00-25-25-839_net.bible.android.activity.jpg](https://user-images.githubusercontent.com/13920678/121779251-25114880-cbde-11eb-9ff9-0826daea8d24.jpg)

But instead it looks like this:
![Screenshot_2021-06-13-00-25-42-763_net.bible.android.activity.jpg](https://user-images.githubusercontent.com/13920678/121779269-2e021a00-cbde-11eb-9a75-42621271

[2021-06-12 14:57] tuomas2 commented on #1134
I don't quite get how second pic is related to first one (I think that second pic issue was fixed already).

First pic I could reproduce.

[2021-06-12 15:04] tuomas2 commented on #1136
I made them as "SpannedImages" to the end of text, but couldn't figure out how to change their size.. Android-side tuning is sometimes trickier than I would like.

Color issue: we should figure steps to reproduce.

[2021-06-12 15:04] tuomas2 commented on #1136
Grey is proper color

[2021-06-12 15:11] tuomas2 commented on #1040
Hmm. Not sure how to fix this one. If background color can be almost anything, then there's not really any way to prevent that sometimes colors are "incompatible" (unless we use inverse colors or something similar). Perhaps there's some smart way to do this...

[2021-06-12 15:13] tuomas2 commented on #1040
Oh now I see suggestions from pics. obsoleted my previous comment.

[2021-06-12 15:19] tuomas2 commented on #1137
This is something it's difficult to fix properly. You can display rich text / html in Android's TextView but it's not always so pretty. But I guess it's better to show something rather than nothing? Or should we just display with some icon that there's some notes inside and user should click bookmark item and go and see it in webview?

[2021-06-12 15:31] tuomas2 commented on #1129
This might be tricky to fix.

Can you reproduce this?

[2021-06-12 15:33] tuomas2 opened #1138 "Strings that need to be shortened / simplified"
In order to make it possible to keep menu item titles short enough even when translating to different languages, we should shorten them. Preferrably 1-2 word titles.

- "Auto-assign & Favourite Labels" in 3dot-menu
- Share, Backup & Restore data in main menu, and it's submebu items
- Titles in Application preferences (those need to be gone through - they can be a little longer, but at least some o

[2021-06-12 15:46] tuomas2 commented on #1138
@AndBible/developers  @AndBible/contributors  Suggestions welcome to these.
We should come up with something 1-2 word titles preferrably.

[2021-06-12 16:13] timbze commented on #1138
I've been thinking for "Backup & Restore" it would be nice to just have that, and open an activity where you can pick the options about what to do. But I have not thought up a design for that screen yet.

[2021-06-12 16:24] tuomas2 commented on #1131
https://support.andbible.org/scp/tickets.php?id=474

[2021-06-12 17:13] tuomas2 commented on #1138
Maybe even alert dialog based would do

[2021-06-12 17:35] timbze opened #1139 "Webview version is too old (null) Kindle Fire HD 10 (7th Gen)"
https://support.andbible.org/scp/tickets.php?id=577
The bug report reports I have version 84 of webview, but for some reason the code check gets null.

Device info:
And Bible version: 3.4.527-beta#1eb8c92 (built 12/06/21 06:29:58)
Android version: 5.1.1
Android SDK version: 22
Manufacturer: Amazon
Model: KFSUWI
Storage Mb free: 17649
WebView version: 84.ship_v84-93-Arcanine.4147.125.180
SQLITE ver

[2021-06-12 19:38] tuomas2 commented on #1139
Hmm. Similar issues can happen on all devices that do not contain standard Google's WebView (probably those devices that do not have Google Play).

[2021-06-12 21:13] RuggMatt commented on #1138
Perhaps "Auto-assign & Favourite Labels" could be something like "Label Settings"

[2021-06-12 21:19] RuggMatt opened #1140 "Empty Modal after deleteing all bookmarks in a multi-bookmark modal"
After deleting all the labels in a multi-bookmark modal, the bookmark modal remains open with an empty list.

Should probably just automatically close the modal if the last label is deleted

![Screenshot_20210612-151504](https://user-images.githubusercontent.com/8870594/121789244-92e35300-cb91-11eb-9004-b2c7f1cf3919.png)

[2021-06-12 22:43] agrogers commented on #1137
I wondered if that were the case. I don't think it is a big issue. It's good enough for me. And yes, I think showing the note is better than showing nothing.

[2021-06-12 22:47] agrogers commented on #1040
Personally I quite like the way the background color is currently implemented but there have been more than a few times when the colors have clashed badly. So I think a change is warranted.

[2021-06-12 22:50] agrogers commented on #1134
Um, they might not be related actually. But it seemed like the headings had got messed up in some way in both - although I couldn't understand the text so I was guessing. Glad to hear it is fixed.

[2021-06-13 07:21] tuomas2 commented on #1134
fixed

[2021-06-13 07:21] #1134 closed, assigned to nobody

[2021-06-13 12:10] timbze commented on #1139
The bug report has this: `WebView version: 84.ship_v84-93-Arcanine.4147.125.180`

So I'm guessing the version number could be parsed, but maybe would have to be done different from Google's webview...

[2021-06-13 12:13] timbze commented on #1139
Another issue, perhaps this should be a new issue... On this same device, I can only select 1 word. The arrows at the end of the selection do not come up. I can "Compare" and "Share/copy" with 1 word selected, but clicking "Bookmark" or "Bookmark verse" does not work, nothing happens.

Is this related to webview? Or is it because of old android version? Other apps can select more than 1 word thoug

[2021-06-13 13:14] tuomas2 commented on #1139
screenshot and perhaps new issue for this?

[2021-06-16 07:00] tuomas2 commented on #1139
One thing I can't understand. why it says "null" in the title? The code is net/bible/android/view/activity/StartupActivity.kt:154 (checkWebView)

and it looks that it gives null for  `WebViewCompat.getCurrentWebViewPackage(applicationContext)?.versionName` here, but proper version number in ErrorReportControl.kt:162 (createErrorText).

Do you have the device permanently so you can do further tests

[2021-06-16 07:04] tuomas2 commented on #1139
Parsing `84.ship_v84-93-Arcanine.4147.125.180` produces correctly 84, so parsing is not a problem here.

[2021-06-16 07:07] tuomas2 commented on #1139
Can you try with tag build-527-kindlefire1 (build triggered)?

[2021-06-16 10:47] agrogers opened #1141 "Issue when deleting an already assigned label"
After bookmarking a verse. Then tapping on the unlabeled bookmark and assigning it a new lable. When the lable is deleted from the "manage lables"  menu screen, the verse associated with that lable is still highlighted and it still caries the deleted lable name. If the user taps to select another lable the old lable will not be listed since it was deleted but the user may not remember that.
I can'

[2021-06-16 10:50] agrogers opened #1142 "Unable to find message when doing a find all occurrences under particular scenario involving Strongs numbers"
When you tap on strong's no. and it opens in  a linked window that had already been opened and had other views for other Bible texts or other commentary links, then I get this unable to find message when doing a find all occurrences.

This problem has been happening for a long time now but don't know if anyone else has encountered it. Hopefully the logcat will show something.
The only way to recov

[2021-06-16 10:57] agrogers opened #1143 "Not picking up the correct morph code"
Looking at Matthew 1:2
I believe Andbible is not picking up the right morph code for kjv.
(See attached screenshot)

As I had already complained that when tapping on the HiSB morph does not automatically open a window, a function that used to work, but by tapping and holding the code and selecting to open the link in a new window it does correctly display the morph code from the dictionary.
Howeve

[2021-06-16 16:32] timbze commented on #1139
Tested now and still has the same issue

[2021-06-16 16:32] timbze commented on #1139
Yes, it's my device

[2021-06-17 06:31] agrogers commented on #1129
Some additional screenshots are in this ticket here: https://support.andbible.org/scp/tickets.php?id=563
Also, @tuomas2 , the database file with this problem can be found there as well.

[2021-06-17 06:34] tuomas2 commented on #1138
Opinions:
- "Active labels" -> "Selected labels"?
- "Underline style for normal bookmarks" -> Underline style for selection bookmarks" (compare to "whole verse bookmarks")?
- In selection menu, there's "Bookmark verse". Should "Bookmark" be renamed to "Bookmark selection" or "Bookmark this" or what do you think? Or maybe abbreviated versions: "Bookmark" and "Verses" (user need to make a little gue

[2021-06-17 06:45] agrogers commented on #1138
I will have a good look at it this weekend.

[2021-06-17 08:44] tuomas2 commented on #1138
Backup related: 94183afac473ae4b7c719962262bf9e5e2155c91

[2021-06-17 09:53] tuomas2 commented on #1139
I don't know but I fear that that device might show correct info only after bibleview has been used (?). Then I don't know how to fix this. Could be also bug in WebViewCompat.

[2021-06-17 10:44] timbze commented on #1139
I think in the case when it's null it might be better to just skip the
check then?

[2021-06-17 10:50] tuomas2 commented on #1135
Implemented

[2021-06-17 10:50] #1135 closed, assigned to nobody

[2021-06-17 11:46] tuomas2 commented on #1040
For edit icon, if you think it would be better than current darkening color, please send me SVGs :-)

[2021-06-17 11:48] tuomas2 commented on #1130
As of implementing #1040 this also can be closed for now.

[2021-06-17 11:48] #1130 closed, assigned to nobody

[2021-06-17 12:11] #1077 closed, assigned to bvahedy

[2021-06-17 12:52] tuomas2 commented on #1138
I'm adding "Browser actions" to selection menu which shows normal copy, share etc items. Ideas for better name? System items? Android items?

[2021-06-17 13:15] timbze commented on #1138
I think 1. "System actions" or 2. "Other actions" or 3. "More actions"

[2021-06-17 13:35] tuomas2 commented on #1103
It looks like this does not happen any more (I believe fixing #1121 closed this too)

[2021-06-17 13:35] #1103 closed, assigned to bvahedy

[2021-06-17 14:05] #1107 closed, assigned to bvahedy

[2021-06-17 14:09] tuomas2 commented on #1085
~~Tested just a moment ago. I think this is fixed accidentally at some point. Please test again and re-open if issue still exists in build 528 (coming tonight).~~

[2021-06-17 14:09] bvahedy commented on #1138
I like "more actions" or just simply "more..." Or "more", it invokes the
curiosity of the user, they don't necessarily need to know it's system or
Android related.

On Thu, Jun 17, 2021, 6:16 AM Timmy Braun ***@***.***> wrote:

[2021-06-17 14:10] tuomas2 commented on #1085
Okay got it reproduced.

[2021-06-17 14:26] #1072 closed, assigned to bvahedy

[2021-06-17 15:12] #1033 closed, assigned to bvahedy

[2021-06-17 15:17] tuomas2 commented on #1039
Duplicate of #1072, which is now fixed

[2021-06-17 15:17] #1039 closed, assigned to bvahedy

[2021-06-17 15:17] tuomas2 commented on #1051
Duplicate of #1072

[2021-06-17 15:17] #1051 closed, assigned to bvahedy

[2021-06-17 15:19] tuomas2 commented on #1050
Looks like this is fixed.

[2021-06-17 15:19] #1050 closed, assigned to bvahedy

[2021-06-17 15:20] tuomas2 commented on #1053
I believe this is fixed now

[2021-06-17 15:20] #1053 closed, assigned to bvahedy

[2021-06-17 15:21] tuomas2 commented on #1044
Wont fix (though now "copy" is bit more difficult to use, under More -> ...)

[2021-06-17 15:21] #1044 closed, assigned to bvahedy

[2021-06-17 15:22] tuomas2 commented on #1045
Fixed

[2021-06-17 15:22] #1045 closed, assigned to bvahedy

[2021-06-17 15:26] tuomas2 commented on #1046
I think this works as expected. "My notes" window is supposed to show all bookmarks in the chapter, and the one user clicked to open in my notes window, should be scrolled to be first.

[2021-06-17 15:26] #1046 closed, assigned to bvahedy

[2021-06-17 15:26] tuomas2 commented on #1012
I believe this is now fixed.

[2021-06-17 15:26] #1012 closed, assigned to bvahedy

[2021-06-17 15:28] tuomas2 commented on #1066
Fixed (by removing "open in study pad" for unlabeleld)

[2021-06-17 15:28] #1066 closed, assigned to bvahedy

[2021-06-17 15:29] tuomas2 commented on #1060
Has anyone been able to reproduce this?

[2021-06-17 15:33] tuomas2 commented on #1062
I guess only old bookmarks that do not have document information behave like this?

[2021-06-17 15:42] #1063 closed, assigned to bvahedy

[2021-06-17 15:47] timbze commented on #1139
Another note; the "webview too old" dialog shows twice on starting AB. Is that pointing to some other issue? Maybe it's no big deal.

Just tested on build 528

[2021-06-17 15:53] #978 closed, assigned to bvahedy

[2021-06-17 15:56] tuomas2 commented on #0
I have since added warning "Do you want to remove 1 bookmarks and their notes?" to bookmarks window. I think it works as expected.

[2021-06-17 15:56] #0 closed, assigned to tuomas2

[2021-06-17 15:57] tuomas2 commented on #695
All mentioned here should have been fixed.

[2021-06-17 15:57] #695 closed

[2021-06-17 15:57] tuomas2 commented on #1098
Have you seen this issue?

[2021-06-17 16:00] timbze commented on #1138
I think "Verses" by itself is too unclear and confusing.

How about using the same functionality that you have with "More" now?
Just have "Bookmark" item. When user clicks "Bookmark", new menu pops up that has "Selection" and "Full verse" options.

[2021-06-17 16:09] timbze opened #1144 "Bookmark and "confirm remove bookmark" dialog too wide in tablet (wide screen)"
![image](https://user-images.githubusercontent.com/35117769/122433519-8aa16400-cf53-11eb-81ba-402f7f0428f8.png)

I think the width should have a max width that would be in this case a little less than text width. Even if I increased the max width of text the modals should not get wider than a certain width, I think.

**Bug was found on And Bible version**
Build 528

Kindle Fire HD10

[2021-06-17 16:11] timbze opened #1145 "Kindle Fire HD 10 (Android 5.1) can only select 1 word in text"
**Describe the bug**
I can only select one word. The marker to pull selection does not show up.

![image](https://user-images.githubusercontent.com/35117769/122434295-33e85a00-cf54-11eb-9e49-33f53a4ff1b7.png)

Aside; the bookmark feature does now work. It didn't show the highlights the very first time I tried, but later it showed up and now works.

**Bug was found on And Bible version**
Build 528

[2021-06-17 16:55] bvahedy commented on #1138
I like this idea of presenting a sub menu. It also presents a thought as to
whether the user wants to bookmark the whole verse or just the selection.
Although it adds more clicks in accomplishing a task if someone is
bookmark-trigger-happy.

On Thu, Jun 17, 2021, 9:01 AM Timmy Braun ***@***.***> wrote:

[2021-06-17 17:54] tuomas2 commented on #1138
That's an option indeed. But that would make 1-tap action 2-tap action. I'm not sure about this. What do others think?

[2021-06-17 17:55] tuomas2 commented on #1138
"More" would be nice option, for simplicity and shortness but I think "System actions" works well because it kind of "warns" user that those actions might not be optimized for And Bible usage.

[2021-06-17 17:59] tuomas2 commented on #1145
Does selection work properly for commentaries / genbooks?

[2021-06-17 18:02] #1109 closed, assigned to bvahedy

[2021-06-17 18:06] tuomas2 commented on #1101
Something like this happened in the past for with some unconventional css / module. Do you remember @bvahedy ? That issue would be nice to be linked here. I think I figured out that time that the root cause was in WebView, but it was triggered by some weird html etc.

[2021-06-17 18:12] tuomas2 commented on #1101
I was experiencing a lot of this with WebView version 74 (from API 29 emulator).

![image](https://user-images.githubusercontent.com/5811789/122451280-9ff8ab80-cfb0-11eb-8ee6-e50194fe21ef.png)

[2021-06-17 18:56] tuomas2 commented on #1138
What do you think if I shorten "Bookmarks & My Notes" from main menu -> "Bookmarks"?

[2021-06-17 18:57] tuomas2 commented on #1138
Is "Load Documents from Zip" necessary in Main Menu? Function is available also from Backup & Restore.

[2021-06-17 20:28] timbze commented on #1138
I think since notes are connected with bookmarks that much now anyway, I think that would be good.

I think it can be removed.

[2021-06-17 20:45] bvahedy commented on #1101
Yes, I remember, but don't know what you did to fix it. I haven't
experienced this issue recently.

On Thu, Jun 17, 2021, 11:06 AM Tuomas Airaksinen ***@***.***>
wrote:

[2021-06-17 21:09] bvahedy commented on #1138
A lot of the users are not savvy enough to differentiate between  "System
actions" and Andbible controls.
Just my experience dealing with users.

On Thu, Jun 17, 2021, 10:55 AM Tuomas Airaksinen ***@***.***>
wrote:

[2021-06-17 21:26] timbze commented on #1145
No. Same issue with those.

[2021-06-18 05:08] tuomas2 commented on #1145
Can you try again for non-bible doc? (build triggered)

[2021-06-18 05:10] tuomas2 commented on #1145
Its interesting that I have also old lollipop-based samsung tablet but I don't have similar issues there.. :-/ It's having latest WebView from Google though.

[2021-06-18 05:13] tuomas2 commented on #1138
Should there be option in "App preferences" that need to be enabled in order to see "More" item, i.e. it wouldn't be shown by default? I'm thinking that some/many users might benefit from "Translate" item etc, but might be confused by "copy", "share" items etc.

[2021-06-18 09:10] tuomas2 commented on #1060
Only once happened to original reporter too.

[2021-06-18 11:40] tuomas2 opened #1146 "Make double-tap-fullscreen optional"

[2021-06-18 13:01] timbze commented on #1060
My guess is it has nothing to do with switching from Bishop.

Should check play store to see if this crash has happened more often.

[2021-06-18 13:38] timbze commented on #1145
Genbook and commentary still both have the same issue (in 528.5)

[2021-06-18 14:02] tuomas2 commented on #1145
Does it work in other apps that use Webview?

[2021-06-18 14:04] tuomas2 commented on #1145
Does it work in 3.3 version of And Bible for non-bible documents?

[2021-06-18 15:53] timbze commented on #1145
Finding now that I have the same issue in some other apps. So it's probably a Kindle Fire update that is the problem, because I did not have this issue before.

[2021-06-18 15:53] #1145 closed, assigned to bvahedy

[2021-06-19 04:01] agrogers opened #1147 "Label and notes icons and no longer displayed in translations that they were NOT created in"
I am sure the icons used to display at the end of a verse even when I was reading a translation that was different to the one where i added the label.  Now only the whole verse labels are shown across translations.

The image below shows two translations - i created the labels in NASB (top) but could not see them in the God's Word (bottom)

![image](https://user-images.githubusercontent.com/139206

[2021-06-19 04:06] agrogers commented on #1128
A similar issue happens for me when changing workspaces too -  the horizontal checkbox is checked by the order is wrong.

Should this be a global setting or a workspace setting? I prefer a global setting. i think.

PS: This is a great addition. I always struggled to find the books in the vertical ordering - but didn't realise how the horizontal ordering would help me.

[2021-06-19 04:08] agrogers opened #1148 "Are these icons paragraph marks? If so, why not just have a paragraph?"
I noticed these black reverse P icons (see v16, 29) for the first time today. If they are paragraph icons, wouldn't it be better just to put the verse on a new paragraph?

![image](https://user-images.githubusercontent.com/13920678/122630519-af3e3d00-d107-11eb-8646-e20e931fb1ca.png)

[2021-06-19 04:10] agrogers opened #1149 "The keyboard is not displayed when creating a new workspace"
I added a new workspace today. The default text was automatically highlighted. But the keyboard had not displayed.

I expected that the keyboard would show so i could immediately enter the new workspace name.

![image](https://user-images.githubusercontent.com/13920678/122630552-ee6c8e00-d107-11eb-92c9-fb7d95acbc29.png)

[2021-06-19 04:12] agrogers opened #1150 "The keyboard stayed visible over the Bible window after creating a workspace"
1. I created a new workspace
2. I entered the name with the onscreen keyboard
3. The workspace dialog closed
4. The bible window was displayed
5. The keyboard remained visible.

I expected the keyboard to disappear.
![image](https://user-images.githubusercontent.com/13920678/122630587-32f82980-d108-11eb-8741-4f52e8514f54.png)

[2021-06-19 04:14] agrogers opened #1151 "Add option to exclude the version name from the 'Share' action"
This is a nice little dialog. I think it might also be good to be able to exclude the version from the generated text. So, the text 'NASB' below would be hidden.

![image](https://user-images.githubusercontent.com/13920678/122630628-836f8700-d108-11eb-96be-f8308e604e76.png)

[2021-06-19 06:03] agrogers opened #1152 "Some items in the label list are unnecessarily bolded"
I think this is a bug... see 'Devotion-Complete'. In my list there are multiple examples like this. They are usually separated by about dozen labels or so.

![image](https://user-images.githubusercontent.com/13920678/122632684-d1d85200-d117-11eb-9dc8-7e610ccc2834.png)

[2021-06-19 06:06] agrogers commented on #1128
Oh, and I meant to add that I think the setting should apply to the numbers (chapters and verses) also. I think the reason this ordering option seems to help me is that my mind always expect larger numbers should be below smaller numbers. So number 15 should be lower than number 6. But as you can see in this screenshot, that isn't the case.

I think I would stick with showing 5 buttons per row for

[2021-06-19 06:10] agrogers opened #1153 "Trim labels when they are created (and also when they are displayed)"
1. A label can be created with a space at the end. My keyboard does this by default. I think these labels should be trimmed before they are saved
2. When old labels are displayed, perhaps trim them. Or run an action to trim all labels once.
3. There is a full stop at the end of 'Open in Study Pad' text. We don't need that full stop.
![image](https://user-images.githubusercontent.com/13920678/12263

[2021-06-19 06:14] agrogers opened #1154 "Improve the display of the 'Bookmark was created' text"
1. I think this text could be made even smaller.
2. Maybe put a horizontal line above the text to delineate it a bit more than from the main text.
3. I don't think we need to know the seconds when an item was created.
4. Don't show the 'Last Updated' text if it the time is identical to the 'Created' time.
5. Perhaps show the time in a more user-friendly format - 2:39pm not 14:39.

My design princi

[2021-06-19 07:13] #1152 closed, assigned to bvahedy

[2021-06-19 07:51] tuomas2 commented on #1149
fixed

[2021-06-19 07:51] #1149 closed, assigned to nobody

[2021-06-19 07:56] tuomas2 commented on #1148
Paragraph markings are in KJV put manually (characters).

[2021-06-19 07:56] #1148 closed, assigned to bvahedy

[2021-06-19 08:13] #1146 closed, assigned to nobody

[2021-06-19 08:22] agrogers commented on #1098
I haven't seen this issue again.

[2021-06-19 09:03] agrogers commented on #1138
I fear most users may never find that option so never benefit from it.

I have wondered whether an 'Easy' and 'Advanced' interface option would be helpful. 'Easy' would reduce the options available across the application. I downloaded YouVersion and another Bible popular on Play Store - they have so few config options in comparison. I much prefer And Bible's flexibility but suspect the average You

[2021-06-19 09:42] #1141 closed, assigned to nobody

[2021-06-19 09:48] tuomas2 opened #1155 "Reset option for application preferences"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-06-19 09:49] tuomas2 commented on #1155
https://stackoverflow.com/questions/22251908/reset-sharedpreferences

[2021-06-19 09:52] agrogers opened #1156 "Backup and Restore dialog proposal"
1. The original 'Share or Backup' text is probably not necessary. It describes precisely what they can do but they will work that out soon enough just by clicking on the button so it probably isn't necessary
2. This form would allow backing up all three types of data in one action not three.
3. The restore option needs to act like a radio button (only one of the two can be selected at once). On my

[2021-06-19 09:53] tuomas2 opened #1157 "Implement two-step bookmarking"
App preference is already added for this

[2021-06-19 09:53] agrogers commented on #1138
I have made an alternative form here: https://github.com/AndBible/and-bible/issues/1156
A lot more work then changing the title but I think is probably a bit more user friendly.
And yes, accessing from Backup & Restore is enough I think.

[2021-06-19 09:56] agrogers commented on #1105
Hi @tuomas2 . This is probably the last thing left on my personal list of features to make the assigning of labels pretty much perfect. Did you see this one?

[2021-06-19 10:39] agrogers opened #1158 "How should we refer to a label?"
Should labels be called 'Bookmark labels'. Aren't they also 'Study Pad Labels' as well?

[2021-06-19 10:40] #1158 closed, assigned to nobody

[2021-06-19 11:00] tuomas2 commented on #1105
I can implement, but not in prio list

[2021-06-19 11:40] tuomas2 opened #1161 "How should we refer to a label?"
### Discussed in https://github.com/AndBible/and-bible/discussions/1159

<div type='discussions-op-text'>

<sup>Originally posted by **agrogers** June 19, 2021</sup>
Should labels be called 'Bookmark labels'. Aren't they also 'Study Pad Labels' as well?</div>

[2021-06-19 11:52] agrogers opened #1162 "Proposal to implement a single click action on a verse"
I thought i would have a look at YouVersion again today. It is definitely not for me - I mainly want a study tool not a devotional tool. But it had some nice features that I think would make it attractive to new users. The main one was how a single click in the bible window acted. Of course it **only** has one window so it is a much simpler workflow for them. But I think we could do something simi

[2021-06-19 12:07] agrogers opened #1163 "What should a new install of And Bible look like?"
I've been thinking that a new install of And Bible should perhaps have some things setup so that a new user can see what can be done. Happy to hear other's thoughts:
1. At least two workspaces. Maybe a simple workspace with one window and a second workspace with several windows. Or perhaps you guys have ideas on popular ways to setup a workspace. I have a workspace that doesn't show any bookmarks.

[2021-06-19 12:09] agrogers commented on #1157
What is this functionality exactly?

[2021-06-19 12:17] agrogers opened #1164 "Sync between windows is out by 1 verse after adding a note"
When I am in full And bible screen, line numbers in each window follow verse lines of upper window - that is ok.

But after I added bookmarked note with pencil icon, line numbers in upper window are one bigger then in other windows bellow.

Previous state can be achived after switching to normal view and back to full screen view.

Screenshot attached.

Marjan
![Screenshot_20210619-122410_Bible Stu

[2021-06-19 12:22] tuomas2 opened #1165 "I think we might need a general single click option on bible windows"
### Discussed in https://github.com/AndBible/and-bible/discussions/1160

<div type='discussions-op-text'>

<sup>Originally posted by **agrogers** June 19, 2021</sup>
I thought i would have a look at YouVersion again today. It is definitely not for me - I mainly want a study tool not a devotional tool. But it had some nice features that I think would make it attractive to new users. The main one wa

[2021-06-19 12:38] agrogers opened #1166 "Optionally get the user to provide a Google or MS account so we can easily backup the db etc"
I would personally like this. Then I could just set an option to backup regularly and And Bible will do it automatically. It would also be  the first step to be able to keep multiple devices in sync.

[2021-06-19 12:43] timbze commented on #1155
Need to keep in mind preferences that are not user configurable.

Maybe there are none that matter, but should recheck before adding an option to clear everything.

[2021-06-19 12:55] tuomas2 commented on #1155
Like for example?

[2021-06-19 12:56] tuomas2 commented on #1166
I think there's somewhere an issue already for this

[2021-06-19 12:56] tuomas2 commented on #1166
#974

[2021-06-19 13:01] tuomas2 commented on #1157
What we disucssed on #1138

[2021-06-19 13:03] agrogers commented on #1166
Oh, it is. I should have checked. #974  is closed. We don't like this idea?

[2021-06-19 13:05] tuomas2 opened #1167 "Show "drag to reorder" in study pad view if clicking drag btn"
**Describe the bug**
A clear and concise description of what the bug is.

**Bug was found on And Bible version**
Build XXX.X or version X.X.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots t

[2021-06-19 13:24] agrogers opened #1168 "Fancy bible-verse-exported-with-nice-colors-and-background-image feature?"
I noticed that this feature was pretty comprehensive in a few Bible apps. Lots of background images, blurring of images, brightness settings, choice of fonts and colors and sizes etc. Is this something we want in And Bible?

![image](https://user-images.githubusercontent.com/13920678/122643847-77f67d00-d155-11eb-950c-29bc0c12cd45.png)

[2021-06-19 13:31] agrogers commented on #1138
I also didn't understand what 'Verses' meant in the latest beta. My suggestion here https://github.com/AndBible/and-bible/issues/1165 might eliminate the need for a 'Bookmark whole verse' menu option or strengthen the case for moving it into a sub-menu. It will also remove the need for a 'Compare' and a 'Share' option.

[2021-06-19 13:44] #1167 closed, assigned to bvahedy

[2021-06-19 13:45] tuomas2 commented on #1168
If someone creates such a feature I'm for it :-) But I'm not interested personally.

[2021-06-19 13:48] tuomas2 commented on #1156
How should combined backup / restore work?

[2021-06-19 13:50] tuomas2 commented on #1161
I'm okay with "Bookmark labels" (and explanation that each study pad is associated with a single bookmark label)

[2021-06-19 13:52] tuomas2 commented on #1163
File size is (I believe) the primary (original) reason.

[2021-06-19 13:52] tuomas2 commented on #1163
Good ideas. Should we try to get this to 3.4 still? If so, we should collect new needed strings as soon as possible

[2021-06-19 14:08] timbze commented on #1166
Just look why it's closed 😊 it's duplicate of #370

[2021-06-19 14:11] #1157 closed, assigned to nobody

[2021-06-19 14:23] agrogers opened #1169 "Proposal for initial target dialog when a bible window is clicked"
This is a more mature version of #1165
Also needs #1188

I noticed that we now have _three different dialogs_ that are displayed depending on what we click on in a bible window. They are described in the image below. I am not sure this is a good idea. I know exactly what is happening because I have helped design this :) But I am sure this could be a bit disconcerting for a user.

I think a better

[2021-06-19 14:24] tuomas2 commented on #1155
Okay I see.... We need to do reset only for settings indeed.

[2021-06-19 14:35] #1155 closed, assigned to nobody

[2021-06-19 14:36] tuomas2 commented on #1166
Duplicate of #370

[2021-06-19 14:36] #1166 closed, assigned to nobody

[2021-06-19 14:41] tuomas2 commented on #1169
Also footnotes and crossreferences create modals.

[2021-06-19 14:46] agrogers commented on #1163
There are soooo many new features I think we need to spend some time trying to ensure those features are implemented really well, understood and so get used. A preloaded install I think is perhaps the best way to do that. Also, the onboarding idea in #1071 may become more important - it would work well with a preloaded database.

For an existing user, they will already have a database so we can't

[2021-06-19 14:48] agrogers commented on #1169
True, I don't see those much. I think they and strong's numbers and morph codes can be left just as they are.

[2021-06-19 14:54] agrogers commented on #1161
My issue with that is a study pad is not associated with a 'bookmark'. It is associated with **all** bookmarks. Or rather, it is associated with a label - that label has been applied to many verses as bookmarks. It was one of the things that confused me when i first saw the Study Pads. They felt unrelated to bookmarks - but they were actually just a summary of bookmarks :)

[2021-06-19 14:55] agrogers commented on #1156
Um, what is a 'combined' backup/restore?

[2021-06-19 14:56] tuomas2 commented on #1156
When you toggle multiple items and press "Share or Backup to...", what happens?
Does it create a zip file containing both files? I guess Android allows saving only one file per time with file chooser intent. I might be wrong though.

[2021-06-19 15:02] agrogers commented on #1040
Well done on those changes Tuomas. I'm impressed how well you can turn a desktop publishing drawing into a living dialog :) I am still not 100% happy with the colors or icons or something. But I don't know if anything i can suggest now is better than your implementation. I might keep thinking/trying. I can make an SVG very easily if i come up with something. It would be good to hear what the other

[2021-06-19 15:03] tuomas2 commented on #1163
I would like to do feature-freeze soon for 3.4. More importantly, I'd like to freeze strings so that we can hope to get translations for 3.4 finalized.

[2021-06-19 15:06] agrogers commented on #1156
Ah, i get it. The issue doesn't apply to 'restore' since i suggested you implement the checkboxes like radio buttons - only one can be true. Could possibly do that for the Backup as well.

But i thought you would do the same as you do now.
1. Ask the user where they want to save the file(s)
2. Prepare the first file
3. Upload it
4. Prepare the second file
5. Upload it
6. Tell the user they can sle

[2021-06-19 15:10] tuomas2 commented on #1156
Well chained operation is indeed possible

[2021-06-19 17:15] bvahedy commented on #1164
I'm unable to duplicate this in 528.5 beta build.

On Sat, Jun 19, 2021, 5:18 AM Andrew Rogers ***@***.***>
wrote:

[2021-06-19 17:32] bvahedy commented on #1168
More features like this means a bigger app size. I'm more interested in the
substance of a verse study than making it look nice for someone else. This
is just my take on it. But I do appreciate and respect your thoughts.

On Sat, Jun 19, 2021, 6:45 AM Tuomas Airaksinen ***@***.***>
wrote:

[2021-06-19 18:02] bvahedy commented on #1040
Andrew, for me usually being quite means I either agree or don't mind the
changes.

On Sat, Jun 19, 2021, 8:02 AM Andrew Rogers ***@***.***>
wrote:

[2021-06-20 04:39] agrogers commented on #1168
I probably wouldn't use a feature like this either. And it is a feature not
really in line with a study bible. Hence the reason I asked the question.

On Sun, 20 Jun 2021, 3:32 am Ben, ***@***.***> wrote:

[2021-06-20 06:44] msavli commented on #1164
[Please, take a look at the video I made regarding this issue.](https://youtu.be/eBrR8wihUGc)

[2021-06-20 07:29] tuomas2 commented on #1163
Add couple of strings af4b8ea69cad4f1aadfabdda25a4bb4fc91bcd9c

[2021-06-21 08:04] tuomas2 commented on #1156
I could consider implementing this after 3.4 is released (not waiting to 3.5). Could you compile list of necessary strings for this feature so we can send them to translation? (pull request that changes `values/strings.xml`  would be best :-) )

[2021-06-21 16:47] tuomas2 opened #1170 "Make KJV the preferred download"
_Originally posted by @tuomas2 in https://github.com/AndBible/and-bible/issues/1132#issuecomment-865187946_

[2021-06-21 16:47] #1132 closed, assigned to nobody

[2021-06-21 16:58] #1170 closed, assigned to nobody

[2021-06-21 20:28] #1128 closed, assigned to jmarsican

[2021-06-21 20:32] tuomas2 commented on #1143
Does this work properly for old version? @bvahedy

[2021-06-22 01:03] bvahedy commented on #1143
Which version specifically?

On Mon, Jun 21, 2021, 1:32 PM Tuomas Airaksinen ***@***.***>
wrote:

[2021-06-22 01:16] bvahedy commented on #1143
I normally don't use kjv, I used to be able to click on the morph in HiSB
but now I have to press and hold to open it in a new link even though the
morph code is a blue color which means it's a  link. When you told me it
works with kjv version I realized kjv is not displaying the correct morph.
That's how I found this bug.

On Mon, Jun 21, 2021, 1:32 PM Tuomas Airaksinen ***@***.***>
wrote:

[2021-06-22 06:20] tuomas2 commented on #1143
3.3, currrnt stable version

[2021-06-22 20:48] bvahedy commented on #1143
It works correctly in 3.3 version.
Also I verified that I can single tap on the morph in hisb version and it
opens up a new window automatically which in 3.4 I'm unable to do currently.

On Mon, Jun 21, 2021, 11:20 PM Tuomas Airaksinen ***@***.***>
wrote:

[2021-06-23 16:36] tuomas2 commented on #1165
I think we can consider these ideas at some point (I agree mostly), but I don't find it so important at the moment, so that I would be motivated to change the currently good-feeling UI.

[2021-06-23 16:54] tuomas2 commented on #1163
Idea good, but won't implement these, at least in 3.4. I'm open for PR's, though. I feel that youtube video illustrating new videos is good enough to show what is possible.

I don't feel like adding modules to APK but we could figure out a way to implement it other way, i.e. some kind of optional function to build up a demo setup (download necessary modules and set up db)? But not for 3.4.

- [ ]

[2021-06-23 16:54] tuomas2 opened #1172 "Default bookmarks & labels"
- [ ] these we could implement in 3.4. As an example of topical label there could be "Salvation" topic and few bookmarks in it.

So new default labels
- Red
- Green
- Blue
- Underline
- Salvation

Feel free to suggest verses to be bookmarked with label "Salvation" (in addition to Joh 3:16)

[2021-06-23 16:55] tuomas2 commented on #1163
Created https://github.com/AndBible/and-bible/issues/1172 for labels idea (5,6)

[2021-06-23 16:57] tuomas2 opened #1173 "Crash when trying to bookmark verse or a selection."
https://support.andbible.org/scp/tickets.php?id=600

[2021-06-23 21:52] bvahedy commented on #1173
crashes happen in some workspaces but not all.

[2021-06-24 05:42] tuomas2 opened #1174 "Remove double entries from repositories"
For example Gill comes from And Bible and And Bible extra repo.

[2021-06-24 05:44] tuomas2 opened #1175 "Update recommended documents"
What to add? What to remove?

I'd suggest adding KingComments at least.

Currently:

[code]

[2021-06-24 09:48] tuomas2 commented on #1173
Logcat shows crash when trying to share selection and that crash should have been fixed (fix was done 17.6.). Can you make a new report for this if it still exists.

[2021-06-24 09:48] #1173 closed, assigned to nobody

[2021-06-24 12:31] tuomas2 commented on #1144
Fixed 2fc21b8f1837ce0b980f77628289960a9eeefc14

[2021-06-24 12:31] #1144 closed, assigned to bvahedy

[2021-06-24 14:03] tuomas2 commented on #1028
Added excel version of translation table https://docs.google.com/spreadsheets/d/1ugIUv21BjASZUXXRRnJyWXAwazk0szzGZg5tAfOh9b0/edit#gid=0

[2021-06-24 14:05] tuomas2 commented on #1138
I made conf option to advanced users, but 2-tap bookmarking is now default. I think strings are now adequately abbreviated.

[2021-06-24 14:05] #1138 closed, assigned to tuomas2, RuggMatt, JJK96, agrogers, timbze, bvahedy

[2021-06-24 14:08] tuomas2 commented on #1172
Feel free to suggest verses to be bookmarked with label "Salvation" (in addition to Joh 3:16)

[2021-06-24 14:10] tuomas2 commented on #1147
Fixed

[2021-06-24 14:10] #1147 closed, assigned to nobody

[2021-06-24 14:13] tuomas2 commented on #1151
Added string version_name for this to be implemented

[2021-06-24 14:17] tuomas2 commented on #1126
Added strings so mode could be implemented

[2021-06-24 14:23] tuomas2 commented on #1089
Fixed

[2021-06-24 14:23] #1089 closed, assigned to nobody

[2021-06-24 14:32] tuomas2 commented on #1047
Implemented app pref to disable double-tap to fullscreen and added option in main window options menu

[2021-06-24 14:32] #1047 closed, assigned to bvahedy

[2021-06-24 14:34] tuomas2 commented on #1027
After all I feel this is annoying feature in apps that have it, so wont fix.

[2021-06-24 14:34] #1027 closed, assigned to tuomas2

[2021-06-24 14:36] tuomas2 commented on #1024
I think this is implemented now

[2021-06-24 14:36] #1024 closed, assigned to tuomas2

[2021-06-24 14:36] tuomas2 commented on #1000
Implemented

[2021-06-24 14:36] #1000 closed, assigned to tuomas2

[2021-06-24 14:40] tuomas2 commented on #941
Duplicate of #1027
Which was just closed...

[2021-06-24 14:40] #941 closed, assigned to tuomas2

[2021-06-24 14:48] #731 closed

[2021-06-24 15:26] tuomas2 commented on #976
Added loading spinner to bibleview 7c1010d200c45d7359b2006e05b00fbfb72689f9
I believe performance is good enough so closing this.

[2021-06-24 15:26] #976 closed, assigned to bvahedy

[2021-06-24 15:51] #1139 closed, assigned to bvahedy

[2021-06-24 16:06] tuomas2 commented on #1143
Tapping "Abraham" gives me this, which looks correct:

![image](https://user-images.githubusercontent.com/5811789/123296382-43047480-d51f-11eb-969f-2bca6f749358.png)

[2021-06-24 16:06] tuomas2 commented on #1143
I'm having KJVA though. I'll try with KJV

[2021-06-24 16:08] tuomas2 commented on #1143
Okay, this is module issue with KJV from eBible.org. Crosswire's KJV works fine too.

[2021-06-24 16:08] #1143 closed, assigned to nobody

[2021-06-24 16:25] tuomas2 commented on #1174
Done

[2021-06-24 16:25] #1174 closed, assigned to nobody

[2021-06-24 17:10] msavli commented on #1028
![slika](https://user-images.githubusercontent.com/13658822/123304868-c0c88000-d51f-11eb-822b-b69766d46bda.png)

'Yes' is in Slovenian 'Da'. :-)

[2021-06-24 17:16] msavli opened #1176 "Bible text in capital letters - so kids can learn reading"
Can you add feature Bible text in capital letters - so kids can learn reading?

[2021-06-24 17:25] tuomas2 commented on #1028
Added Yes as translatable.

[2021-06-24 20:24] timbze opened #1177 "Tapping label in "Bookmark labels" modal removes label, should appear in "Recent labels""
**Describe the bug**
A user not exactly familiar with how bookmarks work might tap the label in "Bookmark labels", and then it gets removed.

If the label has not just been assigned then it disappears. It should always appear in the "Recent labels" so that a user can "undo" what he just did.

Build 529

**Expected behavior**
I think it should appear in "Recent labels", maybe even first in the list

[2021-06-24 20:47] timbze commented on #1172
Some possibilities (you can pick and choose)
Salvation
- John 3:3
- Titus 3:3-7 (too long?)
- Romans 3:23-24
- Romans 4:3
- 1Tim 1:15
- Eph 2:8-9

[2021-06-24 21:45] timbze commented on #1176
It is possible to take a specific document (module) in AndBible version 3.4 (now in beta), and add css styles to make it uppercase. See https://github.com/AndBible/and-bible/wiki/Custom-CSS-for-modules-for-And-Bible. I tested it with KJV and it worked.

For KJV I simply added a .css file with:
[code]

@tuomas2 will have to decide if we'll add this as a feature in the app.

[2021-06-24 22:10] timbze opened #1178 "Delete icon should be removed for "Unlabeled" label"
**Describe the bug**
Edit the "Unlabeled" label. The text is not enterable, like it should be.

- [x] But the delete icon exists on toolbar, which should not.

Clicking it brings up the message "Do you want to remove the bookmark label "__Unlabeled__"?"

- [x] Also, the text in the field shows "Unlabelled" (with double "L"). It should just be 1 letter "L"

**Bug was found on And Bible version**
Bu

[2021-06-24 22:22] timbze opened #1179 ""Assign labels" screen needs more information / help"
There are 4 icons in a selected label that can be toggled. It's a bit hard to remember (also learn) what they all are for.

My suggestion is either to:
* Show a non-scroll section above "Selected labels" with the 4 lines of what the icons do, like this:
  * [label icon] Auto-assign in this workspace (line 1)
  * [heart icon] Favorite label
  * [check icon] Selected for John 3:16 [show the current

[2021-06-24 22:30] timbze opened #1180 "Bookmark book information shows "not stored" when document is removed"
**Describe the bug**
Bookmark book information shows "not stored" when document where bookmark was saved is removed

**Bug was found on And Bible version**
Build 529

**To Reproduce**
Steps to reproduce the behavior:
1. Save a "selection" bookmark in KJV
2. Remove KJV document
3. Look at the bookmark in NASB, it shows the exact verse wording, and exact highlight, but doesn't know the book info

**

[2021-06-24 22:33] timbze opened #1181 "Share and "T" full verse bookmark icon are just gray"
**Describe the bug**
Share and "T" full verse bookmark icon are just gray, regardless of if selection or full verse bookmark is selected. See screenshot

**Bug was found on And Bible version**
Build 529

**Expected behavior**
Icon should be gray (or dimmer) when it's a "selection" bookmark, and show color when it's a full verse bookmark.

**Screenshots**
![image](https://user-images.githubusercont

[2021-06-24 22:47] agrogers commented on #1178
Should we able to edit that label at all? But I can't find how you did
that. I have never seen the unlabeled label to edit it.

And it seems Unlabeled and Unlabelled with two Ls are both correct
spellings. We should be consistent in its use.

On Fri, 25 Jun 2021, 8:10 am Timmy Braun, ***@***.***> wrote:

[2021-06-24 23:03] agrogers commented on #1176
The custom css is a cool feature. Probably beyond most users capability
though. I wonder if another document type which allowed the sharing and
installing of Style files could ever be justified.

On Fri, 25 Jun 2021, 7:45 am Timmy Braun, ***@***.***> wrote:

[2021-06-24 23:34] timbze commented on #1175
- Change `spaRV1909eb` to `spaRV1909`

[2021-06-24 23:39] timbze commented on #1178
@agrogers
The reason for editing is that you can set a different default color for it. But I guess also the "This workspace" section should be removed for it. Or perhaps now that we can set a default label to apply we should disabled editing it. I think editing was enabled because people are used to default yellow? highlights from before. That way that can be changed back.

Thinking about existing

[2021-06-24 23:41] agrogers commented on #1172
I would not add a label to too many more verses than this because the bookmarks can only be removed one by one. Although I imagine not too many people would disagree with this label choice, I still wouldnt want to make it too difficult for them to remove what we have forced on to them.

My reason for proposing some default labels was to try and reduce the barriers to highlighting a verse in some p

[2021-06-25 01:56] agrogers commented on #356
Is this fixed now? If not...
I suggest we delay this one to after v3.4 release

[2021-06-25 01:58] agrogers commented on #62
I suggest we delay this one to after v3.4 release

[2021-06-25 01:59] agrogers commented on #965
I suggest we delay this one to after v3.4 release

[2021-06-25 02:00] agrogers commented on #957
I suggest we delay this one to after v3.4 release

[2021-06-25 02:01] agrogers commented on #944
I suggest we delay this one to after v3.4 release

[2021-06-25 02:02] agrogers commented on #896
I suggest we delay this one to after v3.4 release

[2021-06-25 02:04] agrogers commented on #832
I suggest we delay this one to after v3.4 release or maybe never if #611 is implemented.

[2021-06-25 02:04] agrogers commented on #611
I suggest we delay this one to after v3.4 release

[2021-06-25 02:05] agrogers commented on #830
I suggest we delay this one to after v3.4 release

[2021-06-25 02:06] agrogers commented on #730
I don't understand any of this :)
I suggest we delay this one to after v3.4 release

[2021-06-25 02:06] agrogers commented on #581
I suggest we delay this one to after v3.4 release

[2021-06-25 02:08] agrogers commented on #570
I suggest we delay this one to after v3.4 release

[2021-06-25 02:10] agrogers commented on #325
I suggest we delay this one to after v3.4 release

[2021-06-25 02:11] agrogers commented on #300
I suggest we delay this one to after v3.4 release

[2021-06-25 02:12] agrogers commented on #175
I suggest we delay this one to after v3.4 release

[2021-06-25 02:15] agrogers commented on #970
I suggest we delay this one to after v3.4 release

[2021-06-25 02:15] agrogers commented on #949
I suggest we delay this one to after v3.4 release

[2021-06-25 02:16] agrogers commented on #948
Good idea.
I suggest we delay this one to after v3.4 release

[2021-06-25 02:17] agrogers commented on #939
I suggest we delay this one to after v3.4 release
I think the speech interface needs a little work. This could be grouped in with that perhaps.

[2021-06-25 02:17] agrogers commented on #938
I suggest we delay this one to after v3.4 release

[2021-06-25 02:18] agrogers commented on #895
I suggest we delay this one to after v3.4 release

[2021-06-25 02:19] agrogers commented on #842
I have a long list of labels - when i add a new one and assign it I think it scrolled for a second or two to get to the top and show me the label. I liked how it worked but it was possibly too slow. Eitherway,

I suggest we delay this one to after v3.4 release

[2021-06-25 02:20] agrogers commented on #835
I suggest we delay this one to after v3.4 release

[2021-06-25 02:23] agrogers commented on #817
We have changed the message about an 'index'. I think it is a little clearer.

I suggest we delay this one to after v3.4 release

[2021-06-25 02:25] agrogers commented on #813
I think this option could be good too. I think And Bible has already crossed the 'there is a lot of settings!' threshold :D So one more will not make a difference. If this app was for casual bible readers then i would say we need to ignore this request and removed a lot of other options. But And Bible is targeting a different group of people I think.

I suggest we delay this one to after v3.4 rele

[2021-06-25 02:29] agrogers commented on #782
I like this suggestion too. I think leaving the current document (Bibles and Commentaries and ??) in the list but highlighting would work fine. Underline, bold, tick beside it perhaps. But

I suggest we delay this one to after v3.4 release

[2021-06-25 02:30] agrogers commented on #744
Has this been done already - long press the document in the list? If not,

I suggest we delay this one to after v3.4 release

[2021-06-25 02:33] agrogers commented on #657
I suggest we delay this one to after v3.4 release

[2021-06-25 02:33] agrogers commented on #655
I suggest we delay this one to after v3.4 release

[2021-06-25 02:34] agrogers commented on #615
I suggest we delay this one to after v3.4 release

[2021-06-25 02:34] agrogers commented on #566
I suggest we delay this one to after v3.4 release

[2021-06-25 02:36] agrogers commented on #501
I still use this feature. If i need to go, say, from chapter 10 to chapter 2 it is faster to just swipe 8 times than to select the reference via the selector or scroll up usually more than 8 times.

I suggest we delay this one to after v3.4 release

[2021-06-25 02:37] agrogers commented on #374
I suggest we delay this one to after v3.4 release

[2021-06-25 02:40] agrogers commented on #332
I like the current selector - it seems almost as efficient as it can be - and it is definitely better with books going across not down. But sometimes efficiency requires more mental power than something that is easier on the brain but a little slower - like Windows verse Linux perhaps :) Certainly something to look at. But

I suggest we delay this one to after v3.4 release

[2021-06-25 02:41] agrogers commented on #64
I suggest we delay this one to after v3.4 release

[2021-06-25 04:14] bvahedy commented on #957
This functionality worked correctly on 3.3. depending on how many people
use this feature, it could cause a lot of users to complain.

On Thu, Jun 24, 2021, 7:00 PM Andrew Rogers ***@***.***>
wrote:

[2021-06-25 05:09] agrogers commented on #1071
Re timing of this feature, there are so many big changes to AB that it feels like this coming release is when such a feature is needed. But I understand that this is not a simple thing to do.

Maybe Include this feature in v3.4.

[2021-06-25 05:11] agrogers commented on #1105
The way this issue streamlines the bookmarking process (see #1172) makes me think we should...
Include this feature in v3.4.

[2021-06-25 05:14] agrogers commented on #1162
I think the biggest change for the next release is the awesome overhaul of the labeling system. If the feature described here is to be implemented at some point, then I think that point should be now. Also, it is such a significant change to the way the user interacts with AB that I would want to avoid making them learn both the current way and then in a future release the new way outlined in this

[2021-06-25 05:19] agrogers commented on #1169
As I mentioned elsewhere, this proposal is very related to the how the new labeling system works. So if it is to be implemented, i would say included it now so that users are not having to relearn something new in the future. I also think this proposal is a fairly significant simplification of how the user interacts with labels making it a worthy inclusion.

Include this feature in v3.4.

[2021-06-25 05:21] agrogers commented on #1067
If this issue only affects a minority of users then i say leave it for later. Otherwise it feels bad enough to try to address. Unless my note is more than a few lines long then the cool edit tools are useless. (Of course not if i format before I type - there are cumbersome ways around it)

Include this feature in v3.4.

[2021-06-25 05:22] agrogers commented on #1040
I think this has been resolved now. Yes?

[2021-06-25 05:23] agrogers commented on #1034
This has been resolved too I think.

What are the 'tasks' mentioned above???

[2021-06-25 05:48] tuomas2 commented on #1176
I don't think I would include this in And Bible, as I doubt there is very small amount of usage for this. But CSS customization is somethign that would enable this for a single user that really wants to do something different.

[2021-06-25 05:55] agrogers opened #1182 "It's not necessary to show the My Notes study pad icon for every bookmark"
The inclusion of the My Notes study pad icon is a good idea. But I don't think it is in the right place. It confused me a little when I saw them.

The main reason was that the icon was repeated three times (see the screenshot). As I understand it, the icon will always open to the same location - that is, to the chapter that the bookmark is found in. Multiple icons doing the same thing is probably

[2021-06-25 06:18] agrogers commented on #1068
Both options - text and selector - would be good. But

I suggest we delay this one to after v3.4 release

[2021-06-25 06:21] tuomas2 commented on #1162
Trying to re-think about this today if I have time.

[2021-06-25 06:22] tuomas2 commented on #1162
(no promise yet :-) moving label to different category just so it jumps to my eyes)

[2021-06-25 06:22] tuomas2 commented on #356
Won't fix

[2021-06-25 06:22] #356 closed

[2021-06-25 06:24] agrogers commented on #1112
I have seen this issue in any recent release.

I suggest we delay this one to after v3.4 release

[2021-06-25 06:24] tuomas2 commented on #965
This is a bug so I will look at it before release with low prio. All bugs should be fixed, but we don't need to postpone releasing because of low prio bugs.

[2021-06-25 06:25] agrogers commented on #1113
Bookmarking has been very reliable for me in recent releases.

I suggest we delay this one to after v3.4 release

[2021-06-25 06:28] agrogers commented on #1098
I haven't seen this again so I will close it.

[2021-06-25 06:28] #1098 closed, assigned to bvahedy

[2021-06-25 06:29] agrogers commented on #1164
I suggest we delay this one to after v3.4 release

[2021-06-25 06:29] agrogers commented on #1154
I suggest we delay this one to after v3.4 release

[2021-06-25 06:31] tuomas2 commented on #570
If @timbze has time for this we can include in 3.4. (in general Reading Plans is his area, I haven't touched it and probably won't touch it too much either)

[2021-06-25 06:31] agrogers commented on #1097
Hmm, that's probably shouldn't be allowed.

I suggest we delay this one to after v3.4 release

[2021-06-25 06:32] agrogers commented on #1093
I suggest we delay this one to after v3.4 release

[2021-06-25 06:32] agrogers commented on #1092
I suggest we delay this one to after v3.4 release

[2021-06-25 06:32] agrogers commented on #1078
I like this feature but it sounds tricky.

I suggest we delay this one to after v3.4 release

[2021-06-25 06:33] agrogers commented on #1070
Easy to implement i think but...

I suggest we delay this one to after v3.4 release

[2021-06-25 06:33] agrogers commented on #1058
I suggest we delay this one to after v3.4 release

[2021-06-25 06:33] agrogers commented on #1030
I suggest we delay this one to after v3.4 release

[2021-06-25 06:33] agrogers commented on #1136
I suggest we delay this one to after v3.4 release

[2021-06-25 06:33] tuomas2 commented on #970
This absolutely needs to be done before release, otherwise arabic & chinese have broken UI.

[2021-06-25 06:40] tuomas2 commented on #939
Yes, not for 3.4 any more, but is this something that we should prepare strings already?

[2021-06-25 06:40] agrogers opened #1183 "The list of study pad icons can get too long and extend beyond the width of the dialog"
An interesting side effect is that, although i can scroll to see the extra icons, if i scroll to hard or fast it changes the chapter I am on :)

![image](https://user-images.githubusercontent.com/13920678/123381328-efa02e00-d5d3-11eb-8899-88e51499eb74.png)

[2021-06-25 06:42] tuomas2 commented on #939
Does it need any strings? a spnner with voice choises should do? https://developer.android.com/guide/topics/ui/controls/spinner

[2021-06-25 06:43] tuomas2 commented on #938
@timbze is trying hard to get it included in 3.4, and strings are already in, so we could include it if he manages to get it ready by then

[2021-06-25 06:44] agrogers opened #1184 "Verse refs showing in the text - a problem with the NASB module?"
And also notes - see: "Lit For them In their case...."
![image](https://user-images.githubusercontent.com/13920678/123381823-9258ac80-d5d4-11eb-9531-c94609941587.png)

[2021-06-25 06:46] tuomas2 commented on #1126
Related #282

[2021-06-25 06:46] tuomas2 commented on #842
This is probably something that e-ink users want too #282 #1126

[2021-06-25 06:48] tuomas2 commented on #842
I wonder if this is generally useful for any other users but e-ink users. Then it would be enabled by toggling #1126 option.

[2021-06-25 06:49] bvahedy commented on #1184
I believe this is a module issue. Should close this ticket.

[2021-06-25 06:50] tuomas2 commented on #835
We can't have this until someone publishes hebrew morphology dictionary module. But we could prepare for it by adding strings.

[2021-06-25 06:52] tuomas2 commented on #835
Hmm, is OSHM module just that?

[2021-06-25 06:53] agrogers opened #1185 "Is there a way to hide the Greek words in the morph codes?"
![image](https://user-images.githubusercontent.com/13920678/123382971-e912b600-d5d5-11eb-82f1-000468026519.png)

[2021-06-25 06:54] tuomas2 commented on #835
Keys in that dict do not look like that...

[2021-06-25 06:55] tuomas2 commented on #835
Related discussion on sword-devel: https://www.mail-archive.com/sword-devel@crosswire.org/msg35281.html

[2021-06-25 06:56] agrogers opened #1186 "I can't turn off the 'show morph codes' setting"
When i try to turn the setting off it seems like it turns off but the codes don't disappear and when i got back to the settings it is still turned on.

See this video: https://photos.app.goo.gl/cgxQU3e5HPruuBr47

[2021-06-25 06:58] tuomas2 commented on #835
Perhaps leaving this for 3.5 then.

[2021-06-25 07:02] tuomas2 commented on #813
Okay prepared for this by adding a string for the option

[2021-06-25 07:11] tuomas2 commented on #615
Implemented already

[2021-06-25 07:11] #615 closed

[2021-06-25 07:16] tuomas2 commented on #332
I have prepared strings (chooser_*) for the optional new selector so it can be implemented.

[2021-06-25 07:22] tuomas2 commented on #957
Works perfectly for me. I guess we have different version of RealGreekStrongs. My module says 1.5-150704 (2015-07-04), what does yours? And I think this is the one version that is available via downloads.

[2021-06-25 07:23] tuomas2 commented on #957
![image](https://user-images.githubusercontent.com/5811789/123386452-5e16c900-d59f-11eb-86d9-e5b319e22be0.png)

[2021-06-25 07:27] tuomas2 commented on #1071
By this date we don't have a good plan to implement this, I think we should not delay the update too much. I think people (I think our target audience is rather smart anyway) can learn most of the features by trial and error and watching tutorial videos.

[2021-06-25 07:28] tuomas2 commented on #1105
Added to prio list. But does not need strings so not 'that urgent'

[2021-06-25 07:32] tuomas2 commented on #1067
Implementation problem: we can't open selection context menu (copy etc) manually (tried this hard when trying to do #1079). It can come only as a consequence of selection text.

[2021-06-25 07:33] tuomas2 commented on #1040
Yes I believe so

[2021-06-25 07:33] #1040 closed, assigned to bvahedy

[2021-06-25 07:35] tuomas2 commented on #1034
tasks are crosses (ticked / unticked). I mean this

- [ ] this is a task

[2021-06-25 07:35] tuomas2 commented on #1034
But closing this also

[2021-06-25 07:35] #1034 closed, assigned to bvahedy

[2021-06-25 07:40] tuomas2 commented on #1112
@Dleemuse can you confirm if the issue still exists in the latest beta releases?  https://github.com/AndBible/and-bible/releases/tag/beta-529

[2021-06-25 07:44] tuomas2 commented on #1164
Hmm, the issue is with the system bar that comes on top of first bible window. I agree this is not very big issue as it can be alleviated by exiting fullscreen and going back. We can fix it either before or after the release.

[2021-06-25 07:47] tuomas2 commented on #1078
I am not sure if it is even possible to be implemented.

[2021-06-25 07:52] tuomas2 commented on #1184
If this is reported to Crosswire bug tracker, this can be closed.

Reported here: https://tracker.crosswire.org/browse/MOD-389

[2021-06-25 07:52] #1184 closed, assigned to nobody

[2021-06-25 07:53] tuomas2 commented on #1185
Which module?

[2021-06-25 07:58] #1177 closed, assigned to bvahedy

[2021-06-25 08:02] agrogers commented on #1185
Oh, yes,
- Strongs Real Greek Bible Dictionary
- Robinson's Greek morphology

Is that what you need?

[2021-06-25 08:12] #1181 closed, assigned to bvahedy

[2021-06-25 08:24] tuomas2 commented on #1185
Which module is the bible text that has greek words that you want to hide?

[2021-06-25 08:26] tuomas2 commented on #1178
Fixed "Unlabelled"-> "Unlabeled" in Transifex (en_gb)

[2021-06-25 08:27] tuomas2 commented on #1178
Color adjustment should be there, but most of other options not

[2021-06-25 08:27] agrogers commented on #1185
Sorry, thought that was in the header bar.

KJV King James Version (1769) with Strings Numbers and Morphology

[2021-06-25 08:28] tuomas2 commented on #1178
Color and underline options.. not favourite etc.

[2021-06-25 08:31] #1178 closed, assigned to bvahedy

[2021-06-25 08:31] agrogers commented on #1178
Yes, that makes sense.

But I am still not sure how to get to that setting...

___________________________
*www.TenOutOfTen.org* <https://www.TenOutOfTen.org>
***@***.***
(+61) 0477 174 193 (Australia)
(+95) 09 250018669 (Myanmar)

On Fri, 25 Jun 2021 at 18:27, Tuomas Airaksinen ***@***.***>
wrote:

[2021-06-25 08:32] tuomas2 commented on #1178
Main menu -> manage labels

[2021-06-25 08:36] agrogers commented on #1178
Ah, I see, I was looking for it under 'U'. Instead it is before 'A' and
after numbers

[image: image.png]

___________________________
*www.TenOutOfTen.org* <https://www.TenOutOfTen.org>
***@***.***
(+61) 0477 174 193 (Australia)
(+95) 09 250018669 (Myanmar)

On Fri, 25 Jun 2021 at 18:32, Tuomas Airaksinen ***@***.***>
wrote:

[2021-06-25 08:38] tuomas2 commented on #1176
We could even have "big letters KJV" included in our repository, with this CSS.

[2021-06-25 08:38] tuomas2 commented on #1176
(or other public domain bible -- but not NASB or other copyrighted one)

[2021-06-25 08:40] tuomas2 commented on #1179
@agrogers what do you think?

[2021-06-25 08:41] tuomas2 commented on #1067
The thing is right now that I don't know what to do witht his. I would have fixed this months ago if it was easy to fix neatly.

[2021-06-25 09:16] tuomas2 opened #1187 "Single-click verse functions"
- [x] #1105
- [x] #1162
- [x] #1182
- [x] #1169
- [x] #1188

[2021-06-25 09:17] tuomas2 commented on #1187
@agrogers do you think we will manage these string additions? b2a6b6f

[2021-06-25 09:31] tuomas2 commented on #1179
Do we need new strings? If we do, what exactly?

[2021-06-25 10:52] agrogers opened #1188 "Handling the verse one-click option for existing hyperlinks"
A few scenarios:
1. Clicking on a Footnote or cross-reference: No changes required - it opens the popup dialog as normal
2. Clicking on a Strongs or Morph link **when the link numbers are visible**: No changes required - it opens the link in window
3. Clicking on a word that is dotted-underlined indicating a Strongs (and possibly a Morph) number

This last option would need to always respond in th

[2021-06-25 11:00] agrogers commented on #1169
#1188 tries to address the link issue.

[2021-06-25 11:26] agrogers opened #1189 "New whole verse bookmark icons proposal"
My preference for indicating whether the icon is active is to use an alternative icon rather than a modified color. Modified color is good usually but we have so many colors that it can be a little hard to follow.

I have some SVGs.
![Verse selected icons](https://user-images.githubusercontent.com/13920678/123419930-2e4ade00-d5fe-11eb-8184-1361066f625b.png)

![edit icon in context](https://user-im

[2021-06-25 11:43] agrogers opened #1190 "New Edit icon proposal"
They dont need adjusted colors to show their state.

![Edit icons](https://user-images.githubusercontent.com/13920678/123419991-44f13500-d5fe-11eb-8414-95d5e50b174a.png)

https://fontawesome.com/v5.15/icons/edit?style=regular
https://fontawesome.com/v5.15/icons/edit?style=solid

And in context:

![edit icon in context](https://user-images.githubusercontent.com/13920678/123420012-4ae71600-d5fe-11eb

[2021-06-25 12:05] thebiblelover7 opened #1191 "Make a discussion group"
Hello Everyone!

I was looking around the wiki and noticed that there supposedly was a discussion group. When I checked the link I saw that it was a groups.google.com link. **Google Groups is now dead.** Could we use another platform?

### Options:
*these are the best ones imo*

* Make a Matrix room (no cost)
* Make a Telegram group (no cost)
* Or something like the above
* Host forum software (se

[2021-06-25 12:17] tuomas2 commented on #1191
I have felt Github issues have been sufficient. Usually input from users are bug issues and feature requests, but issues can be used for any AB related discussion topic. And to follow discussions, one simply needs to be subscribed to the project @ github (Watch button on Github front page). I don't really want discussion about features or bug issues outside of Github issues, as it would necessitat

[2021-06-25 12:18] tuomas2 commented on #1191
Google groups emailing list is also 'alive', though not used very actively https://groups.google.com/g/and-bible

[2021-06-25 12:31] tuomas2 commented on #1028
We are freezing (english, translatable) source strings for 3.4 soon so that translators can finalize the translation work. Will send announcement via transifex and also here in few days!

[2021-06-25 12:44] agrogers commented on #1191
Do you think Github is easy enough for the average person to use?

___________________________
*www.TenOutOfTen.org* <https://www.TenOutOfTen.org>
***@***.***
(+61) 0477 174 193 (Australia)
(+95) 09 250018669 (Myanmar)

On Fri, 25 Jun 2021 at 22:18, Tuomas Airaksinen ***@***.***>
wrote:

[2021-06-25 12:50] tuomas2 commented on #1191
is average person willing to participate anyway?

[2021-06-25 12:52] tuomas2 commented on #1191
I think gh is easy enough to most people that are interested in this kind of discussiobs

[2021-06-25 12:55] agrogers commented on #1179
I was sure I responded to this first thing this morning. A few comments:

1. I agree that there are a lot of check box controls on this grid. In fact...
2. New users are unlikely to know they are even controls. I am ok with that because...
3. All the functionality that the controls in the list provide are accessible from the Edit dialog.
4. In the Edit dialog the icon is attached to the descriptio

[2021-06-25 13:13] agrogers commented on #1071
Tim made me think that maybe an easy help system would be to

- add a window - maybe maximum 10 lines high - at the top of all lists.
- In this we show the explanation (scrollable if it is long) explaining how the list/dialog etc works.
- The user can dismiss it somehow so it goes away forever (or until a new feature is added or something changes).
- Is it easy to add such a control to the top of

[2021-06-25 14:44] timbze commented on #1191
I think a discussion group would be beneficial for users that want a simple way to ask a question or discuss something about And Bible. Creating an issue feels like too big of a deal if someone wants to ask how to highlight, for example.

Pros
- More users would be able to help other users
- I believe more users would get more out of AB, for example, when I show my friends how I use AB they get ex

[2021-06-25 22:33] agrogers commented on #1176
It would be helpful for me to have somewhere in And Bible the location of the CSS files need to go. I have really struggled in the past just trying to find where stuff is installed on my devices

[2021-06-26 03:05] agrogers commented on #1191
Yeah, I tend to agree with Tim.

[2021-06-26 04:55] agrogers opened #1193 "The Add new window icon has gone missing (white)"
I think it is there it is just very white.
![image](https://user-images.githubusercontent.com/13920678/123502277-86c9bc00-d68e-11eb-870f-b5b2ac0a2e16.png)

[2021-06-26 04:58] agrogers opened #1194 "Enable speaking of the 'All References' window"
I tried to 'speak' the all references window (bottom) but the Speak option in the hamburger menu was disabled.
However I could speak the TSK window (middle) which sounded particularly weird :)
Can we enable speak on windows that show all references?

![image](https://user-images.githubusercontent.com/13920678/123502301-b973b480-d68e-11eb-87dc-bd07f9b49782.png)

[2021-06-26 05:02] agrogers commented on #611
I just noticed that the 'Show all references' link actually tries to show the reference names in the document button at the top.

![image](https://user-images.githubusercontent.com/13920678/123502365-34d56600-d68f-11eb-878e-ba9b6b7fdad5.png)

Could we just add a button to the search form that does exactly what the 'Show all references' link does only it shows the search results?

If #1194 is imple

[2021-06-26 06:05] tuomas2 commented on #1194
Can go to wishing well, but not in 3.4 :-)

[2021-06-26 07:34] tuomas2 commented on #1191
Well, we could try, but would someone promise me to collect all good ideas into corresponding Github tickets? :-) So that I don't need to stress about reading every message and doing secretary work (and can concentrate on coding :-D ).

[2021-06-26 07:37] tuomas2 commented on #1191
Telegram is technology that is user-friendly but is it good for this kind of discussion? I'm still more for Microsoft Teams, but is it too difficult to get inside or use it? It's app is somewhat buggy sometimes.

[2021-06-26 08:11] tuomas2 commented on #1071
What about making it same way as in workspaces view?
![Screenshot_20210626-111013_Bible Study](https://user-images.githubusercontent.com/5811789/123506893-3d1da900-d66f-11eb-9715-a266d8bf65e6.jpg)

[2021-06-26 08:30] tuomas2 commented on #1071
Added string for assign label dialog help. Implementation can be desided later but I would go with (?) button and similar help dialog that we have been using earlier.

[2021-06-26 08:31] tuomas2 commented on #1071
Did not push them yet to Transifex, so please review and suggest improvements if you think they are needed!  78b2b21

[2021-06-26 08:40] tuomas2 commented on #1189
What about having other icon with arrows, other without? V could be something else also (V is verse in english, but it's not very international).

But good idea, I'll go with this if no better option arises.

[2021-06-26 11:37] thebiblelover7 commented on #1191
I would personally use Matrix, but Telegram is better than nothing. We could also bridge a Telegram group to a Matrix room so everyone can use what they want.

@tuomas2 Would you like me to make the room?

[2021-06-26 11:38] thebiblelover7 commented on #1191
**I promise**

[2021-06-26 12:04] tuomas2 commented on #1191
ok I'll think about it👍 I'll let you know later. Can you send me email? help.andbible@gmail.com

[2021-06-26 12:05] tuomas2 commented on #1191
discussion still open though ☺️

[2021-06-26 12:57] agrogers opened #1195 "Setting the 'Application Preferences > Hide window buttons' to true does not take immediate effect"
Experience
- After setting this option the window buttons remained visible.
- Changing the workspace caused the setting to take effect.

Expected:
- The workspace is updated when the menu is closed to reflect the new setting.

[2021-06-26 13:06] timbze commented on #1191
@adrielsand what benefits do you see of matrix? Genuinely curious, as I've never tried it myself.

I guess there could even be just a "Fans of And Bible" group or something like that so And Bible developers don't need to take responsibility... Just another idea @tuomas2

[2021-06-26 13:15] thebiblelover7 commented on #1191
@timbze I just like its expandability and the features tailored to bigger communities such as open source projects. I liked it a bit better than Telegram.

[2021-06-26 13:15] thebiblelover7 commented on #1191
@tuomas2 I sent you an email

[2021-06-26 13:23] agrogers opened #1196 "Don't show the 'Selected labels' heading for the workspace labels list"
Observed:
- Choose the ... menu (top right corner)
- Label settings...
- Shows the label list with the unnecessary heading

Expected:
- List is shown without the 'Selected labels' heading.
-
![image](https://user-images.githubusercontent.com/13920678/123514229-30cc3700-d6d5-11eb-819a-771684e67d6c.png)

[2021-06-26 13:52] agrogers opened #1197 "What is the difference between the labels lists?"
List 1: Hamburger menu > Manage Labels (called Manage Labels - missing favourite column)
List 2: ... menu (top right) > Label settings (called Auto assign & Favourites)

In List 1, it is still possible to set the Auto-assign and Favourite values by editing the label. I assume this applies just to the current workspace. Is that correct?

If it does, then it's functionality is identical to List 2 ex

[2021-06-26 14:06] timbze opened #1198 "Set Bible version for multiple references window"
~~Currently there is no way to set which Bible version should be used when clicking "Open all references"~~
EDIT: #1521 addressed this somewhat. It's still not possible to change "multiple references" version after opening (what this issue is about), but it now works to set "Link window" version, and then multiple references are always opened in the last set version.

When the links window opens a

[2021-06-26 14:22] agrogers opened #1199 "Proposal for new window and '...' menu presentation"
I was at a party tonight and was telling my mate who makes Adobe After Effects videos about And Bible. He hadn't used it for three years. So he installed it and I watched him use it... and get lost and confused. It was quite enlightening!

There were a few smaller usability problems that I will raise in other issues. But the biggest issue/surprise was that he just kept going back to the '...' butt

[2021-06-26 14:32] agrogers commented on #1198
Yeah, I have never really understood how it determines which version to
use. Most times i get what i want. But every now and then i get something i
didnt expect.

I have thought that we might need a 'preferred' or 'default' translation
that would always be used for this purpose.

___________________________
*www.TenOutOfTen.org* <https://www.TenOutOfTen.org>
***@***.***
(+61) 0477 174 193 (Austral

[2021-06-26 14:34] agrogers commented on #1191
I like the idea of not making it an official And Bible group. The top
pinned post could direct people to Github if they want to communicate
directly with the devs. But i would be happy to do my little bit to support
that community.

___________________________
*www.TenOutOfTen.org* <https://www.TenOutOfTen.org>
***@***.***
(+61) 0477 174 193 (Australia)
(+95) 09 250018669 (Myanmar)

On Sat, 26 Jun

[2021-06-26 14:50] tuomas2 commented on #1197
The original semantics has been that main menu is for "global" things, and 3-dot options menu is for per-workspace things. But there are exceptions. And now it is possible to set  per-workspace things also from manage labels. But indeed we can question the existence of "Manage labels" by now.

[2021-06-26 15:15] agrogers commented on #1197
OK, i might  have a look at this and see if there is a good way to manage it. If i can think of something i will share it.

[2021-06-26 15:15] #1197 closed, assigned to bvahedy

[2021-06-26 15:19] tuomas2 commented on #1198
Similar logic as when you click a link. I can check the code and give the exact logic when I have time, and we can think if we could improve that somehow.

[2021-06-26 15:22] tuomas2 commented on #1191
How should we advertise the group? Homepage, Github?

Should AB user interface have something that advertises this?

[2021-06-26 15:32] agrogers commented on #1199
I should have added, my feeling is that it is not a good idea to have the workspace settings accessible directly through the '...'.  These settings mirror the window settings in many ways and so it is, as my friend found, easy to get confused. Plus I think workspace settings are generally set up once and then left alone. They don't need to be so easily accessed.

The same argument could be made fo

[2021-06-26 15:45] agrogers commented on #1198
Great. I'm not sure what the link logic is either 😁

On Sun, 27 Jun 2021, 1:19 am Tuomas Airaksinen, ***@***.***>
wrote:

[2021-06-26 15:49] agrogers commented on #1191
Sure, how about at the top (or bottom) of the Help and Tips dialog? Could
add a hyperlink to the group and to Github.

Actually perhaps just to the group - best if multiple people have a chance
at answering any question before it gets to you guys.

On Sun, 27 Jun 2021, 1:22 am Tuomas Airaksinen, ***@***.***>
wrote:

[2021-06-26 17:48] bvahedy commented on #957
Ok, I see. I had created a combine Mickelson with kjv strong's dictionary which gives you a better comparisons of each words from both dictionaries in one place. However I don't know why the links are not working now in 3.4, is there any way you can tell me what AB is now looking for to display the links. I have not changed anything in this dictionary module and it does work in 3.3 version. If it'

[2021-06-26 18:25] thebiblelover7 commented on #1191
@agrogers I like that idea

We could put it on the GitHub page and also on the Help and Tips dialog.

[2021-06-26 19:51] timbze opened #1200 "+ (plus) icon shows in toolbar in activities where it should not"
**Describe the bug**
- [x] "+" icon shows in find results screen toolbar, but it shouldn't
- [x] also shows in book chooser for KJV 1769 with Strongs Numbers and Morphology (Crosswire)

Bug **did not exist** in 528.5 b3e3f88e

**Bug was found on And Bible version**
Build 529.1

**Screenshots**
![image](https://user-images.githubusercontent.com/35117769/123524006-cb505a00-d684-11eb-86d2-669e1133f5e

[2021-06-26 20:02] bvahedy opened #1201 "Disabled chapter swipe when bookmark modal is active..."
When a bookmark modal is open, swiping  to the right or left should not change the chapter you are in. In some cases not everything fits within the model and trying to move things inside the modal just to make them visible causes a chapter change and the modal closes.

Expected result:
Disabled chapter swipe when a modal is open and active.

[2021-06-26 20:16] bvahedy opened #1202 "Can't paste when inside a note window..."
First copy a verse using the system copy function when you tap and hold on the screen in Bible view window.

Create a bookmark then trying to add notes for the bookmark. Once inside the model of you tap and hold biting happens. There is no way to paste anything inside the note modal. You can however use the keyboard paste function, but only if your keyboard has that function.

[2021-06-26 22:19] agrogers commented on #1201
Good idea. This is related to #1183 also.

[2021-06-26 22:43] bvahedy commented on #1200
Timmy,
It seems that this only happen with the kjv 1769 module I can't dupplicate
it with other modules. But I agree that it should not be there.

Ben

On Sat, Jun 26, 2021, 12:51 PM Timmy Braun ***@***.***> wrote:

[2021-06-27 00:51] bvahedy commented on #1173
This seems to have  been fixed in 529.1 build.

[2021-06-27 00:54] bvahedy commented on #1150
This is still happening in 529.1 build, so reopening the ticket.

[2021-06-27 00:58] bvahedy commented on #1149
Verified fixed in 529.1 build.

[2021-06-27 00:58] bvahedy commented on #1147
Verified fixed in 529.1 build.

[2021-06-27 01:01] bvahedy commented on #1146
Verified working in 529.1 build.

[2021-06-27 01:04] bvahedy commented on #1141
Verified fixed in 529.1 build.

[2021-06-27 01:05] bvahedy commented on #1134
Verified fixed in 529.1 build.

[2021-06-27 05:27] agrogers commented on #1189
I've been thinking about alternatives to the letter V but haven't come up with anything better. Best idea is just a series of horizontal lines with arrow underneath. But perhaps that won't be clear to anyone then, even English speakers 😏

[2021-06-27 07:20] bvahedy commented on #1189
Although I like the 529.1 version, but How about something like this:

On Sat, Jun 26, 2021, 10:27 PM Andrew Rogers ***@***.***>
wrote:

[2021-06-27 07:34] agrogers commented on #1191
Would it be possible to use this forum as a replacement for the OS Ticket system? At present, answers to tickets only help the person who submits them. If there is nothing personal in those ticket submissions, then I would support them going to the public forum.

Also, there is a steady flow of tickets coming into the OS Ticket system. If they went to the forum then it would at least keep the foru

[2021-06-27 07:39] agrogers commented on #1189
'this' seems to be missing Ben

On Sun, 27 Jun 2021, 5:20 pm Ben, ***@***.***> wrote:

[2021-06-27 07:51] bvahedy commented on #1189
Sorry, I forgot Gmail doesn't bring images over. Of course this is a rough draft:
![sketch1624778241938](https://user-images.githubusercontent.com/46405809/123536916-d4bbdf80-d6e1-11eb-9a4e-45421e9bb7db.png)

[2021-06-27 12:05] thebiblelover7 commented on #1191
@agrogers that's a great idea!

@tuomas2 I sent you another email btw

[2021-06-27 13:39] tuomas2 commented on #1191
Need to think about details carefully.
1. Crash / bug reports still go to osticket (because its via email) and I guess that's ok.
2. Many people ask questions via main menu -> bug report and that goes anyway to osticket
3. If it's mainly for Q/A / support / help desk, there are better software for that (similar to stackoverflow) than telegram etc.

[2021-06-27 14:03] agrogers commented on #1191
Crash reports going to a forum probably does not make sense since no one
but devs could answer them. But any other bug report or support issue could
go to a forum. A prerequisite would be that the forum could handle
submissions by email from non registered users I guess.

On Sun, 27 Jun 2021, 11:39 pm Tuomas Airaksinen, ***@***.***>
wrote:

[2021-06-27 14:28] thebiblelover7 commented on #1191
@tuomas2 My idea was something like this:

1. Crash/Bug Reports => to GitHub Issues
2. General Questions/Support => Discussion/Support Group

If there is any question that later seems to be a bug, the user should be told to make a bug report, etc.
In my opinion, there shouldn't be any forum, as long as there is a discussion/support group.

Most big open source projects have both a discussion/suppo

[2021-06-28 03:43] agrogers opened #1203 "Should the focus change to the Link window when a link is pressed?"
Current:

1. When I click a link (bible reference or Strongs number) the Link window is updated and it also receives focus.
2. If I immediately try and change the bible reference the Link window is changed, not the window I was using.

Expected:

1. The window that I clicked in would keep the focus.

My friend had problems with the existing functionality the other night. I have a feeling that this

[2021-06-28 03:44] agrogers opened #1204 "The Speak label box has lost its border"
Not sure if this is simply a color issue or a bug.
![image](https://user-images.githubusercontent.com/13920678/123577338-fe2a5780-d816-11eb-8db0-ae112e46151c.png)

[2021-06-28 03:49] agrogers opened #1205 "Download documents search text issue"
Scenario:
1. Open the Download Documents window
2. Click in the Search box
3. Type something that will return no results.
4. Push enter
5. The search text disappears and no results are shown.
6. Type something else in the search box that should return results
7. Push enter
8. Still nothing appears in the results

Work around:
1. Close the Download Documents dialog and search again

Expected:
1. Af

[2021-06-28 03:52] agrogers opened #1206 "Provide a button to download the Morphological document"
This dialog will appear if the document does not exist. The user then needs to go off and find the document and download it - which is a little hard for new users.

Solution:
- Ask if the user wants to download that document immediately
- If they say yes, download the document
- I would propose downloading it in the foreground - make the user wait for it - it doesnt take too long.
- Then activate

[2021-06-28 03:56] agrogers opened #1207 "Add a Save button to the Edit label form (and perhaps other forms)"
A new user can get confused when adding a label.
1. They push the Add button to enter the details of a new label
2. They then have the choice of deleting is (trash can) or pushing the back button (arrow)
3. The arrow doesn't feel like a save button and it is unclear whether the user should be looking for a save button to push.

Proposal:
1. Add a Save button (disk) next to the delete button
2. Tha

[2021-06-28 05:38] bvahedy commented on #1207
May be we should put the word save like on other screens at the buttom
right hand corner. I know a few people with fat fingers who are always
complaining that their fingers pushed the wrong icon.

On Sun, Jun 27, 2021, 8:57 PM Andrew Rogers ***@***.***>
wrote:

[2021-06-28 05:44] bvahedy commented on #1203
are you proposing that a link window should not be given the option to be
manipulated from the top menu bar?

On Sun, Jun 27, 2021, 8:43 PM Andrew Rogers ***@***.***>
wrote:

[2021-06-28 06:45] agrogers commented on #1203
No, it should function exactly as it is. Only change is to not get focus
when a link is clicked.

On Mon, 28 Jun 2021, 3:45 pm Ben, ***@***.***> wrote:

[2021-06-28 06:54] agrogers commented on #1207
Yeah, that would be good too. Although sometimes i cant see the buttons at
the bottom because the onscreen keyboard hides it. We should be consistent
across dialogs.

___________________________
*www.TenOutOfTen.org* <https://www.TenOutOfTen.org>
***@***.***
(+61) 0477 174 193 (Australia)
(+95) 09 250018669 (Myanmar)

On Mon, 28 Jun 2021 at 15:38, Ben ***@***.***> wrote:

[2021-06-28 07:07] bvahedy commented on #1203
Ok, but if you try to scroll up in the link window it will gain the focus
which happens more often than not on devices with a smaller screen.

On Sun, Jun 27, 2021, 11:45 PM Andrew Rogers ***@***.***>
wrote:

[2021-06-28 07:12] bvahedy commented on #1207
That's true, a lot of times the virtual keyboard covers that portion. I
guess as long as there is a healthy gap between the trash icon and the save
icon, it would work putting them next to each other, but I still think
users will complain about hitting the wrong icon.

On Sun, Jun 27, 2021, 11:54 PM Andrew Rogers ***@***.***>
wrote:

[2021-06-28 07:17] agrogers commented on #1203
Sorry, I wasn't very clear in my first post.

It's fine for the Link window to receive the focus if you click on it or
scroll in it.

My suggestion was that focus should not automatically transfer to the Link
window *after* a link is clicked in a normal window. I think the focus
should always stay with the particular window the user clicks/scrolls in.

Is that clearer?
___________________________

[2021-06-28 07:38] tuomas2 commented on #1191
I'm thinking to make item "Questions?" under "Contact" in Main menu which directs to Github wiki page
https://github.com/AndBible/and-bible/wiki/Support that will then guide user to write question in correct place (whatever we decide; currently only help.andbible@gmail.com).

Is "Questions?" good and general enough title?

[2021-06-28 07:40] tuomas2 commented on #1191
Sounds complicated (is there such a software) and problematic otherwise (user does not necessarily know that his message ends up in public forum).

[2021-06-28 07:51] tuomas2 commented on #1207
I kind of like the current simplistic behavior. It's simple and I think it follows the pattern used in full screen activities, that is familiar to users -- all things he does are immediately in effect. If you go to "application preferences" screen, there has never been "save" button. User quickly figures out that if there's no "save" button, it means that changes are saved immediately.

If we add

[2021-06-28 07:54] tuomas2 commented on #1200
Interesting. Must be very old bug. Is it related to the fact that apocrypha is toggled in bible book selector with this button? How come this button has travelled to other activities too?

[2021-06-28 07:55] tuomas2 commented on #1204
I have since changed the migration script so users should have red speak label by default instead of white.
Beta users need to change this manually.

[2021-06-28 07:56] #1204 closed, assigned to bvahedy

[2021-06-28 07:58] tuomas2 commented on #1206
Or at least button to go to download screens. "Go to downloads".. And module id should be given in addition to name.

[2021-06-28 08:20] agrogers commented on #1207
I tend to agree with all the points raised so far. It probably depends on
which apps people are familiar with. Google Calendar has an X and a 'Save'
button at the top. MS Outlook has an X and a tick. Google Tasks has a
'Save'. GitHub has a back and a Send button. Hmm, they all have save
buttons. But I am sure i have used apps with just a back button.

Actually, if the back arrow was simply changed

[2021-06-28 08:20] agrogers commented on #1206
Yes, that would be a good starting point.

___________________________
*www.TenOutOfTen.org* <https://www.TenOutOfTen.org>
***@***.***
(+61) 0477 174 193 (Australia)
(+95) 09 250018669 (Myanmar)

On Mon, 28 Jun 2021 at 17:58, Tuomas Airaksinen ***@***.***>
wrote:

[2021-06-28 08:22] agrogers commented on #1191
It does sound a little complicated/ The devil is always in the details.

___________________________
*www.TenOutOfTen.org* <https://www.TenOutOfTen.org>
***@***.***
(+61) 0477 174 193 (Australia)
(+95) 09 250018669 (Myanmar)

On Mon, 28 Jun 2021 at 17:41, Tuomas Airaksinen ***@***.***>
wrote:

[2021-06-28 08:47] tuomas2 commented on #1199
Is there some library etc to make such beautiful menus? I'm afraid this is rather difficult to implement (would be simple in js-side, but this can't be I guess). But beautiful...

[2021-06-28 11:05] thebiblelover7 commented on #1191
@tuomas2 It does sound a bit confusing but I don't know any better

Maybe instead of redirecting the user to the github wiki, you could put it in the app directly. It makes it a bit simpler for the user.

[2021-06-28 11:23] tuomas2 commented on #1191
options: Have questions? Need help?

wiki page preferrably so we can change it easily

[2021-06-28 11:25] tuomas2 commented on #1191
and this is english only. in app content is translated

[2021-06-28 12:32] agrogers commented on #1199
After using AB I just assume you guys can do anything 😏 But I did wondered if this sort of menu would be possible. Am I right in thinking that menus that can span multiple windows are not done in java but use standard android controls?

[2021-06-28 12:46] agrogers commented on #1199
Is this helpful?
https://medium.com/@prakharsrivastava_219/creating-custom-menu-in-android-part-1-3-menu-design-b51a13a7d018

[2021-06-28 13:10] tuomas2 commented on #1199
Current standard android popup / options menus can span multiple windows. JS-side we can do anything fancy but it does not span windows.

No, I'm afraid.

[2021-06-28 15:15] tuomas2 commented on #1199
You could, however, wish some icons to 3-dot workspace menu (otherwise looking as now).

[2021-06-28 15:16] tuomas2 commented on #1199
SVG path for those would help a great deal

[2021-06-28 15:38] bvahedy commented on #1203
Ok, I see what you mean now.

On Mon, Jun 28, 2021, 12:17 AM Andrew Rogers ***@***.***>
wrote:

[2021-06-28 17:15] tuomas2 opened #1208 "When books are sorted horizontally, sort chapter/verse numbers horizontally as well"
@jmarsican (and others) what do you think? I think it makes sense.

[2021-06-28 21:21] agrogers commented on #1199
Thanks for the info. And Sure, I will work on some icons. But can't get to
it until Saturday.

On Tue, 29 Jun 2021, 1:16 am Tuomas Airaksinen, ***@***.***>
wrote:

[2021-06-28 21:40] agrogers commented on #1208
I think it makes sense 😏
I would keep the column count to either 5 or 10.

On Tue, 29 Jun 2021, 3:15 am Tuomas Airaksinen, ***@***.***>
wrote:

[2021-06-29 00:31] thebiblelover7 commented on #1191
Makes sense. I'll be waiting for an answer :).

[2021-06-29 05:24] tuomas2 commented on #1199
Icons are not in a hurry, no problem :-)

[2021-06-29 05:57] #1193 closed, assigned to bvahedy

[2021-06-29 06:42] tuomas2 opened #1209 "Edit bookmark label improvement"
- [x] Add "Bookmark style" title
- [x] add some space before "this bookmark" and "This workspace" to make it more clear

[2021-06-29 06:49] tuomas2 opened #1210 "Changing primary label in "Assign labels" activity does not work"

[2021-06-29 06:50] tuomas2 commented on #1209
- [x] give focus to name field when creating a new label

[2021-06-29 07:11] tuomas2 opened #1211 "Show loading indicator also when content is changing"
not only when opening a new window

[2021-06-29 12:03] tuomas2 commented on #1028
Planning to freeze english source strings on thursday 1st July.

[2021-06-30 06:37] tuomas2 commented on #1071
@agrogers could you think of a short help text for "All text settings" screens, both per-workspace and per-window, that would tell briefly how setting inheritance works?

I.e. essentially what I tell here https://www.youtube.com/watch?v=rz0zyEK9qBk

That's something I'd like to have questionmark button because it's not completely obvious without instructions.

[2021-06-30 10:33] agrogers commented on #1071
Sure thing. Happy to help. Thanks for being specific - I was struggling a
little to know where to start.

___________________________
*www.TenOutOfTen.org* <https://www.TenOutOfTen.org>
***@***.***
(+61) 0477 174 193 (Australia)
(+95) 09 250018669 (Myanmar)

On Wed, 30 Jun 2021 at 16:37, Tuomas Airaksinen ***@***.***>
wrote:

[2021-06-30 13:01] agrogers commented on #1071
Hi Tuomas.

You can find a document here with my best effort for workspace settings. I
think i have found all of them and grouped them in a way that seems logical
to me.
https://docs.google.com/document/d/1KlhgSyLFjscep79emSN38XFrZknd3Ptrx6A1G4BaTL0/edit?usp=sharing

I have also had some more thoughts on how to do the window button menus. It
seems that my picture is pretty much impossible to make

[2021-06-30 13:10] tuomas2 commented on #1071
Hmm. I was thinking if you could help me to figure out short help text for the current "all text settings" menu entries, similar way as you wrote in the above for assign labels.

i.e. these: for workspace

![Screenshot_20210630-161047](https://user-images.githubusercontent.com/5811789/123966181-d45f6500-d9bd-11eb-933c-d8c604226b44.png)

for window
![Screenshot_20210630-161056](https://user-images.

[2021-06-30 13:16] tuomas2 commented on #1071
I'm going to freeze strings tomorrow, so I need help strings by tomorrow evening. I can write something myself too, but I'm thinking you might come up with better help texts.

[2021-06-30 15:52] tuomas2 commented on #1071
Okay, here are my suggestions. How do these sound:

**Workspace text options**
These options determine the default settings for this workspace. They are in effect in all windows that do not specify overriding settings. If you are using multiple text windows, you can make overriding per-window adjustments from window menu button -> All Text Options.

**Window text options**
These options determine

[2021-06-30 15:53] tuomas2 commented on #1071
Okay, here are my suggestions. How do these sound:

https://docs.google.com/document/d/1eSZct6Qe2ZFduU5T4p_N4UtMh6P-UJq6o3WKJexR228/edit

Please @AndBible/developers @agrogers comment / improve directly in docs.

[2021-06-30 15:58] tuomas2 opened #1212 "Crash when clicking desktop widget"
https://support.andbible.org/scp/tickets.php?id=614

[code]

[2021-06-30 21:08] uniqueid001 opened #1213 "Provide row-major ordering for the Choose Chapter grid, and the Choose Verse grid"
#1122 added a user-controlled setting for ordering the Bible book chooser in row-major order, however it leaves the chapter and verse grids in column-major order.  I would like to apply row-major order to the chapter, and verse, selection grids.

_Design questions:_

1. Should each of the three choosers have a separate preference?  I think this is excessive: I expect that others who want row-major

[2021-06-30 23:33] agrogers commented on #1071
OK, i have made some suggestions. Maybe they are helpful.

Keep up the good work!

___________________________
*www.TenOutOfTen.org* <https://www.TenOutOfTen.org>
***@***.***
(+61) 0477 174 193 (Australia)
(+95) 09 250018669 (Myanmar)

On Thu, 1 Jul 2021 at 01:53, Tuomas Airaksinen ***@***.***>
wrote:

[2021-07-01 00:15] timbze commented on #1213
1. I think you're right
2. I think that would be excessive as well, if it's in book chooser activity I believe that's good

Also duplicate of #1208

[2021-07-01 02:44] jmarsican commented on #1208
Absolutely makes sense! Seems like @uniqueid001 has already addressed this with #1214 ;)

[2021-07-01 06:45] tuomas2 commented on #1071
![image](https://user-images.githubusercontent.com/5811789/124098210-04ae0e80-da65-11eb-8828-4e3106b18585.png)

![image](https://user-images.githubusercontent.com/5811789/124098262-10013a00-da65-11eb-8a69-8c8c625a2cd0.png)

![image](https://user-images.githubusercontent.com/5811789/124098300-18f20b80-da65-11eb-84c5-9f89f7e6cc5b.png)

[2021-07-01 06:46] tuomas2 commented on #1071
Thanks @agrogers !

[2021-07-01 07:16] #1208 closed, assigned to bvahedy

[2021-07-01 07:16] #1213 closed, assigned to nobody

[2021-07-01 09:07] tuomas2 commented on #1071
Now help items are added to label selection related screens and text options screens.

[2021-07-01 09:09] tuomas2 commented on #1071
Strings can still be changed UNTIL I freeeze them later today... (after that only via transifex (en_GB)

[2021-07-01 09:51] tuomas2 opened #1215 "In Android 11, app entries (Translate etc) not shown in selection menu"
This is related to new Package Visibility settings.
 https://developer.android.com/training/package-visibility

With QUERY_ALL_PACKAGES permission it seems to work but it's not accepted.

[2021-07-01 10:01] #1210 closed, assigned to bvahedy

[2021-07-01 12:04] #1209 closed, assigned to nobody

[2021-07-01 12:25] tuomas2 opened #1216 "Split verse & chapter number toggles in text options"
now 1 option, should be 2.

Strings are already added. prefs_show_chapter_no_title etc.

[2021-07-01 12:26] tuomas2 opened #1217 "Split footnotes & xrefs options into separate options"
Now they are one option. Strings already added.

Related to #1216

[2021-07-01 12:47] #1207 closed, assigned to nobody

[2021-07-01 12:50] tuomas2 commented on #1203
I'm not sure. We could perhaps give it a try.

[2021-07-01 12:53] agrogers commented on #1199
Hi Tuomas. Here is a revised version of the menu above that we couldn't do because of the window set up. This new one uses the same sort of drawer that you have already got on the main menu. You would know all the following much better than me but it seems like its possible to:

1. Slide the drawer from the right side.
https://stackoverflow.com/questions/18547277/how-to-set-navigation-drawer-to-be

[2021-07-01 12:55] tuomas2 commented on #1203
Changed the behavior. Let's see if we like it more.

[2021-07-01 12:55] #1203 closed, assigned to nobody

[2021-07-01 13:04] uniqueid001 commented on #1213
Thanks!  Sorry for creating a duplicate; I hadn't seen that report.

[2021-07-01 13:07] tuomas2 commented on #1198
Okay, current logic is as follows:
1. If link defines module to be used, use it (rarely does but can)
2. If this is a link opened in links window and if links window has bible document set (meaning, it has been used for bible doc), use that. This is the bible document that was used last time in this window.
3. Use active window's bible document, if it is set. (similarly as (2))
4. Use first bible

[2021-07-01 13:11] tuomas2 commented on #1200
This is not a bug. It shows results from apogrypha if you press "+". I think the idea has been that results from apocrypha are not wanted to be mixed up with Bible results.

[2021-07-01 13:12] tuomas2 commented on #1200
Same in bible book chooser

[2021-07-01 13:12] #1200 closed, assigned to bvahedy

[2021-07-01 13:24] timbze commented on #1200
KJV does not have apocrypha (KJVA does)

Also why did it just start happening after 528.5?

I'm wondering if #1122 or #1171 caused this, but have not been able to test that yet

[2021-07-01 13:28] tuomas2 commented on #1200
I was trying this with KJVA. Could this be misconfiguration of the KJV module (if it does not show up with other modules)

[2021-07-01 13:32] tuomas2 commented on #1199
In 3.4 I'm not going to revise these menus but I'll see if I can utilize icons you have selected.
Also I'm not yet desided if I like the suggested UX.
Current UX kind of hides "excessive" options. Now they jump to the user eyes, which might feel distractive.

[2021-07-01 13:43] timbze commented on #1198
"Multiple references" windows uses this logic? Then I guess it's different from Bible version logic in links window, because tapping the single Bible link in middle window in my screenshot I can open reference in KJV if that was open last in links window, but it's impossible to open KJV when clicking "Open all references"

[2021-07-01 13:44] #1202 closed, assigned to nobody

[2021-07-01 13:47] timbze commented on #1199
Agree this should be after 3.4

I like the idea though, but am sure it could be tweaked. For example, possibly always show the same 6, or 9 (or whatever number of) icons, plus a "more" icon to show the rest of settings. And then there could be a "Recent settings" option under the main some icons that would show recently used settings.

I mention having the main 6 or whatever number of icons, becau

[2021-07-01 13:51] tuomas2 commented on #1198
I was essentially explaining what `net.bible.android.control.page.window.WindowControl#defaultBibleDoc` does.

openMulti -> getBookAndKey -> getBibleKey -> defaultBibleDoc

[2021-07-01 13:55] tuomas2 commented on #1179
I think this is fixed now sufficiently

[2021-07-01 13:55] #1179 closed, assigned to nobody

[2021-07-01 14:07] tuomas2 commented on #1215
https://android-developers.googleblog.com/2015/10/in-app-translations-in-android.html

https://stackoverflow.com/questions/67660035/process-text-not-visible-in-text-selection-menu-in-most-apps-after-android-11/67859105#67859105

[2021-07-01 14:16] agrogers commented on #1199
Yeah, I agree that the number of options could be over powering. Although having pictures makes it easier to follow. Is a single menu with all the important options more usable then menus inside menus?

I did reduce the number of workspace icons from 13 down to 6 (or 3 depending how you count :)
My problem with those was that many of the Workspace options are identical to the Window options and so

[2021-07-01 14:17] tuomas2 commented on #1215
intent name seems to be android.intent.action.PROCESS_TEXT. But adding it in <queries> (in manifest) does not suffice

[2021-07-01 14:21] agrogers opened #1218 "Minimise icon"
I have put the SVG here:
https://drive.google.com/file/d/1n3OzNMtBGQwBLtR0RD_aJgrDssbpVYn6/view?usp=sharing
Can't upload it to Github. Is this format what you need?

![image](https://user-images.githubusercontent.com/13920678/124139929-643f0500-dacb-11eb-840c-5453f6a9aa05.png)

[2021-07-01 14:26] agrogers commented on #1218
Might want to check the width of the lines at the smaller size

[2021-07-01 14:27] #1215 closed, assigned to bvahedy

[2021-07-01 14:34] tuomas2 commented on #1218
SVG is correct format. Android vector graphics in practice take svg's path element content, and so do Font Awesome js library. Here, you can find that it is

`M1141 0l51 0c20,4 34,21 34,42 0,23 -19,42 -42,42l0 1 -43 0 -43 0 -5 0c-20,-3 -36,-21 -36,-42 0,-24 19,-43 42,-43l0 0 42 0zm246 0l179 0c35,0 67,14 90,37 1,1 2,2 3,3 21,23 34,53 34,87l0 169 -1 0c0,23 -19,42 -42,42 -20,0 -37,-13 -41,-31l0 -180c

[2021-07-01 14:37] tuomas2 commented on #1218
Result:
![image](https://user-images.githubusercontent.com/5811789/124142565-fc6cc800-da92-11eb-9bd6-9139be08f4a4.png)

I think features look too thin to my eyes..

[2021-07-01 15:20] tuomas2 commented on #1215
Related: #1044

[2021-07-01 15:39] tuomas2 commented on #429
Related #1215 #1044.
Key to this feature is PROCESS_TEXT intent.

[2021-07-01 15:40] tuomas2 commented on #1071
I think this is now more or less implemented as far as we want to do it now.

[2021-07-01 15:40] #1071 closed, assigned to nobody

[2021-07-01 16:18] tuomas2 commented on #1211
fixed by 60084b6104747095ada4726dab401e02a51d4187 d6616afb2cf1596fd603f884291857bd826374d4

[2021-07-01 16:18] #1211 closed, assigned to nobody

[2021-07-01 16:23] timbze commented on #1176
Follow these directions, and I think you will get the idea
1. Export KJV module from AB
2. Unzip to your computer, you will now find `mods.d` and `modules` folder
3. In `mods.d` folder, edit the kjv.conf file and add this line at the bottom: `AndBibleCSS=style/style.css`
4. In the same kjv.conf file, look at what the "DataPath" value is close to the top. Navigate to that directory in the `modules`

[2021-07-01 16:24] tuomas2 commented on #1175
Added King Comments https://github.com/AndBible/data/commit/4b6af6b1db51d27eab56cddd3cbb13c2df697982

[2021-07-01 16:24] timbze commented on #1176
@msavli which Bible version would you like all caps? As Tuomas says, if you're ok with a module that is in the public domain then we could make a duplicate of a current module and add the style so that you have a separate ALL CAPS document.

[2021-07-01 16:27] tuomas2 commented on #1175
Done https://github.com/AndBible/data/commit/67894570f303524028ef0ac4c0549d8ad7968774

[2021-07-01 16:44] tuomas2 commented on #1028
Sent via Transifex to translators

[2021-07-01 17:01] tuomas2 commented on #957
Possibly related https://tracker.crosswire.org/browse/MOD-417

[2021-07-01 17:10] tuomas2 opened #1219 "Add "Need help?" menu item"
Related to #1191

[2021-07-01 17:10] tuomas2 opened #1220 "Update icons"
Some icons will be added / old ones updated.
Icons are done in co-operation with @agrogers

[2021-07-01 17:15] tuomas2 opened #1221 "Create new videos for 4.0"
Videos are created in co-operation with @agrogers

Currently following videos are linked directly from app:

[code]

(in CommonUtils.kt)

We need
 - Intro video to all new features (short intro to each feature) (can be similar long one like beta video or series of videos)
 - Shorter promo video
 - Some longer in-depth tutorials of new features?
 - Replacement to old crappy tutorials?
 - Anything e

[2021-07-01 17:16] tuomas2 commented on #1176
As a future feature request, we could actually have "add on" css modules that implement something custom to all installed modules.

[2021-07-01 17:17] tuomas2 opened #1222 ""Add on" modules to change / manipulate css to all / some installed modules."
As a future feature request, we could actually have "add on" css modules that implement something custom to all installed modules.

_Originally posted by @tuomas2 in https://github.com/AndBible/and-bible/issues/1176#issuecomment-872418045_