[2020-07-11 20:07] RuggMatt opened #781 "Some actions launching twice in a row."
**Describe the bug**
I have found a similar issue in some places. It seems that some actions are running twice in a row. This is causing some weird issues, as explained in the examples below. I am not sure what the exact cause of the issue is, but it seems that some of the activities that are being launched are going through the whole Android lifecycle at least once very quickly on their initial l

[2020-07-11 20:12] RuggMatt commented on #781
I should note that issue only happens on the first time you do any of these actions upon launch.

e.g. the second time you visit the downloads page after starting the app, it won't show the warning a second time after clicking yes.

[2020-07-11 20:49] RuggMatt commented on #781
[code]

It may be related to this line:
[code]

[2020-07-12 00:34] bvahedy commented on #781
Matt, I tried all the scenarios you mentioned and I'm not experiencing any
duplicate queries.
I remember vaguely this happening 10 versions back but I'm not seeing it
now in the latest build 386.1 beta release.
I tested it with galaxy Note 8 running Android 9.

I had opened up a bug about module backup adding a zip extension to the
file name. But I can do that manually. The override msg only appea

[2020-07-12 13:13] tuomas2 commented on #781
@mattschlosser have you tried to reproduce these in emulator? Are you using stable branch (release/v3.3) or master branch build (yes, it's confusing now because both have same version number, perhaps should change that now)?

[2020-07-12 18:58] treemannul opened #782 "Bible selector dropdown behavior improvement suggestion"
The "quick" pulldown (little cross icon) for selecting Bible or Dictionary is confusing. It would seem more useful to put a check mark by the bible or dictionary you are currently using in the quick list (or highlight it), instead of removing it when selected and also rearranging the list, which is confusing.

If I select "Aleppo" for example, it removes "Aleppo" from the quick pulldown the next t

[2020-07-12 19:02] tuomas2 commented on #782
Good suggestion. We'll try this out for 3.4

[2020-07-12 20:47] RuggMatt commented on #781
I cannot reproduce on emulator but can reproduce on several of the physical devices I have available. Not sure what the issue is.

And this is the 3.3 branch/play store version.

[2020-07-13 00:16] bvahedy commented on #781
It's possible you have a bad build like Tuomas suggested. Or a bad
download.

On Sun, Jul 12, 2020, 1:47 PM Matt Schlosser <notifications@github.com>
wrote:

[2020-07-13 02:51] RuggMatt commented on #781
These problems only happen if dark theme is enabled at the Android OS level.

I can reproduce in the Android emulator now, if I first enable dark theme in the Android OS

It also happens if the Android OS is set the light theme, and the night mode is enabled via the menu toggle from the bible activity. (i.e. when the device theme doesn't match the app theme)

[2020-07-13 07:37] tuomas2 commented on #781
I think Jan-Jaap was struggling with similar issues related to search
results activity and as far as I remember, the issue was fixed. Could you
try a build based on the master branch instead? This might be fixed there.

On Mon, Jul 13, 2020 at 5:51 AM Matt Schlosser <notifications@github.com>
wrote:

--
T: Tuomas

[2020-07-13 08:25] tuomas2 opened #783 "Figure out a way to manage versioning better"
Read
https://medium.com/@manas/manage-your-android-app-s-versioncode-versionname-with-gradle-7f9c5dcf09bf
and possibly do some more research.

We need to maintain unique versionName string as well. Not sure if Play store requires it, but at least our F-Droid configuration requires it.

[2020-07-13 08:27] tuomas2 commented on #781
Related: #630

[2020-07-13 08:28] tuomas2 commented on #781
Actually also fix is here: #663 but it's not merged yet as there are unresolved issues left.

[2020-07-13 09:56] tuomas2 opened #784 "Tutorial videos: tilt to scroll"

[2020-07-13 10:27] tuomas2 opened #785 "Tilt to scroll idea"
From user, to be considered

[2020-07-13 13:28] alerque commented on #785
This is worth messing with. I don't know if 2-taps is the right trigger, but it's true that the main reason I use tilt-to-scroll infrequently is how hard it is to enable and disable. It's obnoxious to have on when you don't want it, and the menu (even being only 2 taps away) is not easy to do on the fly. For my purposes even a volume button trigger that turned it on/off would make it usable. The d

[2020-07-13 20:02] tuomas2 opened #786 "Tilt to scroll has stopped working"
An user reports and demonstrates with a video that when upgrading from version 2.4.0 (yes, it's quite old version), to 3.3, tilt to scroll feature stops working.

Device he is using is Galaxy Tab S.

[2020-07-13 20:07] tuomas2 commented on #786
Demo video: https://drive.google.com/file/d/1hh7cAOrvoQn9DwvSS60svnFkyJT4O61R/view

[2020-07-13 20:15] tuomas2 commented on #786
Also:

[2020-07-14 14:29] fire-bot opened #788 "Missing data files issue"
Also:
https://support.andbible.org/scp/tickets.php?id=266
https://support.andbible.org/scp/tickets.php?id=342
https://support.andbible.org/scp/tickets.php?id=354

**It almost seems like all reports we get with this issue have the device language in Russian**

*Sent by Errors Andbible. Created by [fire](https://fire.fundersclub.com/).*

---

\--- НАПИСАТЬ ОТЧЕТ ОБ ОШИБКАХ НАД ЭТОЙ ЛИНИЕЙ ---

Инстр

[2020-07-14 14:30] tuomas2 commented on #788
[code]

[2020-07-14 14:31] tuomas2 commented on #788
@timbze this is the issue related to today's support request.

[2020-07-14 14:38] tuomas2 commented on #788
Tried installing lopukhin commentary module and it looks OK.

[2020-07-14 16:11] fire-bot opened #789 "KJV indexing crashes"
*Sent by Errors Andbible. Created by [fire](https://fire.fundersclub.com/).*

---

I was indexing the KJV in the background and it seemed to crash before it was finished.

\--- WRITE BUG REPORT ABOVE THIS LINE ---

Instructions:

Tell us briefly what did you do / what happened when the issue took place. Example:

1\. Opened app

2\. Clicked window menu

-> Crash

Sometimes screenshot also is benef

[2020-07-14 16:14] tuomas2 commented on #789
[code]

Why it does not get permission its own folder?

[2020-07-14 17:31] LAfricain commented on #693
I just noticed that the crosswire beta is not present in the list.

[2020-07-14 17:33] tuomas2 commented on #693
Not sure if it should be, if the modules are beta quality. Perhaps in Beta channel it could be.

[2020-07-14 20:04] timbze commented on #788
@tuomas2 Maybe we can ask the person to remove and reinstall the module?

[2020-07-15 08:51] tuomas2 commented on #788
Sent her message.

[2020-07-15 08:54] tuomas2 commented on #789
Installing API 24 image in emulator and trying.

[2020-07-15 09:17] tuomas2 commented on #789
No crash occurred.

[2020-07-15 12:51] tuomas2 opened #790 "Allow customizing TTS voice"
Text to speech does not use system default settings

From user

[2020-07-15 13:43] timbze commented on #779
Maybe a table like this can help us get closer to what we really would like. Let me know your thoughts / or make changes here @tuomas2

Since you mentioned "not changing necessarily version number", do you mean that in some cases the version number should increment automatically?

| **<br>**                              | **Create release with APK** | **Release title**

[2020-07-15 17:11] timbze commented on #770
You could also just move the entire `Window` table section under the `Workspace` section, would be needed for both `MIGRATION_26_27` and `MIGRATION_10_27`

I think the issue must be with Sqlite version. See https://www.sqlite.org/lang_altertable.html#alter_table_rename:

The default Sqlite version for Android 10 is 3.22 according to [this](https://stackoverflow.com/a/4377116/877453), but it is qui

[2020-07-15 17:22] tuomas2 commented on #779
Not necessarily. We are already adding github hash to version string that is displayed in help & tips screen. Perhaps possible tag name should be also displayed in some way (perhaps output of `git describe` command).

[2020-07-15 17:33] timbze commented on #770
It may also be helpful in the future to:
1. Create a debug log in each migration
2. Enable room schema saving (each time there is a new db version, room saves the entire schema the way the class entities make it). That way it is sometimes easier to debug when the migration code has not done the correct changes, to compare with the saved schema.

2 can be done by adding this to gradle in defaultCon

[2020-07-15 18:55] tuomas2 commented on #786
Edit: Removed default log template text @timbze

And Bible version: 3.3.386#ff426cf41 (built 10/07/20 17:42:43)
Android version: 6.0.1
Android SDK version: 23
Manufacturer: samsung
Model: SM-T805

Storage Mb free: 1331

Used heap memory in Mb: 19
Max heap memory in Mb: 192

[logcat.txt.gz](https://github.com/AndBible/and-bible/files/4927347/logcat.txt.gz)

[2020-07-15 18:56] tuomas2 commented on #786
But on the Galaxy Tab S tablet, the problem was not resolved not after the second, not after the third installation.  Therefore, in a previous letter I sent you an error report from him.

[2020-07-16 14:32] tuomas2 opened #792 "Can't backup to Google Drive etc."
Device info:
And Bible version: 3.3.386#ff426cf41 (built 10/07/20 17:42:43)
Android version: 10
Android SDK version: 29
Manufacturer: samsung
Model: SM-A705MN

Storage Mb free: 87665

Used heap memory in Mb: 8
Max heap memory in Mb: 512

[2020-07-16 14:32] tuomas2 commented on #792
@mattschlosser

[2020-07-16 15:09] RuggMatt commented on #792
This was an issue in 3.3.385. I can't reproduce in 3.3.386 but can in 3.3.385. Perhaps the user experienced the issue in that version but didn't get around to reporting it until version 3.3.386. or maybe another device is still on 385? I just tested both versions on my Android 11 phone and all seems fine in 386

 I can test to be sure later today on an Android 10 device, as I don't have access to

[2020-07-16 15:12] RuggMatt commented on #792
Ok I tested again in 386 and it seems that there is an issue.

Strange.

I will investigate tonight.

[2020-07-16 15:22] RuggMatt commented on #792
#775 fixed this but it looks like it hasn't been released, only in beta.

[2020-07-16 15:31] tuomas2 commented on #792
Then we can close this. I'll say the user that it will be fixed in next (3.3-bugfix) release.

[2020-07-16 15:31] #792 closed, assigned to nobody

[2020-07-17 09:07] LAfricain opened #794 "AB doesn't see the other sword folders"
**Describe the bug**
I have a other folder with sword modules (root → sword) and Andbible doesn't detect it.
(I'm sorry I think it was already a bug on this but I couldn't find it)

**Bug was found on And Bible version**
version 3.3.386

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Andbible.'
2. Click on 'Open a document.'
3. Bible present in Bishop are missing on Andbible
4. See er

[2020-07-17 10:44] tuomas2 commented on #794
Have you enabled "Manually installed documents exist" option from main menu -> application preferences? That is needed, otherwise And Bible does not see those docs.

[2020-07-17 14:03] #794 closed, assigned to tuomas2

[2020-07-18 13:03] timbze commented on #782
Somewhat related to #597

[2020-07-18 19:12] tuomas2 commented on #188
@JJK96 about "my notes" improvements that you mentioned in our dev meeting, I have thought that editing of my notes could be implemented as a popup dialog, or perhaps another activity, and editing could be activated from window menu button. So I don't know if there's too much work to get that done, if you have already implemented viewing my notes in a window.

Another activity might be better idea

[2020-07-18 19:52] JJK96 commented on #188
If we can implement rich editing in a window, this could make a flexible highlighting system also easier to implement, I want to explore that route first, before resorting to the easier option.

[2020-07-19 13:21] timbze opened #797 "Improve cold start experience"
When And Bible is closed (removed from task list), it can easily take from 3 to 6 seconds to load.
On my one phone (night mode), it takes about 3 seconds and goes like this:
1. .5 second full white screen
2. 1.5 seconds full black screen
3. Quick flash of startup screen
4. Bible screen comes up with brief black background while text loads
5. Fully loaded

In non-night mode (white mode), steps 2 an

[2020-07-19 13:50] timbze opened #798 "Improve new user start experience"
Currently when starting And Bible for the first time, it shows the splash screen on the background with a dialog that says:

**My suggestion**
- Build a new first-time startup screen, possibly could integrate with same new splash screen mentioned in #797.
  - Show something like "Welcome to the Bible Study app, by And Bible Open Source Project"
  - To continue, would you like to:
    - Load docume

[2020-07-19 14:04] timbze commented on #597
Maybe it would be an option to implement a "double-tap" to quick-switch, if that would be possible.
Edit: From some checking on how the menu operates etc, I don't think that double tap would be a feasible solution at all

[2020-07-19 14:14] timbze commented on #726
Also related to #186

[2020-07-20 08:34] tuomas2 opened #799 "Window button bar sometimes hidden completely"
1. Create 2 workspaces with different number of windows
2. Go to the workspace which has larger number of windows
3. Hide window button bar from its hide button
4. Switch to the another workspace that has less windows
  -> window button bar is completely hidden

[2020-07-20 09:19] tuomas2 commented on #798
Good ideas!

[2020-07-20 09:20] tuomas2 commented on #797
Loading indicator would be just spinner or would you like to have a progress bar? If progress bar, I'm not sure how we could get loading progress status info.

[2020-07-20 10:40] timbze commented on #797
I was thinking just a spinner. If there's a spinner then 3 seconds doesn't feel long, but a blank screen and no movement it can tend to feel long.

[2020-07-20 10:54] tuomas2 commented on #797
I agree

[2020-07-20 14:00] tuomas2 commented on #779
Last commit message, or if tag is annotated, tag annotation message. This message body should be explicitly set always so that git issue references are turned automatically to references.

[2020-07-20 14:18] timbze commented on #779
Related to #730

[2020-07-20 15:39] bvahedy commented on #799
I was able to duplicate this. For now if you double tap on the window to go
to full screen mode will cause the window button to display.

On Mon, Jul 20, 2020, 1:34 AM Tuomas Airaksinen <notifications@github.com>
wrote:

[2020-07-21 05:08] bvahedy commented on #792
verified working correctly in 387beta build, It was also working in 386 build, but don't know about 385.

[2020-07-21 23:46] timbze commented on #688
@tuomas2 Github does not allow apk attachments, but zipped yes. But I guess that would be fine?

[2020-07-22 07:34] tuomas2 commented on #688
Less inconvenient than clicking apk directly, but I guess better than nothing. We can try.

[2020-07-22 07:35] tuomas2 commented on #688
It is possible to upload apk somewhere (repository for example) and put a link to it.

[2020-07-22 11:52] fire-bot opened #800 "AB crashes in font preferences screen"
*Sent by Errors Andbible. Created by [fire](https://fire.fundersclub.com/).*

---

\---------- Forwarded message ---------
Date: Tue, 21 Jul 2020 at 17:29
Subject: Bug report for Bible Study (And Bible) 3.3.386#ff426cf41 (built 10/07/20 17:42:43)
To: <[errors.andbible@gmail.com](mailto:errors.andbible@gmail.com)>

1\. Open app

2\. All text options

3\. Font preferences

4\. After three seconds or

[2020-07-22 12:33] tuomas2 commented on #800
Tried with API 27 on emulator, but can't reproduce.

[2020-07-22 12:43] tuomas2 commented on #800
Can't reproduce, but 8cf357c likely fixes the issue.

[2020-07-22 15:33] bvahedy commented on #800
I also can't reproduce this. Running 387 beta build.

[2020-07-22 17:56] tuomas2 opened #801 "AB crashes if storage permission is enabled and some content in jsword exists"
My Samsung Tab A 8" with pen,upgraded itself from android 9 to android 10.
After upgrade, it crashes in startup.

Reproduce:

1. In internal memory, create jsword directory, add some content there (for example, unzip one backuped module).
2. In App Info of And Bible, change storage permission from "deny" to "allow"
3. Start app.
-> Crash.

[2020-07-22 17:57] tuomas2 commented on #801
Similar as backup issues that @mattschlosser has fixed.

[2020-07-22 18:02] tuomas2 opened #802 "System Night mode switching (Samsung Android 10/11) does not work"
In my Samsung Tab A, with newly upgraded Android 10, System Night mode switching  does not work.

1. From application preferences, set "night mode" to "system"
2. Go to main bible view
3. From system quick settings (from Android's notification drawer), switch night mode on (or off)
 -> And Bible night mode does not change

I'm pretty sure I tested this with emulator and it was working... so perhap

[2020-07-22 22:13] timbze commented on #688
I think we may need to do that. It seems that it's impossible to attach files to pr or issue comment programmatically. I contacted github about it to see if I'm missing something.

Edit: Github confirmed my thoughts and said this:

[See this issue](https://github.com/isaacs/github/issues/1133) in a Github staff repo

[2020-07-23 16:52] tuomas2 commented on #801
Will be fixed in build 388

[2020-07-23 17:11] tuomas2 commented on #801
Actually, only crash is fixed. But as far as I understand/remember correctly, with Android 10+ it's not possible to read jsword / sword folders any more. (to be confirmed, but re-opening issue for now)

[2020-07-23 17:13] #800 closed, assigned to nobody

[2020-07-23 17:13] #801 closed, assigned to nobody

[2020-07-27 16:30] timbze commented on #786
Also see #534 #761

[2020-07-28 18:03] tuomas2 opened #805 "Handle InstallExceptions better"

[2020-07-28 18:04] tuomas2 commented on #805
also

org.crosswire.jsword.book.install.InstallException: Unable to find: http://ebible.org/sword/zip/engwebster1833eb.zip

[2020-07-29 11:20] tuomas2 opened #806 "RTL align issue"
When justify text is disabled, arabic text is aligned to the left side of the screen.
It should be aligned to the right side of the screen.

[2020-07-29 13:53] tuomas2 commented on #590
selection ux could be like telegram 2 phase selection

[2020-07-29 15:07] tuomas2 opened #807 "App opens with wrong bible version"
App always opens with ACV version.  Unable to change the version it opens with.

Logcat: https://support.andbible.org/scp/tickets.php?id=47

--- WRITE BUG REPORT ABOVE THIS LINE ---
Instructions:
Tell us briefly what did you do / what happened when the issue took place. Example:

1. Opened app
2. Clicked window menu
-> Crash

Sometimes screenshot also is beneficial in resolving issues. Please use

[2020-07-29 16:33] bvahedy commented on #806
So, for RTL Bibles justify text option should work the opposite?

[2020-07-29 16:54] tuomas2 commented on #806
I think with justify disabled, it should be aligned to the right side of the screen?

[2020-07-29 16:54] tuomas2 commented on #806
This might be even a regression, I'm thinking it might work properly in 3.2.

[2020-07-29 17:41] bvahedy commented on #806
I agree.

On Wed, Jul 29, 2020, 9:54 AM Tuomas Airaksinen <notifications@github.com>
wrote:

[2020-08-02 21:34] tuomas2 opened #809 "TTS fallback language (FIL related languages)"

[2020-08-03 13:06] timbze commented on #805
Another bug report with log file attached: https://support.andbible.org/scp/tickets.php?id=50
[code]

[2020-08-04 13:36] luweitest opened #810 "map module backup not complete"
**Describe the bug**
Backup|export modules like "SmithBibleAtlas", "HistMidEast" not complete: only mods.d file present in the result zip file, nothing else.

**Bug was found on And Bible version**
3.3.388

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Backup and restore'
2. Click on 'Backup documents to...'
3. Scroll down to 'Smith bible atlas'
4. Click "OK"
5. Chose "File manager +

[2020-08-04 13:53] timbze commented on #176
Has been improved in 3.3, see #527

[2020-08-04 13:53] #176 closed

[2020-08-08 19:04] timbze commented on #675
I think the info is already in the modules (at least KJV), so would just need to hook up the search. I think the letters v-fai-1p, v-2api-3s, etc is the info of what needs to be searchable. Also see https://studybible.info/mac/

Edit: And Bible also has morph tags (for Greek as of now)

[2020-08-08 23:30] timbze opened #811 "Create search index / find dialog buttons missing"
The "Cancel" and "Create" buttons are invisible on "Create index" dialog on small screen with big-ish text. See screenshot:
![Screenshot_20200808-210616](https://user-images.githubusercontent.com/35117769/89721592-b8656600-d99c-11ea-9dc6-5d7f3384e02f.png)

Device info:
And Bible version: 3.3.388#build-387-test-4-g608e69775 (built 23/07/20 19:54:57)
Android version: 8.0.0
Android SDK version: 26
Ma

[2020-08-11 22:26] nhbirx commented on #809
Thanks for working on this. I had a Motorola x4 with Android 9 and AndBible used the tts language I had selected. Now I have a Samsung a51 with Android 10 and am unable to use the preferred voice in AndBible. In the AndBible settings it shows my preferred tts engine and voice but does not use them. I really like this app and the tts feature when it's working correctly.

[2020-08-12 01:50] cmahte commented on #809
TGL, TL, and FIL are synonyms.  there are minor differences between TGL and FIL (the letter C is officially recognized as a native letter, instead of a foreign letter in loanwords) but functionally and in just about every way FIL has exactly the same vocabulary and grammar as TGL.

Further, the filipino TTS can be used for many languages of the philippines as the pronunciation is constant for the

[2020-08-12 07:54] tuomas2 commented on #809
If this TGL & TL & FIL etc is special exceptional case, we could make it a hard-coded exception in the code, instead of adding language customization option.

I.e. if TTS engine does not support one of these languages, try using FIL instead.

[2020-08-12 07:55] tuomas2 commented on #809
This could be fixed in 3.3 too, if implemented as I specified.

[2020-08-12 07:58] tuomas2 commented on #811
I guess also "Find" button missing falls into same category:

https://support.andbible.org/scp/tickets.php?id=54

[2020-08-12 13:23] tuomas2 commented on #811
![Screenshot_20200812-091711_Bible Study](https://user-images.githubusercontent.com/5811789/90020161-24570f80-dcb8-11ea-85ec-d03782e6a989.jpg)

[2020-08-12 16:59] timbze opened #812 "CI Protected branch prevents automatic merging"
**Auto merge from current-stable to master and release/ branches**
PR #804 is not working because of protected branches. Reference #730
See the run failing here: https://github.com/AndBible/and-bible/runs/974922197

See [this](https://github.community/t/how-to-push-to-protected-branches-in-a-github-action/16101/29) and [this](https://github.community/t/allowing-github-actions-bot-to-push-to-protec

[2020-08-18 01:40] timbze commented on #674
http://tracker.crosswire.org/browse/MOD-372

Has been fixed. Closing

[2020-08-18 01:40] #674 closed

[2020-08-19 16:01] tuomas2 opened #813 "Option to adjust paragraph spacing"
Via email

[2020-08-20 06:50] tuomas2 commented on #763
User has not replied, so I will close this now.

[2020-08-20 06:50] #763 closed

[2020-08-20 06:58] tuomas2 commented on #741
I wonder if my assumption in scroll.js:147-149 is wrong.
If this was reproducable consistently, we could try with some timeouts too.

[2020-08-20 08:17] tuomas2 commented on #810
Will be fixed in 389

[2020-08-20 08:17] #810 closed, assigned to bvahedy

[2020-08-20 08:39] tuomas2 commented on #811
The problem is that search.xml and search_index.xml are AlertDialog-like custom activities. Need to add some scroll views.

[2020-08-20 09:22] tuomas2 commented on #811
I'm restoring search-related activities (all but search results) to normal style (not alertdialog style). Now it works also with very large dpis.
Improved also soft input to have search button.

![Screenshot_1597915261](https://user-images.githubusercontent.com/5811789/90752219-c9d53900-e2df-11ea-8d05-f27122dca6e6.png)

[2020-08-20 09:22] tuomas2 commented on #811
Will be fixed in build 389

[2020-08-20 09:22] #811 closed, assigned to nobody

[2020-08-20 09:46] tuomas2 commented on #806
Will be fixed in 389

[2020-08-20 09:46] #806 closed, assigned to nobody

[2020-08-20 10:04] tuomas2 commented on #805
I think these are due to downtime of Crosswire server. Looks like it works for me.

[2020-08-20 10:25] tuomas2 opened #814 "KJV shows paragraph markers"
I know this is kind of module issue, but paragraph markers in KJV are disturbing and unnecessary as paragraphs are displayed also by space between them.

[2020-08-20 10:26] tuomas2 commented on #814
One option would be recommending some other variant of KJV as default (I used to have KJVA, it did not have this issue). Though I wouldn't want to promote apogrypha...

[2020-08-20 10:34] timbze commented on #805
That's possible but why do we keep getting these bug reports? Is it a crash? Or a message saying error occurred? Maybe the handling of this issue needs improvement

[2020-08-20 11:52] tuomas2 commented on #805
Hmm. That's true. I think it should already handle gracefully situation when server is down and not give this kind of error. Though, it does handle it nicely in initial repository listing downloading, but maybe not when user tries to download a module.

![handling](https://user-images.githubusercontent.com/5811789/80281552-95c47f80-8714-11ea-90f5-39427a30b8bc.png)

[2020-08-20 13:06] tuomas2 opened #815 "Sermon-listening notepad / studypad / journal"
- Tool to make notes during sermon.
- Sermon notepads activity, which is list view. Option to activate one notepad.
- Active sermon notepad opens as a window, like bibleviews (some concept of pseudo windows needed)
- Each notepad has a title and content
- Content itself is line by line editing (like list items), possibility to organise in subitems
- There can be several types of items:
   - Text

[2020-08-20 14:39] tuomas2 opened #816 "Find behavior when indexing"
1. Go to Find
2. Rebuild index
3. Continue in background
4. Go to find
 Actual: asks to build index and when clicked "Create", goes to index building status
 Expected: should go directly to index building status

Minor usability issue.

[2020-08-21 16:02] timbze opened #817 "Create search index user friendliness"
When searching module for the first time, this message comes up:
**An index is required to search. Create index for KJV?** With option to either **Cancel** or **Create**

I doubt that it's a good idea to automatically create an index for each module automatically after install (e.g. I don't normally search in commentaries).

However, we could make the message more user friendly for people who have

[2020-08-21 19:15] bvahedy commented on #811
Verified fix in 389 beta build.

[2020-08-21 19:16] bvahedy commented on #806
Verified fix in 389 beta build.

[2020-08-23 13:17] fire-bot opened #818 "App crashes on back press from find (regression)"
*Sent by Timmy. Created by [fire](https://fire.fundersclub.com/).*

---
I think this is a regression from fixing #811

**To reproduce**

1\. Search for a word > Find results dialog pops up

2\. Press back to go back to Find (keyword) activity

3\. Press back again to go back to Bible view

4\. App crashes

Device info:
And Bible version: 3.3.389#56bab7d (built 20/08/20 11:35:18)
Android version: 1

[2020-08-23 13:52] tuomas2 commented on #818
could not reproduce when tries but perhaps logcat helps.

[2020-08-23 17:46] bvahedy commented on #818
Tim,  I was not able to response either.

On Sun, Aug 23, 2020, 6:53 AM Tuomas Airaksinen <notifications@github.com>
wrote:

[2020-08-23 20:43] timbze commented on #818
I can not reproduce on other devices yet either, but happens every time on Pixel 3. Maybe I'll try clean install

[2020-08-24 07:13] tuomas2 commented on #818
Reproduces on my tablet, which also has android 10, but only when I press back second time also in find (keyword) dialog.

[2020-08-24 10:57] timbze commented on #818
Still happens for me after clean install. @tuomas2 my instructions I meant that you had to press back second time in keyword activity, but maybe not clear enough.

[2020-08-24 11:20] tuomas2 commented on #818
Meaning "3. App crashes" -> "3. press back again -> app crashes"

[2020-08-24 13:16] timbze commented on #818
Updated OP now

[2020-08-24 13:57] tuomas2 commented on #818
On my Android 10 tablet reproduces, but not with my Android 9 phone. But I guess we have enough data to fix this.

[2020-08-24 16:00] tuomas2 opened #819 "Use Google Play In-App Review API"
https://developer.android.com/guide/playcore/in-app-review/

[2020-08-26 14:01] dwaynedauzat commented on #597
Hello.  I just want to say that everything agrogers has said in his first post above is exactly how I feel.  I love andBible and have used it for years.  I joined GitHub solely to respond to this issue.

I'm not sure why the feature has changed or was taken away but it was perfect beforehand.  I propose to simply bring back the previous functionality of the buttons so that they work as follows:

1

[2020-08-26 14:44] timbze commented on #597
In my opinion the current behavior is good for default.

I think it may be a good idea to add "swipe down" on button to do "quick switching" (@agrogers idea above).

And to take it one step further, there could be a setting to swap button press and swipe down. E.g. to press for quick switch, and swipe down for document list menu, or vice versa which can be configured with a setting.

[2020-08-27 19:00] tuomas2 commented on #819
in main menu entry could first ask if user has feedback or bug report and then let him do the reviewing

[2020-08-28 12:10] timbze commented on #186
Another idea...
When searching "saint", it does not find verses with the word "saints". But if you search "saint*" then it will find both.

I think it might be a good idea to add the * by default so that both words would be found, and then have it optional to search for exact word. ~~Xiphos also works like this~~ (it may have in the past but not anymore).

[2020-08-30 15:48] tuomas2 opened #820 "Speak: text jumps to the beginning of chapter"
In my Bible reading, while using speak, I scroll down to follow the text and after ten to fifteen verses, the screen jumps to the beginning of the chapter, causing me to scroll down again to find which verse the app is speaking. This annoys me. Please check.

--- WRITE BUG REPORT ABOVE THIS LINE ---
Instructions:
Tell us briefly what did you do / what happened when the issue took place. Example:

[2020-08-30 16:13] timbze commented on #820
This has to do with Reading Plans, probably related to #323 and #300. Though I don't know if it's an issue that would happen without reading plan too.

[2020-09-02 09:18] xogns8121 opened #821 "test"
**Describe the bug**
A clear and concise description of what the bug is.

**Bug was found on And Bible version**
Build XXX.X or version X.X.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots t

[2020-09-02 09:19] #821 closed, assigned to nobody

[2020-09-02 15:00] OSDVF opened #822 "How to view certain verse from external application"
Hello, I develop an application which features many links to Bible passages and currently I support viewing them only in YouVersion Bible. I'd like to supoort viewing them in And Bible too.
As far as I know, there is no Intent for that purpose defined in And Bible's manifest.
**Is there a way to do it by starting MainBibleActivity directly?**
(I'll try something like that [https://stackoverflow.co

[2020-09-02 15:05] tuomas2 commented on #822
There's issue about this, but it's not implemented yet: #64. Should be rather easy to implement.

[2020-09-03 07:30] tuomas2 opened #823 "And Bible does not download properly from Crosswire"
Related:
https://support.andbible.org/scp/tickets.php?id=66
https://support.andbible.org/scp/tickets.php?id=81

[2020-09-03 07:40] tuomas2 commented on #741
Another possible case: https://support.andbible.org/scp/tickets.php?id=80

[2020-09-03 07:54] tuomas2 opened #824 "New Play Store description"
Suggestions / comments can be made in Google Docs:

https://docs.google.com/document/d/1qvYphf-YrGFT6-lwKvXV9b-v2bIFTng1zYMKDPNSUII/edit

When English version is ready, I will set up Transifex for translators to translate this.

[2020-09-03 08:30] tuomas2 commented on #736
Will be fixed in build 390.

[2020-09-03 08:30] #736 closed

[2020-09-03 09:11] tuomas2 commented on #823
Crosswire seem to have switched to use Let's encrypt certificates.
That does not work with older Android versions now.

[2020-09-03 09:18] tuomas2 commented on #823
https://support.andbible.org/scp/tickets.php?id=66#note

-> API 27 should work though (tested on emulator).

[2020-09-03 09:24] tuomas2 commented on #823
Seem to be affecting only APIs 21 to 22. (I.e. lollipop).

[2020-09-03 09:28] tuomas2 commented on #823
Though for APIs 21 and 22 it does seem to handle error nicely. User probably did not receive this error because AB did not refresh the sources, but user started downloading based on old listings (?).

![Screenshot_1599125239](https://user-images.githubusercontent.com/5811789/92097536-daf26f80-ede0-11ea-9d7f-f58395cd07fa.png)

[2020-09-03 11:38] #756 closed

[2020-09-03 11:40] tuomas2 commented on #756
Will be implemented in develop branch build 390.

[2020-09-03 12:13] timbze commented on #823
Should we retry with http on those older apis when https does not work?

1. Try download/retrieve https
2. If it fails and api is lower than (23?), then try http

[2020-09-03 12:42] tuomas2 commented on #823
I'm trying something else right now. I'll tell more later.

[2020-09-03 12:44] tuomas2 commented on #823
Actually, got it just working.

Will make exception for old phones that does not verify hostnames.

Something like this.

[code]

[2020-09-03 12:45] tuomas2 commented on #823
Upgrading httpclient at the same time to 5.0.1 (jsword side).

[2020-09-03 13:02] tuomas2 commented on #823
Will be fixed in build 390.

Please review the commits listed above (jsword and And Bible).

[2020-09-03 13:39] tuomas2 commented on #822
Duplicate of #64

[2020-09-03 13:39] #822 closed, assigned to nobody

[2020-09-03 13:39] RuggMatt opened #825 "Find should automatically open the keyboard"
**Is your feature request related to a problem? Please describe.**
I find it annoying to have to click twice when opening the find pane. Once to click on the find button and then again on the search field.

**Describe the solution you'd like**
The search field should automatically focus and the keyboard automatically open.

**Describe alternatives you've considered**
A clear and concise descriptio

[2020-09-03 13:40] tuomas2 commented on #822
Would you let us know what application are you developing?

[2020-09-03 14:01] timbze commented on #769
I will close this since it's most like related to #136

[2020-09-03 14:14] timbze commented on #136
Device info:
And Bible version: 3.3.389#56bab7d (built 20/08/20 11:35:18)
Android version: 10
Android SDK version: 29
Manufacturer: Google
Model: Pixel 3

Storage Mb free: 32039

Used heap memory in Mb: 8
Max heap memory in Mb: 192

**Had another issue with missing chapter (log attached at bottom). Here's what I did:**
1. In evening opened Eph 4:11 in pinned window 1, and Gill commentary in unpinn

[2020-09-03 14:16] timbze commented on #136
I did not even notice, but log had weird lines about every other verse missing, and now I see that is actually what Bible showed, v2, 4, 6 etc in ch. 5 are missing also.

[2020-09-03 14:25] tuomas2 commented on #818
Crash happens because for some reason onResume of MainBibleActivity is launched when pressing cancel in SearchResults. That does not happen in older androids.

Changing SearchResults activity theme to normal full-screen style seem to fix it. Though I wouldn't like to do that.

[2020-09-03 14:27] tuomas2 commented on #818
Will be fixed in build 390.

[2020-09-03 14:27] #818 closed, assigned to nobody

[2020-09-03 14:30] tuomas2 commented on #805
This probably can't be done without introducing new strings, so I would like to implement this rather in 3.4.

[2020-09-03 14:52] tuomas2 commented on #825
Let's mark this to 3.4, but perhaps you could do this against current-stable as I might re-consider having it in 3.3 too.

[2020-09-03 15:17] tuomas2 commented on #619
As far as I have understood, JSword already supports this, so this requires just AB side tweaking.

[2020-09-03 15:19] tuomas2 opened #827 "Choose document -> Share document"
Under "Choose document", it could be useful to have "share" button - to share document name, eventually short description. Plus application name and a short note - how to download the document.

(Similar, the share verse feature could be extended to include and share additional details)

_Originally posted by @mmm4m5m in https://github.com/AndBible/and-bible/issues/550#issuecomment-583714231_

[2020-09-03 15:52] tuomas2 commented on #818
Seems like this has caused quite a few crashes

https://play.google.com/console/u/0/developers/6727655833913220393/app/4974350217168681006/vitals/crashes/280f80cf/details?installedFrom=PLAY_STORE&days=30

[2020-09-03 16:56] tuomas2 opened #828 "In pop-up window mode, minimise window buttons button shown incorrectly"
Reproduce: Open And Bible in Pop-up window mode. (can be done with Samsung tablets, Tab A 2019 at least)
![Screenshot_20200903-195429_Bible Study](https://user-images.githubusercontent.com/5811789/92144685-bd90c600-ee1f-11ea-9de9-688f43c1c209.jpg)

[2020-09-03 17:13] timbze commented on #688
Closing in favor of #730

[2020-09-03 17:13] #688 closed

[2020-09-03 21:03] timbze commented on #415
Closing in favor of #310

[2020-09-03 21:03] #415 closed

[2020-09-03 22:32] timbze commented on #823
Looks good

[2020-09-04 15:12] #825 closed, assigned to RuggMatt

[2020-09-04 15:18] #630 closed

[2020-09-04 15:49] tuomas2 commented on #802
Seem to be affecting also develop branch after merging #663. @JJK96 @timbze can you check if it happens for you too.

[2020-09-04 15:51] timbze opened #830 "Chapter Verse chooser dark (with nav bar) when not in night mode"
**Describe the bug**
Android 10 (Q), Open Choose chapter/verse activity, and it's dark theme even though app is not night mode. Navigation bar is also dark, in other activities it is white.

I think this may have been the same from before.

**Bug was found on And Bible version**
Build 390.1 (beta)

Non-night mode:
![image](https://user-images.githubusercontent.com/35117769/92258191-adb2c980-ee93-1

[2020-09-04 16:00] timbze commented on #802
I think when in "System" mode, you should not be able to access the setting in Quick Settings, and it seems that's maybe what has been implemented, with a bug.

Here's what it does for me:
1. Change from "Manual" to "System" mode
2. Open quick settings > I can see and click "Night mode"
3. Open quick settings > Night mode setting disappeared

Or
1. Change from "Manual" to "System" mode
2. Close AB

[2020-09-04 16:14] tuomas2 opened #831 "Search history"
Old item lookup similar way as language selector in download documents view.

Also:
- search bookmarks
- search studypads (labels)

[2020-09-04 16:26] tuomas2 opened #832 "Window button bar jumps when coming back from find"
1. Go to "find" view from main menu
2. Type something
3. When keyboard is still active, press 'up' button from toolbar
 -> Goes back to main bible view (OK)
 -> window button bars jump weirdly to up and down, height of keyboard or so (NOK)

Reproduced in develop branch (250be8045f6409625af53d7a26c71e1221a098cb, build beta-390.1).
Can't reproduce this on emulator. Reproduces on my Samsung tablet qu

[2020-09-04 16:34] tuomas2 commented on #802
I mean **system** quick settings, i.e. Android's notification drawer where system night mode can be changed. Clarified bug description.

[2020-09-04 18:11] timbze commented on #802
Oh, my bad. The bug I found is another issue then.

Checked this now and for me it is working perfectly. Android 10 Pixel 3

[2020-09-04 18:17] timbze opened #833 "3-dot menu not updating "Night mode" setting after changing application preferences"
**Describe the bug**
1. Change Application Preferences "Night mode switching" setting from System to Manual or vice versa
2. 3-dot menu should show check box for "Night mode", when it's not on "System", but be hidden when on "System"
3. The setting visibility does not update till app has been restarted or some other screen update like workspace change

**Bug was found on And Bible version**
390.1

[2020-09-05 01:59] RuggMatt commented on #832
This seems to be related to the window being resized shortly after leaving the the Main Activity.

This was happening for me every time, and I tried a solution in c008b2449f62129bc649163b3ed3251243279f93 , (see the commit message there for a description) to prevent the listener from firing if the main activity had been paused.

Perhaps onPuase is not being called in Main Activity before the Search

[2020-09-05 05:55] tuomas2 commented on #833
I think this is not affecting 3.3, right?

[2020-09-05 05:58] tuomas2 commented on #832
Here's logcat

https://drive.google.com/file/d/1i1AMCpxMk2BuNu6ofPfC6TeJnXznFj5x/view?usp=sharing

[2020-09-05 07:17] bvahedy commented on #833
It has worked correctly in builds up to  389 beta. I will check the latest 390.1 build tomorrow but it may be only happening on certain devices.

[2020-09-05 11:40] timbze opened #834 "Add "up" back button to find results activity"

[2020-09-05 15:07] timbze commented on #833
You're right, just double checked

[2020-09-05 15:33] timbze opened #835 "Add feature to see Hebrew morphology"
AB does not have the option to show Hebrew morphology (OT)

[2020-09-05 20:58] RuggMatt commented on #832
@tuomas2 The bug report you attached seems to be corrupted. Could you try uploading again?

[2020-09-06 05:43] tuomas2 commented on #832
Hmm I wonder what went wrong. How about this https://drive.google.com/file/d/1iYyI7JcndsMss-U-0tRFg5of7F7Tsf9I/view?usp=drivesdk

[2020-09-06 11:28] tuomas2 commented on #764
Actually this seem to be fixed in develop (beta-390.1). Leaving this open if we will backport the fix to 3.3, let's see....

[2020-09-06 11:29] tuomas2 commented on #764
I believe this was fixed by #826  (by @mattschlosser).

[2020-09-06 12:15] tuomas2 opened #836 "Should be able to delete current workspace"
Now must switch first to another workspace.

[2020-09-06 21:15] OSDVF commented on #822
Suerly. It contains various interactive images and texts (including links to Bible) which are supposed to help people explain the gospel. It isn't published yet.

[2020-09-07 13:40] RuggMatt commented on #832
@tuomas2 This one is not working for me either.

[2020-09-07 14:33] DonaldTsang opened #837 "Adding CSB to the collection"
There has been this bible that claims to be as easy to read as possible while maintaining meaning

https://csbible.com is the main page and https://read.csbible.com/ is the site.
There are also reading plans in the website https://csbible.com/read-the-csb/reading-plans/

The only issue is whether the copyright can be obtained or not.
They have an app that is made by https://tecartabible.com/ (with

[2020-09-07 14:51] DonaldTsang opened #838 "Minor Request: Adding notes on reading grade vs word-for-word accuracy"
There have been evaluations of accuracy vs reliability matrix of:
- https://wiki.logos.com/Bible_Translation_Spectrum
- https://identity-intelligence.org/content/bibles-table.png

It would be nice to have a recommendation screen based on ease-of-reading.

As a side note here is the list of Bible versions split into 3 parts
- https://av7.org/compare/images/bvc1.jpg
- https://av7.org/compare/images/

[2020-09-07 15:14] timbze commented on #838
In my opinion, what And Bible has with "Recommended documents" already goes far enough. I don't trust these kind of readability or accuracy charts very much. Especially accuracy charts, I do not trust at all, because of my own research.

[2020-09-07 15:40] DonaldTsang commented on #838
Understood, in that case, I would consider readability as the most important statistics in this document, for those that are ESL, the simpler it is to read, the better. I would recommend that the stats should be calculated based on each chapter or "story" blocks. The software that can be used to measure readability could be https://github.com/shivam5992/textstat (Python) or https://github.com/cgif

[2020-09-07 15:45] timbze commented on #832
I can not reproduce the issue on my current phone, but I knew I had seen the issue before. @mattschlosser now that you've done a PR I remember that keyboard was the issue. I think this also happens when in "Choose Document" screen, Search EditText selected with keyboard open, and then pressing back arrow button. Can you also check that?

[2020-09-07 15:47] cmahte commented on #838
That reliability chart from Logos really surprises me. I'd be very very
curious who was involved in producing it, and how it made it onto the Logos
website appearing to represent the corporate identity. It's full of red
flags for me... too many to get into.

Stepping aside from perceived numeric placements on big tables like this,
The original request is for the ability to group the english entrie

[2020-09-07 16:01] DonaldTsang opened #840 "Note and inclusion of other "reading plans""
Consider the following URLs that share a very large but limited set of reading plans:
- https://mwtb.org/pages/bible-reading-plans
- https://danwerthman.com/other-bible-reading-plans/
- https://www.biblegateway.com/reading-plans/
- https://www.biblestudytools.com/bible-reading-plan/
- https://bibleplan.org/
- https://lifewayvoices.com/discipleship-evangelism/find-a-bible-reading-plan-thats-right-f

[2020-09-07 16:47] RuggMatt commented on #832
@timbze Yes. I found the issue there too.

I think this solution will work: Close the keyboard `onPause` of any activity if it happens to be open. Do you think there will be any issues with this approach?

[2020-09-07 17:03] timbze commented on #832
Commented on PR

[2020-09-07 17:26] RuggMatt opened #841 "Notes: Clicking find while in a note does nothing."
**Describe the bug**
Trying to open **Find** from the menu when a note is open  doesn't open Find.

**Bug was found on And Bible version**
3.389

**To Reproduce**
Steps to reproduce the behavior:
1. Open any note
2. Open Menu and select Find

**Expected behavior**
Search opens .

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Smartphone (please complete the followi

[2020-09-07 17:31] timbze commented on #841
It was disabled in #703 to prevent crash, but in my opinion a proper fix would be to fix find so that it would search in last active window.

[2020-09-07 17:35] RuggMatt commented on #841
Or replace the menu button with just a back button?

[2020-09-07 17:42] timbze commented on #841
That might be a good option. Some of the flow and logic might change with #188 but until then, maybe the back button would be good.

[2020-09-08 10:55] tuomas2 opened #842 "Make option to disable smooth scrolling / animations"
Via support email:

[2020-09-08 11:27] tuomas2 opened #843 "From app, advertise Github issues for new features and related discussion"

[2020-09-08 11:28] tuomas2 commented on #843
Related: #819

[2020-09-08 11:28] tuomas2 commented on #843
Perhaps also mention for discussion forum.

[2020-09-08 11:33] tuomas2 commented on #837
Hi, as this is copyrighted work, please see https://github.com/AndBible/and-bible/wiki/FAQ#i-found-text-issue-in-one-of-the-bible--commentary-etc-modules-in-and-bible and try primarily to get it to Crosswire's module repository.

[2020-09-08 11:33] #837 closed, assigned to tuomas2

[2020-09-08 11:43] tuomas2 commented on #832
@mattschlosser tried and those logcat files worked for me, when I save them as logcat.txt.gz and then gunzip them.

[2020-09-08 11:47] tuomas2 commented on #840
Someone should go through if they allow redistribution and possibly ask permissions. Though that does not mean that we accept them all automatically. Then need to reformat them into the reading plan ascii format, see example from here:
https://github.com/AndBible/and-bible/blob/develop/app/src/main/assets/readingplan/y1ot6nt4_profHorner.properties

Are you willing to help with these @DonaldTsang?

[2020-09-08 11:52] DonaldTsang commented on #840
Absolutely!

[2020-09-08 12:56] tuomas2 commented on #832
Even after your fix, I got this error once. It seem to be more rare though. But re-opening this for now.

[2020-09-08 12:57] tuomas2 commented on #832
Update: seem to be happening quite often still.

[2020-09-08 13:03] timbze commented on #832
Just another idea, I used this code elsewhere to remove focus from EditText when another part of activity was touched (found on the net somewhere). If this would work, it might hide the keyboard a bit earlier than onPause. (Removing focus might hide keyboard, or maybe the code would need to be changed a bit so that it would hide keyboard)
[code]

[2020-09-08 13:10] timbze commented on #840
@DonaldTsang my recommendation would be:
1. As you noted above, make a list here of additional reading plans that are not yet in the app.
2. As Tuomas noted, check if we have permission to redistribute, and try to get permission where it's unclear.
3. Confirm which plans we are willing to add into the app by default
4. Create the .properties files needed in order to add them. Additional informatio

[2020-09-08 13:49] tuomas2 commented on #832
@mattschlosser logcat after update now here: https://support.andbible.org/scp/tickets.php?id=84

[2020-09-08 13:51] tuomas2 commented on #638
Via support (https://support.andbible.org/scp/tickets.php?id=83)

[2020-09-08 14:07] tuomas2 commented on #180
File format should be validated:
When importing the file, format would be checked and user would get an error (perhaps with option to 'skip' errors) if there is illegal syntax.

[2020-09-09 12:31] JJK96 commented on #830
Wasn't it always like this?

[2020-09-09 12:43] JJK96 commented on #802
The night mode option in my system quick settings only puts on a red-light filter and doesn't change the theme, so and-bible doesn't change either.
When I change the theme to a light theme in the system settings and-bible changes as it should.
That's on OnePlus 6 Android 10

[2020-09-09 13:03] timbze commented on #830
I think so. In earlier versions of Android the nav bar was supposed to always be black, but it has changed in 9 or 10 I think.

IMO to be consistent in the app we should have it white on this activity as well, with possibly a lighter background behind the buttons.

[2020-09-09 13:05] timbze commented on #802
I had to edit my Quick settings. Originally it only had "Night light" (which I think is what you are finding), but I was able to add "Dark theme" to those settings as well.

[2020-09-10 12:24] timbze commented on #656
Review on Google Plays says:

[2020-09-10 13:06] tuomas2 commented on #823
Still getting this (or similar) issue. Not lollipop though.  https://support.andbible.org/scp/tickets.php?id=85

[2020-09-10 13:09] tuomas2 commented on #656
We could check how well Edge browser does it. I wonder what he means by 'Reader'?

I know it would be possible if text is fed to the TTS engine word-by-word, but it does not produce good reading result (sentences / intonation etc broken).

[2020-09-10 13:39] tuomas2 commented on #830
On my tablet (Android 10, day mode, 3d0df998)
![Screenshot_20200910-163753_Bible Study](https://user-images.githubusercontent.com/5811789/92737970-38a82e00-f384-11ea-941e-1c7953b271be.jpg)

[2020-09-11 09:02] JJK96 commented on #843
I don't completely understand your idea with this issue.

Is it to point people to github for making feature requests?

[2020-09-11 09:39] tuomas2 commented on #843
Idea is to guide users to communicate their thoughts directly via Github issues. This was due to email in mailing list that suggested advertising mailing list via app:

[2020-09-11 13:32] timbze commented on #823
SSL proxies, or VPNs, could possibly cause this.
Work-around would be to switch to http, either automatically or ask the user if that's OK.

[Here's some info](https://stackoverflow.com/a/6378872/877453) about SSL exceptions

[2020-09-11 14:58] tuomas2 commented on #823
If we go with HTTP fallback then we need to allow http-only for AB repo too.

Now we promise HTTPS to users, so this need new strings.
Instead of HTTP we could possibly also do what we did for Android 5 as a fallback, but asking permission from user.

[2020-09-11 15:28] timbze commented on #823
Good idea. Something like

"There is an issue with downloading the module securely via HTTPS. Do you want to download anyway?
[link] See more
On click show:
The security certificate for [andbible.org] could not be verified. This could happen if you are using a proxy, or if an attacker is trying to intercept the connection. You can continue to download at your own risk with the unverified connectio

[2020-09-12 13:26] tuomas2 opened #845 "Color schemes"
Via Play review:

[2020-09-15 13:56] tuomas2 opened #846 "After updating to Android 10, And Bible crashes"
Probably related to this review:
https://play.google.com/console/u/0/developer/6727655833913220393/app/4974350217168681006/user-feedback/review-details?reviewId=gp%3AAOqpTOGshhbqbn8UQ-0jjvODSx8seGzDjFhMC0N5XskcZwZSQX22seEZnaUmWgktfWMnlG7uApceScC5lUQ&corpus=PUBLIC_REVIEWS

This crash takes place:
https://play.google.com/console/u/0/developers/6727655833913220393/app/4974350217168681006/vitals/crash

[2020-09-15 14:09] tuomas2 commented on #846
Actually device type does not match between error and review, so might be wrong conclusion that these would be connected.

[2020-09-15 17:30] tuomas2 opened #847 "Window buttons not displayed when opened in split screen"
1. Open some other app in upper screen
2. Open And Bible in lower screen
 -> window button bar will go under system nav bar

This is reproduced with my samsung tablet @ android 10. 3d0df998, dev branch (build 390.1 or so).
Probably does not reproduce with 3.3.

[2020-09-15 17:31] tuomas2 commented on #847
@mattschlosser this might be related to the changes you have made recently

[2020-09-16 15:06] timbze commented on #154
Maybe this idea is overkill, but perhaps this feature could be mostly implemented in a separate Kotlin native library, that way it would be easier to also sync with other sword apps on desktop and IOS.

There would need to be the option to work with different types of data separately, e.g. one app might want to only sync bookmarks.

[2020-09-17 01:57] RuggMatt commented on #847
I can also reproduce. :+1:

[2020-09-17 02:50] RuggMatt commented on #847
Also can reproduce on 3.3.390 (Play store)

[2020-09-17 08:26] #846 closed, assigned to tuomas2

[2020-09-17 08:27] tuomas2 commented on #846
Will be fixed in build 391

[2020-09-17 09:03] tuomas2 commented on #823
Trying something else (like suggested in https://stackoverflow.com/a/6378872/877453); extracting lets encrypt cert and storing it into another keystore.

`keytool -import -v -trustcacerts -alias 0 -file letsencrypt.pem -keystore andbible.bks -storetype BKS -provider org.bouncycastle.jce.provider.BouncyCastleProvider -providerpath /home/tairaksinen/android-studio/lib/bcprov-jdk15on-1.64.jar -storep

[2020-09-17 10:40] timbze commented on #823
I don't know if or how many of these issues are caused by ssl proxy, but I don't think this solution will help for that.

If internet connection goes through ssl proxy, then every ssl connection is untrusted. In such cases the client does not receive the server certificate, but some man-in-the-middle cert, hence untrusted.

[2020-09-17 13:40] tuomas2 commented on #823
One more instance https://support.andbible.org/scp/tickets.php?id=95

Non-lollipop instances of this error seem to be a bit different actually.

Caused by: javax.net.ssl.SSLHandshakeException: java.security.cert.CertPathValidatorException: Trust anchor for certification path not found.

[2020-09-17 14:19] tuomas2 commented on #847
Seem to be only on Android 10 (and probably on more recent as well).

[2020-09-17 14:19] #847 closed, assigned to bvahedy

[2020-09-17 15:32] #823 closed, assigned to nobody

[2020-09-17 15:47] tuomas2 commented on #823
Probably does not help to CertPathValidatorException if it is caused by VPN / proxy as @timbze suggested. But helps for Lollipop.

As bonus, we got rid of one dependency, resulting even smaller APK.

[2020-09-17 15:50] tuomas2 commented on #823
Reviewing above commits welcome :-) (especially https://github.com/AndBible/jsword/commit/1d640140f4d480ef725118715692ff27d351df70)

[2020-09-23 14:49] timbze opened #850 "Handle uncaught exceptions"
ACRA does it like [this](https://github.com/ACRA/acra/blob/master/acra-core/src/main/java/org/acra/reporter/ErrorReporterImpl.java)

[2020-09-24 10:12] tuomas2 commented on #824
New version is now ready to be translated.
c719d2a85c35bbb0f44697ccb3297e61825a9621

[2020-09-24 10:12] #824 closed, assigned to tuomas2

[2020-09-24 11:37] tuomas2 opened #851 "Window settings are not copied correctly when creating new window"
1. Change font size of a window to something else than in workspace settings
2. Create a new window from window menu of that window

Actual: New window has default workspace font size
Expected: Window settings such as font size should be copied from the window from which the new window was created

[2020-09-24 11:53] tuomas2 commented on #851
Will be fixed production-392

[2020-09-24 11:53] #851 closed, assigned to nobody

[2020-09-24 13:05] tuomas2 commented on #770
Added logging (701fb81bae50dc19f8c82a0a3c1857fb2c4a031a and e2a2c629bcb2be951e705e2a2823e67ca31605bc)

[2020-09-24 13:25] #770 closed

[2020-09-24 13:26] tuomas2 commented on #770
Did also this and tested both migrations with db backup from december 2019 (had db version 9, i.e. already had earlier version of workspaces). 585fbfa

[2020-09-24 16:12] tuomas2 commented on #770
This is done in 93431ffda23fd24bbea2ccc914b6fff948b2eb7d

[2020-09-24 16:29] tuomas2 commented on #850
#849

[2020-09-24 16:29] tuomas2 commented on #850
Closed by #852

[2020-09-24 17:06] tuomas2 opened #853 "Acra error emails are empty"
tested with build 392 (develop). not releasing 392 to play store before this is fixed.

[2020-09-24 17:16] tuomas2 commented on #853
in emulator i didn't have this problem

[2020-09-25 14:18] timbze commented on #853
https://github.com/ACRA/acra/issues/744
https://github.com/ACRA/acra/issues/807

Very weird issue. Gmail has the same problem for me, but other mail app works.

[2020-09-25 14:54] tuomas2 commented on #853
But on the other hand our old email sender did not have this issue.

[2020-09-27 16:38] quasinormalized commented on #390
Are there any updates on this? Any confidence this will actually make v3.4?

[2020-09-27 20:37] tuomas2 commented on #390
No confidence at all. Unless miracle happens and someone negotiates a deal with crossway.

milestone just means that i/we have plans to try something if possible.

[2020-10-01 04:31] eugenern opened #856 "Clicking links to footnotes/x-refs for titles goes to footnotes/x-refs for verse 1"
**Describe the bug**
I'm trying to open the footnotes and cross-references for the title in a chapter of Psalms, but am taken to those for verse 1 instead.

**Bug was found on And Bible version**
3.3.391#b05b10c (built 17/09/20 16:04:46)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a chapter whose title contains a footnote or reference, e.g. Psalm 77.
2. Click on one of the links in

[2020-10-01 06:42] tuomas2 opened #857 "Enable search for general books"

[2020-10-01 06:46] tuomas2 opened #858 "Ability to select words in bible text"

[2020-10-01 06:47] tuomas2 commented on #858
Will be implemented together with #590

[2020-10-01 06:47] tuomas2 commented on #590
Also selection of text by words should be made possible : #858

[2020-10-01 07:09] tuomas2 commented on #431
Related: #430

[2020-10-01 07:13] tuomas2 opened #859 "Bookmarking popup improvements"
After creating a bookmark, a popup (snag bar) appears, allowing user to click 'assing label'.
In this popup, the there could be a button to choose one of most recently used bookmarks quickly.

[2020-10-01 07:14] tuomas2 commented on #430
Related: #859

[2020-10-01 07:15] tuomas2 opened #860 ""Show chapter numbers" text display setting"
Make separate setting such that "show verse numbers" controls only verse number showing and new "show chapter numbers"  option controls chapter numbers.

[2020-10-01 07:31] tuomas2 commented on #741
He promised to volunteer in debugging. I'll try to add some debugging code today and send him APK, that might help tracking this down.

[2020-10-01 07:42] tuomas2 commented on #856
Can you name the bible translation you are using?

[2020-10-01 07:52] eugenern commented on #856
I'm using ESV. The document description says "ESV2011 English Standard Version with Strongs numbers. (NRSV)".

[2020-10-01 14:04] tuomas2 opened #861 "CI: Automatic releases should be marked as 'pre-release'"
At least build-* and beta-* releases should me marked as 'pre-release' so that users understand that they are not 'production-ready'.

[2020-10-01 14:04] tuomas2 commented on #861
@timbze

[2020-10-01 14:04] tuomas2 commented on #861
![Selection_340](https://user-images.githubusercontent.com/5811789/94819692-3af02c00-0408-11eb-8601-935b07ee80d1.png)

[2020-10-01 16:11] bvahedy commented on #856
We had issues creating footnotes for titles which was referred to as verse zero. To my knowledge the option for creating notes for titles is removed and you can only create notes for verse 1 and forward. If you are seeing a pencil on your title you had this created before the big was fixed, just delete that note and that will remove it from your database.  Since many Bibles translations don't have

[2020-10-01 16:21] tuomas2 commented on #856
@bvahedy I think he is referring to footnotes / crossreferences (provided by module, i.e. ESV), not My Notes, that are created by user.

[2020-10-01 17:59] #861 closed, assigned to nobody

[2020-10-01 18:07] tuomas2 commented on #812
#829 closed this

[2020-10-01 18:07] #812 closed, assigned to nobody

[2020-10-01 19:42] bvahedy commented on #856
Ok I see. I was able to see the issue, but I don't think it's a big issue as it displays the right footnote ref., It just displays the book-chapter-verse it's from, which is correct. The translators really shouldn't have put a footnote in the title.

[2020-10-04 07:20] eugenern commented on #856
I think it'd be useful to able to see the title's/subtitles' footnotes, for example in Psalm 6 where the subtitle has one crossreference to 1 Chronicles 15:21 and one footnote explaining Sheminith to be "Probably a musical or liturgical term", neither of which would be visible from the app. But it does display the footnote ref correctly, so it's possible to work around the issue by checking those

[2020-10-04 10:40] JJK96 commented on #760
This will be fixed by #844

[2020-10-04 10:44] JJK96 opened #862 "Search mynotes"
Add a search button to the mynotes view and allow searching or filtering the mynotes.

[2020-10-04 17:56] tuomas2 commented on #862
Indexing can be done similar way with Fts4 as for net.bible.android.database.Document. Then it's easy to implement free text search.

[2020-10-08 12:09] tuomas2 commented on #722
I started some progress on this (see #803) but I'm leaving it for now. Please feel free to take this and get it further.

All new text entries (for translatable text elements within advertisement material) should be added to play/playstore-description.yml. Then we can read texts from translated yml files (translations come via transifex) and insert them into translated pictures.

[2020-10-08 14:21] timbze commented on #730
Get push commit author (may be needed for some work with tags):
https://stackoverflow.com/q/61213333/877453

[2020-10-09 06:05] #741 closed

[2020-10-09 12:53] tuomas2 opened #864 "Flicker when opening minimised window"
**Bug was found on And Bible version**
Build 392 (should be with 391 and earlier too)

**To Reproduce**
Steps to reproduce the behavior:
1. Make setup with 2 windows, both pinned and synced. Go to some verse (not first) of some chapter.
2. Make second window minimised
3. Close app and start again
4. Open minimised window
-> window flickers when loading

**Expected behavior**
Should not flicker

[2020-10-09 14:43] tuomas2 commented on #741
This was finally fixed, with a lot of help from user that did many rounds of testing this. Thanks Timothy N.!

[2020-10-09 20:00] bvahedy commented on #864
I can't duplicate this on build 392.

[2020-10-10 01:35] BrianGaucher commented on #840
I'd be willing to adapt some plans to AndBible if this is an area no one else is currently doing.

[2020-10-10 03:09] timbze commented on #840
Hi @BrianGaucher that would be great! Please look at my last post here for pointers in what could be done.

If @DonaldTsang has made any progress, please post here what it is that you have been, or are working with.

[2020-10-10 06:31] tuomas2 opened #866 "Play reminds: "implement hold and restore""
Check if anythihg needs to be done:
https://developer.android.com/google/play/billing/subs

Probably not, but perhaps we need to tell Google somehow.

Deadline Nov 1.

[2020-10-10 06:34] tuomas2 opened #867 "Bluetooth headphone button support for speak"

[2020-10-10 06:45] tuomas2 commented on #866
Checked documentation and seems like no changes are needed for us, as we don't have any subscription/payment model.

[2020-10-10 06:45] #866 closed, assigned to tuomas2

[2020-10-10 06:46] tuomas2 commented on #866
https://android-developers.googleblog.com/2020/06/new-features-to-acquire-and-retain-subscribers.html

[2020-10-10 14:52] tuomas2 commented on #805
Again here: https://support.andbible.org/scp/tickets.php?id=132

I was simulating the error by adding throw Exception() to net.bible.android.control.download.DownloadQueue#addDocumentToDownloadQueue (line 47 in DownloadQueue.kt),
but I got only this:
![Screenshot_1602341497](https://user-images.githubusercontent.com/5811789/95658193-48e92f80-0b21-11eb-8f45-14f0c0fe8a71.png)

I can't understand yet

[2020-10-10 17:56] machshev commented on #361
I used to use AndBible since it started. But then moved away to AndBibleLexicon mainly because this feature didn't exist, and they had done it so much better.

When the strong numbers are interleaved in the text, it makes it really difficult to read. When they are not, there is no way of looking up a word in the Lexicon. It's worse in Original language texts where the main text is RTL and the stro

[2020-10-10 18:00] machshev commented on #177
Is this something currently being worked on by anyone?

[2020-10-10 19:42] timbze commented on #805
The issue is here, this `instance.showErrorMsg` has "Send email" option. It should probably be changed to `throw ex`, that way the `try catch` you were looking at would catch it.
https://github.com/AndBible/and-bible/blob/f101f39a4a62e4c436e3ab8e62ac334434d84720/app/src/main/java/net/bible/service/download/DownloadManager.kt#L123

[2020-10-11 06:45] tuomas2 commented on #177
No, would you like to work on it? This would be a nice addition to the app.

[2020-10-11 16:50] machshev commented on #177
I can't promise anything, I've got a lot on at the moment. But yes, I think I'll have a go... unless someone else gets there first.
Kotlin is a new language to me, but it shouldn't be too difficult to learn. There are also several other additions I'd like to make, so I'm sure the learning will be a worthwhile investment.

[2020-10-11 16:54] tuomas2 commented on #177
As far as I know, this one is not the first one on anyones TODO list, so it will probably be waiting for you.
I'll be waiting for your pull request :-)

[2020-10-11 22:24] machshev commented on #686
For me the difference is in the normal modules. Being able to see the Strongs numbers themselves doesn't add any value to me. Only clutters the text and makes it more difficult to read. If the Strongs numbers are above or below the text, this is a little better... but still makes it difficult to speed read or skim the text when looking for a particular verse in a chapter, or trying to get an initi

[2020-10-11 22:47] machshev commented on #686
There is a similar app for Android called andbiblelexicon which might be worth looking at for inspiration. It's more focused to those learning and using the original languages directly. Unfortunately it's closed source. You can select several texts alongside each other and make your own interlinear version that scrolls together. On the desktop I use Bibletime which has similar features.

[2020-10-12 06:40] tuomas2 commented on #805
Hmm okay, if we remove that try-catch from installBook, then it catches exception in addDocumentToDownloadQueue, giving the error of the screenshot, which is better.

[2020-10-12 06:41] tuomas2 commented on #805
Is there anything we could still make better?

[2020-10-12 06:44] tuomas2 commented on #805
Perhaps in addDocumentToDownloadQueue we could give even better error message, if InstallException is caught.

[2020-10-12 06:46] tuomas2 commented on #805
like: "Downloading module X failed. It might be due to module being removed from the repository server, or misconfiguration of the repository. Please try again and if error does not disappear, please report".
Buttons:
[ok] -> refreshes lists
[report] -> takes to bug report

[2020-10-12 06:55] tuomas2 commented on #864
Flicker is very short and small disturbance, but logcat proves that the content is loaded twice in the above scenario. And it happens only first time after reloading app for each minimised window (second loading does not flicker).

[2020-10-12 13:12] JJK96 commented on #781
It's been merged now, has this issue been resolved?

[2020-10-12 13:13] JJK96 commented on #864
~This might be related to #630, #781 and #663~

[2020-10-12 14:02] tuomas2 commented on #864
Based on short debugging I did, it is not related. It's related to window sync code.

[2020-10-12 14:03] tuomas2 commented on #864
I actually kind of know what's the matter in this case, but didn't have time to make a fix yet.

[2020-10-12 15:52] tuomas2 opened #868 ""Not found in document" and jumping to not-existing verse after opening minimised window"
From @timbze https://support.andbible.org/scp/tickets.php?id=138

[2020-10-12 15:53] tuomas2 commented on #868
Screenshot and logcat in support desk

[2020-10-12 16:40] RuggMatt commented on #781
Yes. I can no longer reproduce the issue on the develop branch. :smile:

[2020-10-12 16:41] #781 closed, assigned to nobody

[2020-10-13 01:47] machshev commented on #177
Here is an initial prototype to check to see if I'm going in the right direction. I've tested it on the emulator and it seems fine. As soon as I work out how I'll check it on my phone too :)

[Pull request](https://github.com/AndBible/and-bible/pull/869)

[2020-10-16 13:21] tuomas2 opened #871 "UI to show overlapping bookmarks"
UI must be able to show properly bookmarks, even though they would be overlapping. Meaning, if there are overlapping bookmarks displayed, we need to show a visual hint about that.

Related #431 #430

[2020-10-16 15:32] tuomas2 commented on #510
Haven't heard of this for ages, and 3.3 is released, so closing.

[2020-10-16 15:32] #510 closed

[2020-10-16 15:36] tuomas2 opened #872 "All following repositories fail if one is down"
1. Simulate "connection timeout" for Crosswire.org
2. Go to Download documents
3. Refresh repositories
Actual:
 - All repos after crosswire.org fails. Only content of AndBible repo is shown correctly as it is loaded before crosswire.org. (order specified in net.bible.service.download.RepoFactory#normalRepositories).

Expected:
 - Only crosswire.org fails and shows up in error list (with red button

[2020-10-16 15:38] tuomas2 commented on #872
Error was java.io.interruptedioexception ("thread interrupted") in WebResource.java:245 (jsword), which happened for each repo. Could be introduced by AndBible/jsword@1d640140f4d480ef725118715692ff27d351df70.

[2020-10-16 23:15] JJK96 opened #873 "Some settings not saved in backup"
Example: Navigate to verse

After backup, reinstall and restore, the setting is lost.

[2020-10-16 23:22] timbze commented on #873
#680 will fix this, the preferences saved in SharedPrefs are not backed up with database currently

[2020-10-17 06:29] JJK96 commented on #873
closed as it is a duplicate

[2020-10-17 06:29] #873 closed, assigned to tuomas2

[2020-10-17 10:53] tuomas2 commented on #859
Kindle has 4 different colors to choose from, easily accessible. We could have something similar (configurable shortcut labels)

[2020-10-17 10:56] tuomas2 commented on #872
Does anyone know how to "Simulate "connection timeout""?

[2020-10-17 14:18] tuomas2 commented on #872
https://stackoverflow.com/questions/100841/artificially-create-a-connection-timeout-error

[2020-10-17 14:19] tuomas2 commented on #872
Does not reproduce as "timeout" but still causes same effect (thread interrupted), if I replace crosswire.org in repositories.txt with google.com

[2020-10-17 14:46] #872 closed, assigned to nobody

[2020-10-19 11:26] tuomas2 opened #874 "Implement download cancellation"
Thread().interrupt() is listened and handled in jsword downloader code, so it's easy to cancel downloads, as long as single thread implements single downloading.

[2020-10-19 13:59] tuomas2 commented on #136
Should be reproduced in this logcat: https://support.andbible.org/scp/tickets.php?id=148

[2020-10-20 13:10] tuomas2 opened #875 "My notes turn into blank screen randomly"
Support ticket & logcat & screenshot: https://support.andbible.org/scp/tickets.php?id=149

--- WRITE BUG REPORT ABOVE THIS LINE --- Instructions: Tell us briefly what did you do / what happened when the issue took place. Example:   1. Opened app 2. Clicked window menu -> Crash  Sometimes screenshot also is beneficial in resolving issues. Please use this function to report as soon as you have notic

[2020-10-21 14:28] tuomas2 opened #876 "Changing chapter fails on Android 5.1"
Does not seem to affect other versions.
https://support.andbible.org/scp/tickets.php?id=153

--- WRITE BUG REPORT ABOVE THIS LINE ---
Instructions:
Tell us briefly what did you do / what happened when the issue took place. Example:

1. Opened app
2. Clicked window menu
-> Crash

Sometimes screenshot also is beneficial in resolving issues. Please use this function to report as soon as you have noti

[2020-10-21 14:29] tuomas2 commented on #876
Could reproduce on emulator (5.1 only)

[2020-10-21 14:53] #876 closed, assigned to tuomas2

[2020-10-22 07:10] tuomas2 commented on #875
Perhaps not wise to invest too much time to investigate this as #844 will fix this in 3.4.

[2020-10-22 11:57] tuomas2 opened #877 "Remove blue startup screen"
I believe startup screen was made because initializing jsword took time in the past.
I also believe that it is these days neglible in most cases. User suggested removing it or making int optional and feels it's disturbing.

[2020-10-22 12:33] timbze commented on #877
#797 would also address this but not sure how soon that will get done

[2020-10-22 13:16] tuomas2 opened #878 "Ask to send bug report if app has crashed"
Either when app crashes, or when app is starte next time.
Related to #855 #853 etc

[2020-10-22 13:24] tuomas2 commented on #878
#850 (duplicate)

[2020-10-22 13:45] #850 closed, assigned to tuomas2

[2020-10-22 15:21] tuomas2 commented on #878
Closed by 8c5c8d96a150b64eea290f33d53b640932de6d8d

[2020-10-22 15:21] #878 closed, assigned to tuomas2

[2020-10-23 12:46] tuomas2 opened #879 "Android 11 checklist"
- [x] https://developer.android.com/reference/android/speech/tts/TextToSpeech

[2020-10-25 15:19] bvahedy commented on #723
I think #780 is the same as this issue. This is still happening in 3.3.397 build. I think the link window loses it's find attributes when it's switched to a different Bible translation. It needs to be reset everytime a Strong's no. is tapped so that when the "find full occurrence" of a word is requested it starts a new search.

[2020-10-29 10:27] tuomas2 opened #881 "Crash when closing window"
1. Set up one normal and links window
2. minimise links window
3. Close first window.
-> crash

https://support.andbible.org/scp/tickets.php?id=160

[2020-10-29 10:42] tuomas2 commented on #881
https://support.andbible.org/scp/tickets.php?id=166

[2020-10-29 10:49] tuomas2 opened #882 "Gill missing some text"
Gill's commentary on Judges, Jonah, and Philemon is not available. I've attached a screenshot of the books of the Bible available when I'm in a window connected to Gill's commentary. The other screenshot showing the "not found in document" message.

https://support.andbible.org/scp/tickets.php?id=161

[2020-10-29 10:49] tuomas2 commented on #882
Should check if Xiphos shows these chapters

[2020-10-29 11:01] tuomas2 commented on #881
Adding more logging to windowRepository etc.

[2020-10-29 12:58] timbze commented on #882
I confirmed in diatheke that those 3 books have no content in the module

[2020-10-29 13:21] tuomas2 commented on #882
Gill is not released in Crosswire repository. Should figure out who is maintaining it (Xiphos developer?) and where is the source text.

[2020-10-30 07:48] tuomas2 opened #883 "Use CSS from module zip file"

[2020-11-03 01:55] philip707 opened #884 "Text left Alignment"
Now the Bible text is in Justify alignment, Pls make it optional from left, right and justify

[2020-11-03 05:29] philip707 opened #885 "Include Diacritic search to get exact result"
Include Diacritic search to get exact result, Searching bible text other than English is not fetching correct result.
The Indian languages such as TAMIL contain Diacritics, the current search mechanism doest work on Diacritics

[2020-11-03 06:26] tuomas2 commented on #884
it is already optional: window menu (or workplace menu, i.e. right-corner menu) -> all text options -> justify-align text.

[2020-11-03 06:28] tuomas2 commented on #885
We'll look into this at some point.

[2020-11-03 06:38] philip707 commented on #884
Thank you Brother...

On Tue, 3 Nov, 2020, 11:56 AM Tuomas Airaksinen, <notifications@github.com>
wrote:

[2020-11-03 06:39] philip707 commented on #885
Thank you

On Tue, 3 Nov, 2020, 11:59 AM Tuomas Airaksinen, <notifications@github.com>
wrote:

[2020-11-03 06:40] #884 closed, assigned to tuomas2

[2020-11-03 06:47] philip707 opened #886 "How to add Xref"
How to add existing xref to the Bible to enable reference

[2020-11-03 06:50] tuomas2 commented on #886
Are you making your own module?

[2020-11-03 07:01] tuomas2 commented on #886
There are some info about OSIS (in which you must add crossrefererencing information) here:

http://crosswire.org/osis/
https://wiki.crosswire.org/OSIS_Tutorial

[2020-11-03 07:01] philip707 commented on #886
yes... already made tamil bible and added to theword and mysword and
pocketSword

Thank you

On Tue, 3 Nov, 2020, 12:21 PM Tuomas Airaksinen, <notifications@github.com>
wrote:

[2020-11-03 07:05] philip707 commented on #886
But xref file is separate file.. just wanted to know how to include in ANDBIBLE, in other software it's included in setting folder and it automatically displayed in bible text

[2020-11-03 07:36] tuomas2 commented on #886
I'm not aware of separate xref file and And Bible does not currently support such a file, as far as I know.
Does pocketSword support it? Have you formatted the bible / xref file in OSIS format?

[2020-11-03 08:00] philip707 commented on #886
PocketSword doest support it... but mysword and theword supports same xref
files

On Tue, 3 Nov, 2020, 1:06 PM Tuomas Airaksinen, <notifications@github.com>
wrote:

[2020-11-03 08:02] philip707 commented on #886
but I saw a option for footnotes/xref files in ANDBIBLE

On Tue, 3 Nov, 2020, 1:06 PM Tuomas Airaksinen, <notifications@github.com>
wrote:

[2020-11-03 08:18] tuomas2 commented on #886
And Bible support crossreferences / footnotes in bible module, not separate files

[2020-11-03 08:19] alerque commented on #884
Wow how long has this been there? Even I didn't know about it and I've wanted it ;-) Also I see the setting string is not localized into Turkish, which is partly my fault. Apparently I'm behind — and this must be relatively new.

Great to see so much progress in this app recently by the way!

[2020-11-03 08:30] philip707 commented on #886
Thank you..

On Tue, 3 Nov, 2020, 1:48 PM Tuomas Airaksinen, <notifications@github.com>
wrote:

[2020-11-03 09:06] tuomas2 commented on #884
This new option came with 3.3 release in June.

[2020-11-03 09:07] tuomas2 commented on #886
I'm curious to know what is this file / fileformat and how PocketSword supports it. Also, do other sword apps support such a format?

[2020-11-03 10:27] philip707 commented on #886
No, PocketSword doesn't support it, but mysword and theword is supporting
it... actually I prepared this file using theword,
I am attaching a screenshot and xref in which u can see the reference bible
verse when u clik on it the verse will popup, it's using xref file,
Thank you

On Tue, 3 Nov, 2020, 2:37 PM Tuomas Airaksinen, <notifications@github.com>
wrote:

[2020-11-03 10:57] philip707 commented on #886
https://www.google.com/amp/s/www.thewordtutorial.com/cross-references/cross-references-introduction/amp/
If you contact Costas, developer of theword, surely he will help you to
accomadate cross reference into ANDBIBLE..

With regards

On Tue, 3 Nov, 2020, 2:37 PM Tuomas Airaksinen, <notifications@github.com>
wrote:

[2020-11-04 19:49] tuomas2 commented on #881
https://support.andbible.org/scp/tickets.php?id=177

[2020-11-05 10:37] #881 closed, assigned to nobody

[2020-11-05 11:03] tuomas2 opened #887 "Using widget does not work properly if no modules installed"
1. Install app for the first time
2. Add widget
3. Tap widget
-> It opens main bible activity, not startupactivity, and things go wrong (no crash)

[2020-11-05 15:23] tuomas2 commented on #881
Will be fixed in build 399

[2020-11-06 02:08] bvahedy commented on #881
Verified fixed in 399 build.

[2020-11-06 02:17] bvahedy commented on #851
Verified fixed in build 399.

[2020-11-07 14:43] tuomas2 commented on #881
https://support.andbible.org/scp/tickets.php?id=180 (using 3.3.397)

[2020-11-11 02:32] BrianGaucher commented on #840
I haven't looked at all the plans. Kinda forgot. But in ANDBible. All plans are 1y or 2y. But nothing shorter than that. But in the list above many of them had the Bible in 6-months or 90 days. Or a survey of Bible sections in 90d. So I'd think it would be good to include some shorter less complete plans. As I'm sure there isn't some programming limitation limiting plans to exactly 365 days.

[2020-11-15 15:02] tuomas2 opened #889 "Links window opens in wrong verse"
On first link click links window jumped to first verse, not the correct one (20 or so)

To be investigated further from logcat: https://support.andbible.org/scp/tickets.php?id=193

3.3.500#ed8a973  but possibly affects 3.3.
Possibly no need to investigate too much as #888 will change things dramatically.

[2020-11-15 15:03] tuomas2 commented on #889
https://support.andbible.org/scp/tickets.php?id=193

[2020-11-15 15:05] tuomas2 opened #890 "Highlighting does not work after first time"
When I'm highlighting a verse, the software works once, then doesn't work until I close the Bible and then reopen it. Then it will work again, but the problem happens again.

Logcat etc: https://support.andbible.org/scp/tickets.php?id=194

[2020-11-15 15:15] tuomas2 opened #891 "KJV does not show crossreferences / footnotes"
KJV does not show crossreferences / footnotes, although it does have those.

https://support.andbible.org/scp/tickets.php?id=151

[2020-11-15 15:16] tuomas2 opened #892 "Strange lock-down with And Bible"
Strange issues were here:

- Separators couldn't be moved (vertical mode)
- Window button bar was "empty"/transparent (took space but did not have anything).
- Logcat for some reason does not have timestamps...

Logcat etc: https://support.andbible.org/scp/tickets.php?id=150

[2020-11-15 15:19] tuomas2 opened #893 "Wrong english dialect when speaking"
User wants to use en-US but en-GB is used instead. Module "Text only recovery version".

More info: https://support.andbible.org/scp/tickets.php?id=122

[2020-11-15 18:24] bvahedy commented on #891
Unable to duplicate.
![SmartSelect_20201115-102346_Bible Study](https://user-images.githubusercontent.com/46405809/99193251-af6afa00-272c-11eb-8bb2-9d52b4e96d76.jpg)

[2020-11-16 05:55] yawnoc opened #894 "Horizontal overflow: no spaces between Hebrew Qere and Ketiv"
Westminster Leningrad Codex (WLC) is formatted without spaces between [Qere and Ketiv](https://en.wikipedia.org/wiki/Qere_and_Ketiv), which are "read" and "written" versions respectively. This results in a very long run of Hebrew letters which does not break, and causes all verses of the chapter to overflow horizontally. Attempting to horizontally scroll the verse back into view causes the chapter

[2020-11-16 16:10] bvahedy commented on #894
I'm unable to duplicate this. Try using a different font in the jsword folder on the local storage on your device and see if that will fix the issue:
![Screenshot_20201116-080649_Bible Study](https://user-images.githubusercontent.com/46405809/99277828-2793f700-27e3-11eb-91c8-673e92eb3330.jpg)

[2020-11-17 08:38] tuomas2 commented on #890
User said it is working now. But quick glance at logcat might be good to do before closing this.

[2020-11-17 08:39] tuomas2 opened #895 "Show Red Letters option only for modules that support it"
Red letters cause confusion as not all modules support it. Better to hide option if it's not doing anything.

[2020-11-18 09:18] JacobZy opened #896 "verse link of some dictionary strongs entry not clickable"
**Describe the bug**
Dictionary module AbbottSmithStrongs has some verses link for each strongs entry.but show as plain text.

**Bug was found on And Bible version**
version 3.3.399#24411f9

**To Reproduce**
Steps to reproduce the behavior:
1. Go to download and install dictionary module AbbottSmithStrongs
2. Click on 'choose document menu',choose AbbottSmithStrongs and open it
3. Click top bar an

[2020-11-18 09:44] JacobZy opened #897 "choose one dictionary as default strongs search module but failed"
**Describe the bug**
choose diffrent dictionary module as default strongs search module but app always auto switch to the StrongsRealGreek/StrongsRealHebrew module

**Bug was found on And Bible version**
version 3.3.399#24411f9

**To Reproduce**
Steps to reproduce the behavior:
1. Go to kjv module
2. Click on any strong number,such as '07225'
3. a new window show up, it is StrongsRealHebrew and sh

[2020-11-18 10:12] JacobZy opened #898 "Cross-reference window show as a normal window / commentary window"
**Is your feature request related to a problem? Please describe.**
 I'm always frustrated when click crossref link in ESV2011 module. Pop up an new window and after click one ref will change main bible window location. and no way back to the crossref window to click another link,assume one crossref entry has many ref items

**Describe the solution you'd like**
when click crossref link in bible, th

[2020-11-18 10:23] tuomas2 commented on #898
Some related changes are in upcoming #888, that I need to still test if they provide good UX.

[2020-11-18 12:48] JacobZy commented on #898
Your guys are amazing! The AndBible is such a great app.very easy to use and neat with new tech implemented. Appreciate your work, thank you all guys!

[2020-11-18 17:22] Dockerfile256 commented on #390
You can download the ESV Bible from the [Wayback Machine](https://web.archive.org/web/20170705130043/https://crosswire.org/sword/modules/ModDisp.jsp?modType=Bibles)

[2020-11-18 17:39] samuelcmace commented on #390
The ESV Bible is avaliable for download as a SWORD module from the [Wayback Machine](https://web.archive.org/web/20160802201507/http://www.crosswire.org/ftpmirror/pub/sword/packages/rawzip/ESV.zip).

[2020-11-18 17:52] bvahedy commented on #896
I believe this is a module issue. It's possible that Abbotts dict. is not using OSIS protocol for it's link format.

[2020-11-19 02:46] JacobZy opened #899 "show search result window as a normal window and item can be copied"
Is your feature request related to a problem? Please describe.
I'm always frustrated when using search function or 'find all occurrences' in strongsRealHebrew dictionary. It will Pop up an new window, and after click one item of the list will change the source  window . and no way back to the search result window to click another link. also so far I find no way to copy the item of the search resul

[2020-11-19 09:11] yawnoc commented on #894
Is it possible that we have different versions of WLC installed? I have Version&nbsp;1.9 (2013-10-11).

This exact issue was reported to Crosswire in 2014, in [API-181](https://tracker.crosswire.org/browse/API-181) (still open):

The only other related mention of Qere and Ketiv in Crosswire occurs in [comment 53525 in MOD-350](https://tracker.crosswire.org/browse/MOD-350?focusedCommentId=53525&pag

[2020-11-19 13:25] JacobZy commented on #896
@bvahedy Actually this dictionary module Abbotts  use TEI format other than OSIS. and I find ' At the moment OSIS does not have thorough support for complex dictionaries. For that reason we support TEI for dictionaries. ' description at  the link:https://wiki.crosswire.org/DevTools:Modules.
I think tt will be make the app more compatible if you add support for TEI format. Thanks!

[2020-11-19 16:52] timbze commented on #899
@JacobZy thanks for your suggestions! :) This has been suggested before so I will close it as duplicate of #611. If you feel that anything else needs to be added you can add a comment in #611

[2020-11-19 16:52] #899 closed, assigned to tuomas2

[2020-11-19 16:54] timbze commented on #611
Additional idea from #899 - add feature to copy verse from search results list

[2020-11-19 17:03] timbze commented on #853
@tuomas2 do we still want to investigate more to use ACRA or leave it now that it's implemented differently? (8c5c8d96a150b64eea290f33d53b640932de6d8d)

Also #855 can be closed if we don't want to use ACRA anyway

[2020-11-19 17:06] bvahedy commented on #894
My version is 1.4:
![Screenshot_20201119-090456_Bible Study](https://user-images.githubusercontent.com/46405809/99699138-79888700-2a46-11eb-9f90-8e9a50de9a75.jpg)

[2020-11-19 17:17] bvahedy commented on #896
One of the developers would have to look at this to see how major of a mod it would be.

[2020-11-20 07:47] tuomas2 commented on #853
I'm quite satisfied with the current implementation that also reports crashes when next time starting app. So I'm okay with closing these.

[2020-11-20 07:53] tuomas2 commented on #896
Probably will do this for 3.4. #888 will change the way links are processed anyway.

[2020-11-20 08:12] tuomas2 opened #900 "Book name is very small"
From Google Play https://play.google.com/console/u/0/developer/6727655833913220393/app/4974350217168681006/user-feedback/review-details?reviewId=gp%3AAOqpTOGnjZpI2LiM_zEbpDbKCjSUp9iTNZbljDFFD1ackrSPPQDKRuQS2LbiLSRZhRhCm8r28iW9aSi9les&corpus=PUBLIC_REVIEWS

[2020-11-20 11:32] #853 closed, assigned to bvahedy

[2020-11-23 17:34] timbze commented on #136
Also reproduced here: https://support.andbible.org/scp/tickets.php?id=201

[2020-11-24 07:46] tuomas2 commented on #136
Unless the issue is in JSword side, I believe this issue will disappear after #888.

[2020-11-24 12:58] Johannes071 opened #901 "Hi I would like to request that Nasb 2020 will added to your modules"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-11-24 13:02] Johannes071 opened #902 "Nasb 2020"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-11-24 13:04] #902 closed, assigned to tuomas2

[2020-11-24 13:10] timbze commented on #901
Please see this: https://github.com/AndBible/and-bible/wiki/FAQ#please-add-module-x-to-and-bible

[2020-11-24 13:10] #901 closed, assigned to tuomas2

[2020-11-24 13:42] timbze opened #903 "Wrong message: No notes exist in this chapter"
**Describe the bug**
In NASB Acts 16:28 select the verse, and in 3-dot menu select "Footnotes and references". Acts 16:28 does not have notes or references but most other verses in chapter do.
A dialog pops up that says "No notes exist in this chapter". I think it used to load for entire chapter, hence the message, but it got changed to verse and now the message is confusing.

From UX perspective,

[2020-11-24 22:14] timbze opened #904 "Crash when return from selecting file to backup to (but no file selected)"
**Describe the bug**
Backup application database or documents to phone, and then press back before selecting a file >
`> app crashes

https://support.andbible.org/scp/tickets.php?id=210

**Bug was found on And Bible version**
Build 399

[2020-11-27 04:23] bvahedy opened #907 "Allow pinch to zoom on compare screen."
When selecting a verse and then tapping on the icon on tool bar at the top to compare and view with all Bible translation in the library. The font size is a bit small for many users. If pinch to zoom can be used it eliminates any individual font adjustments.

[2020-11-27 12:48] tuomas2 commented on #907
Was this your own idea or is it coming from users?

[2020-11-27 16:42] bvahedy commented on #907
It came from a user I was responding to yesterday on a ticket.

On Fri, Nov 27, 2020, 4:48 AM Tuomas Airaksinen <notifications@github.com>
wrote:

[2020-11-27 18:48] tuomas2 commented on #907
I see. Please add ticket link as a reference. Thanks!

[2020-11-27 22:32] bvahedy commented on #907
I did, it's on the ticket to the user who requested it. And the ticket is
still open. Here is the link:

https://support.andbible.org/scp/tickets.php?id=211#reply

On Fri, Nov 27, 2020, 10:48 AM Tuomas Airaksinen <notifications@github.com>
wrote:

[2020-11-28 09:25] tuomas2 commented on #907
Thank you! This is what I meant, I need also link to support desk ticket from  here, to find the original support desk issue.
So both side linking is needed:
- Link from github to support desk
- Link from support desk to github

[2020-11-28 16:46] bvahedy commented on #907
Got it.

On Sat, Nov 28, 2020, 1:25 AM Tuomas Airaksinen <notifications@github.com>
wrote:

[2020-11-30 01:48] bvahedy opened #908 "jsword folder is not seen in build 305 under Android 10 OS"
Using build 399 in Android 10 the jsword folder is not read when though storage permissions is given.
I tried build 3.1.305 and it seems to read the folder correctly. So the big exists in build 399.
This is what it should look like: (305 build)
![Screenshot_20201129-173002_And Bible](https://user-images.githubusercontent.com/46405809/100560651-55f5e580-326b-11eb-9794-d6bbba96c06f.jpg)

This is the

[2020-11-30 06:33] tuomas2 commented on #908
Android 10, If I remember correctly, does not allow any more free access to any folder. So we need to stick to our app folder in Android/ subfolder.

[2020-11-30 07:21] tuomas2 opened #909 "Add app to Huawei App Gallery and Samsung Galaxy Store"

[2020-11-30 07:56] bvahedy commented on #908
But build 305 under Android 10 works as you can see in the first screenshot above. It may be the way build 399 is reading the storage directory path.

[2020-11-30 08:28] bvahedy commented on #908
It could also be looking for an exact case sensitive folder name. I noticed that it does that with module names in the Android/data/... Subfolders.
I remember this issue happening in older builds and you fixed it, somehow the bug came back.

[2020-11-30 09:14] tuomas2 commented on #908
It is possible that still in Android 10 apps with target sdk < 29 work. But not any more as we target to 29.

https://developer.android.com/about/versions/10/privacy/changes

[2020-11-30 12:24] timbze opened #910 "Backup more than few modules causes crash"
**Describe the bug**
When backing up more than a few modules the app crashes due to "Out of Memory" error.

Need to investigate if there's a better way to backup modules without storing everything in memory at the same time.

https://support.andbible.org/scp/tickets.php?id=216

**Bug was found on And Bible version**
Build 399

[2020-11-30 15:44] bvahedy commented on #908
I do not think that is the case, since the app is already reading/writing to local storage for database backup/restore.
Also there is nothing in the sdk 29 that prevents reading and recognizing local storage files, it talks about external storage.

[2020-11-30 17:28] tuomas2 commented on #908
Ping @AndBible/developers ^

[2020-12-04 16:45] philip707 commented on #886
just now I noticed my xref file not delivered to you cause it's too large

On Tue, 3 Nov, 2020, 2:37 PM Tuomas Airaksinen, <notifications@github.com>
wrote:

[2020-12-08 22:09] JJK96 commented on #908
I can confirm this issue on my device.

[2020-12-14 05:49] Screwtapello commented on #332
Currently, the Bible book chooser shows the abbreviation for each book (Job, Joe, Joh, Jon, etc.) and when you press a particular button, a tooltip appears above the button so you can see which button is obscured by your finger.

This is great, but I think it would be even better if the tooltip showed the long name of the book, as confirmation I'm pressing the correct button. I understand the butt

[2020-12-14 16:40] cmahte commented on #332
Including both the interface abbreviation and a title from within the text currently displayed adds value beyond "new christian."

Abbr (TITLE in the Current work) would be perfect.  not only display the available interface translation of the abbr, but a title in the language of the text currently displayed. So not just a 'newbie' feature. And for folks like me... helps to confirm the physical boo

[2020-12-15 08:24] tuomas2 commented on #908
Also https://support.andbible.org/scp/tickets.php?id=249 (custom reading plans) @timbze

[2020-12-15 08:39] ildar commented on #908
Authentication Required

[2020-12-15 10:04] tuomas2 commented on #908
That area is for developer team only. But original messages are (sometimes) useful for tracking down the issue so we always give reference to those tickets here.

[2021-01-04 00:41] nkosi23 opened #916 "Add option to stop text-to-speech at the end of book or verse range"
I often want to listen to a particular book or range of books once before going to bed. If I fall asleep before the end, I do not want to drain my battery by letting ghe phone read the Bible all night.

Right now, the workaround I use is to use an arbitrary time-limit, however it would be very useful to be able to configure the player to have it stop playing either:

1. At the end of the current b

[2021-01-04 15:13] timbze opened #918 "Crash on reading plan reset"
**Describe the bug**
User reports that AB crashed when resetting reading plan. https://support.andbible.org/scp/tickets.php?id=274

**Bug was found on And Bible version**
Build 399

Have not reproduced yet. Log has no detail beside stack trace.
[code]

[2021-01-07 13:16] RepentAndBelieveTheGospel commented on #571
I agree with what @eigenlambda said. There needs to be a way to customize most aspects of the quotation functionality.

I for one prefer to quote verses without numbers, on the same line, and with the book, chapter, verses in parenthesis at the end. Example:

Now after that John was put in prison, Jesus came into Galilee, preaching the gospel of the kingdom of God, and saying, The time is fulfille

[2021-01-17 15:11] oxr463 opened #919 ""Rate & Review in Google Play" in F-Droid and standalone builds"
**Describe the bug**

**Bug was found on And Bible version**
version 3.3.399

**To Reproduce**
Steps to reproduce the behavior:
1. Download APK from GitHub Releases or F-Droid.
2. Open the all.
3. Open the side menu.

**Expected behavior**
I would not expect to see that entry in the menu for non-google-play releaaes.

**Screenshots**

![IMG_20210117_101131](https://user-images.githubusercontent.co

[2021-01-18 17:44] timbze commented on #919
I don't think it's necessarily a problem. I don't think F-Droid users are lost about what Google play store is. They can ignore it if they don't have Google Play or don't want to rate (like other users do too who don't want to rate it)

[2021-01-19 18:34] Arclud opened #921 "Fix bug ":app:npmUpgrade""
## Description

I follow below link for build project
https://github.com/AndBible/and-bible/wiki/Developer-documentation

I can not install .apk because I have problem

## Operation system

Windows 10

## Note

I do not use emulator

## Error code

`npm WARN read-shrinkwrap This version of npm is compatible with lockfileVersion@1, but package-lock.json was generated for lockfileVersion@2. I'll try

[2021-01-19 18:36] Arclud commented on #921
@tuomas2 Could you help me ?

[2021-01-19 19:41] timbze commented on #921
Did you run Android Studio as Administrator? Maybe you could try that

[2021-01-20 01:25] Arclud commented on #921
Thank you , I will try after work in my home 🏠... Arigato Gozaimas 🙇🏻‍♂️

[2021-01-21 05:52] tuomas2 opened #922 "New bibleview-js leftovers"
Known issues (that will be fixed after merge, but before next stable release):

- [ ] Performance in general due to vue.js rendering. Solution: render smaller chunks at time and rest asynchronously without disturbing user. #976
- [x] Performance of bookmarking long verse ranges. Solution: use different routine for those parts that contain whole verses.
- [x] Speak bookmarks are not displayed corre

[2021-01-21 05:52] tuomas2 commented on #922
- [x] In night mode the text is still not correct when night text color is set to default. (red letters are ok)
- [ ] I think there should be a way to easily bookmark a verse without having to highlight it all manually.
- [x] IMO, Verse number is not needed at start of commentaries (see pic 1 below)
- [x] I think the bookmark "create**d** in" should have short Bible name, and not Osis ID. This sho

[2021-01-21 05:57] #836 closed, assigned to nobody

[2021-01-21 05:58] #904 closed, assigned to bvahedy

[2021-01-21 06:00] #910 closed, assigned to bvahedy

[2021-01-23 15:41] Arclud commented on #921
@timbze I try run with android studio how administrator

`gyp ERR! find Python
gyp ERR! find Python Python is not set from command line or npm configuration
gyp ERR! find Python Python is not set from environment variable PYTHON
gyp ERR! find Python checking if "python3" can be used
gyp ERR! find Python - "python3" is not in PATH or produced an error
gyp ERR! find Python checking if "python" can b

[2021-01-23 16:11] timbze commented on #921
@Arclud Ok it looks like running as admin solved your first issue. By the log you have here it looks like you need to install python yet on your computer.

Scroll down to windows installer file here: https://www.python.org/downloads/release/python-391/

[2021-01-23 18:03] Arclud commented on #921
Thank you. Next error was imagine below

`gyp ERR! find VS
gyp ERR! find VS msvs_version not set from command line or npm config
gyp ERR! find VS VCINSTALLDIR not set, not running in VS Command Prompt
gyp ERR! find VS checking VS2017 (15.9.28307.1342) found at:
gyp ERR! find VS "C:\Program Files (x86)\Microsoft Visual Studio\2017\BuildTools"
gyp ERR! find VS - found "Visual Studio C++ core feature

[2021-01-23 18:20] timbze commented on #921
Looks like you may need to follow these instructions to get node-gyp properly installed
https://github.com/nodejs/node-gyp#on-windows

[2021-01-23 20:53] Arclud commented on #921
@timbze Finally I installed , Thanks a lot , could I or you update documentation for buld project ?

[2021-01-23 20:55] timbze commented on #921
I think the wiki is editable. If you can do it that would be wonderful!

[2021-01-23 20:56] Arclud commented on #921
@timbze
I'll be happy , yes I do

We can close this issue

[2021-01-23 21:01] #921 closed, assigned to bvahedy

[2021-01-24 08:17] Arclud opened #926 "Incorrect chapter translation"
## The problem

For example when I dowload bible in Kyrgyz language the chapters labels was incorrect, the chapter labels language was Russian

## Scenario

1. Open bible
2. Open tab for download modules
3. Write in search "Кыргызча" (use Russiam keyboard)
4. Then click just first item because we have double "Кыргызча" lines
5. Then open tab which can helped choose chapters(Ephesians and other)

I

[2021-01-24 10:36] timbze commented on #926
I think #404 also addresses this issue.

The way the app works now, the chapter labels in the Bible book chooser are always in the language that the application is set to, regardless of what translation of Bible you download.

I think there could be some kind of setting added to the Bible book chooser window to switch language to Bible language, but leave the default setting the way it is now.

[2021-01-24 10:43] Arclud commented on #926
@timbze I think it is not good idea to use application language for example  I am Kyrgyz and my national language is Kyrgyz but so I wanna improve my English and I have to change my application language when I want to see correct language chapter

So it is just my idea and may be your position is better then My

[2021-01-24 10:49] timbze commented on #926
I want to make sure I understand.
You have application language in English, Bible in Kyrgyz, but books show Russian names? Or is the Russian names when you have that as your application language?

[2021-01-24 10:54] Arclud commented on #926
My application language is checked as default , my phone language is Russian , the Bible module whose was downloaded is Kyrgyz , the chapter language are Russian , I did not change and-bible language

[2021-01-24 12:19] timbze commented on #926
Ok, got it. Then it is same issue as #404.

Instead of creating an option in Bible chooser screen, it sounds like for you it would be better if there was an option to always show Bible book labels in their own language. In that case it would probably be better to add an option in application preferences to enable that setting. The setting would say something like "Show Bible book labels in own lan

[2021-01-24 17:39] Arclud commented on #926
In your case for example if I read some books and her language is English but the contest is Russian in my opinion it is incorrect... So What I want say : If books is English the chapter must be English so why ? Because If I read Bible in English and the chapters was Russian and in some day's i wanna talk about Bible with my friend but I don't know chapters name in English because I read chapters

[2021-01-25 11:06] tuomas2 commented on #926
@timbze I agree, in general I think it's consistent to show bible books in the language of application language, but I see the point of creating application preference for this.

What app was the screenshot taken with?

[2021-01-25 11:55] timbze commented on #922
- [x] Bug in bookmark labels where assigned label get's unchecked (d8aa6264)

To reproduce, you need more than a screen full of labels. In my case I have 30+ labels.
1. Save a bookmark with the 5th label checkmarked
2. Open the bookmark labels and you see the checkmark on 5th label
3. Scroll down till label is out of view, and then scroll back up again
4. Checkmark on label 5 is no longer checked

[2021-01-25 12:17] Arclud commented on #926
Of course just [click](https://play.google.com/store/apps/details?id=ua.mybible&hl=ru&gl=US) , but the application is not open source , above application is most popular in Russian , Kazahstan , Kyrgyzstan , Uzbekistan and may be we can take her some featues

[2021-01-27 11:50] timbze commented on #922
- [ ] Suggestion: when there's more than 1 note on a verse, show both in the pop-up. For example, Gen 29:1 in KJV shows "h  i" after verse, and then I have to click each letter separately to see the 2 notes.

[2021-01-27 12:08] timbze commented on #922
- [ ] when commentary does not have content for a verse it says "Error occurred" in header style. And then also "not found in document" and "report a bug". When the commentary does not have the content for the verse it should not say error, and I don't  think it should say report a bug, either.  -> #973

[2021-01-28 11:41] timbze commented on #922
- [x] scroll to wrong verse issue in ad5117c8
- [x] new issue, now linked commentary in second window loads nothing at all when opening first time in 335ca101

https://support.andbible.org/scp/tickets.php?id=325
https://support.andbible.org/scp/tickets.php?id=331

[2021-01-28 12:47] timbze commented on #922
- [x] switching to full screen makes text scroll up too far (about double of what it should). Switching from full screen to non-full screen does the same in reverse, scrolls too far down.
- [x] opening footnote in fullscreen opens modal and brings out of full screen. I think staying in full screen would be better.

[2021-01-28 14:57] timbze commented on #922
- [ ] Hebrews 13:25 footer issue. The number 25 should be at the line above it. (TB 2021-02-19 still have the issue in 84e588ec)

![image](https://user-images.githubusercontent.com/35117769/106155452-506f2b80-6146-11eb-88f9-156ff3780dab.png)

[2021-01-28 15:03] timbze opened #927 "Feature: full-screen tap shows info screen at bottom"
An idea after this change: 335ca101 Do not toggle full screen from single tap

In full-screen we could now have a little info screen show up at bottom for single tap.
1. The info box could have "exit full screen" button. I think this would make it more user friendly in case someone did not know that they needed to double tap for exiting full screen
2. Show current book and reference info
3. Show s

[2021-01-30 15:48] #926 closed, assigned to bvahedy

[2021-01-30 16:20] timbze commented on #926
Hi @Arclud just to confirm that you understand my thoughts on this thread.

You are very welcome to implement the feature you are requesting here, and link it to a new application preference.

If you are not sure how you would link it to an application preference I can help with that if you implement the feature itself.

[2021-02-07 19:54] JJK96 opened #929 "Crash on clicking text with strongMorph in KJVA"
**Describe the bug**
Crash on clicking text with strongMorph in KJVA.

**Bug was found on And Bible version**
Develop branch (3df322dd2af4b8d6d1f8198a81a5bb9c4d0c9f5f)

**To Reproduce**
1. Open Genesis 1:1 in KJVA
2. Ensure that morphology is on (so phrases are underlined).
3. Click the word created.
4. The application crashes.

**Screenshots**
https://imgur.com/a/5XEmHIY

**Additional content**
[

[2021-02-07 19:57] JJK96 commented on #929
This might be because BibleView doesn't include an entry for strongmorph

app/src/main/java/net/bible/android/view/activity/page/BibleView.kt

[code]

[2021-02-07 21:24] tuomas2 commented on #922
- [x] A couple more points, due to the merge of mynotes and bookmarks all texts with a note now are highlighted blue, it would be better to make it a little less obtrusive, just a note icon would work, or if it's tricky to determine if an unlabeled bookmark has a note, just a star or something. Another thing, I miss being able to select a verse and share including reference. Maybe we could put tha

[2021-02-12 12:25] tuomas2 commented on #815
Implemented by #928

[2021-02-12 12:25] #815 closed, assigned to tuomas2

[2021-02-13 07:57] tuomas2 commented on #922
- [ ] The journal button for exit edit mode (pencil with line through), might be nice to simply have a "save" icon. I'm thinking of the floppy disk icon that is used almost everywhere for save
- [ ] Another idea, I think it might be nice if the edit text expanded to about double the height when more text rows get added.
Also, don't know if possible, but when I have 8 lines of text and I tap in the

[2021-02-13 16:21] timbze commented on #922
- [ ] Bible text selection context menu
1. Remove "Select all" menu option" (see developer.android link below on how it can be done)
2. Possibly override "Copy" and "Share" to show a popup (or bottom sheet) with options like 1. "Copy selection", 2. "Copy full verse"

These changes should most likely be only for Bible type documents. E.g. Select all should probably be available for commentary or My

[2021-02-13 16:47] #929 closed, assigned to bvahedy

[2021-02-13 19:39] tuomas2 commented on #638
Implemented in develop

[2021-02-13 19:39] #638 closed

[2021-02-13 19:39] tuomas2 commented on #431
Implemented

[2021-02-13 19:39] #431 closed

[2021-02-18 00:41] pinstall opened #933 "Allow custom reading plan"
Please let me create and edit my own reading plan.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any altern

[2021-02-18 16:55] tuomas2 commented on #883
Implemented in e6777b20d3f69e72e8875283cf49196253912388

[2021-02-18 16:55] #883 closed, assigned to tuomas2

[2021-02-19 15:35] timbze commented on #922
- [x] Study pad does not refresh properly when bookmark is added https://support.andbible.org/scp/tickets.php?id=356

[2021-02-19 16:01] timbze commented on #933
Hi @pinstall, you can create your own reading plan. Please see the help information about it [here](https://github.com/AndBible/and-bible/wiki/Reading-Plans#custom-reading-plans)

[2021-02-19 16:03] timbze commented on #922
- [x] Large text font causes bookmark modal buttons to get bigger than there is room, see pic:
![Screenshot_20210219-095825](https://user-images.githubusercontent.com/35117769/108529055-b197a400-7299-11eb-9d94-5125fb25b742.png)

[2021-02-19 16:10] timbze commented on #922
- [ ] Possibly consider making an optional full-screen note window. If user wants to write a long note they would definitely like that. It could be something like Gmails "Popout" button on compose window

[2021-02-19 17:25] timbze commented on #903
Will be obsolete in v3.4

[2021-02-19 17:25] #903 closed, assigned to bvahedy

[2021-02-19 17:41] timbze commented on #891
I believe this is simply that KJV doesn't have a lot of footnotes. The user who reported it probably has a KJV paper Bible by some publisher with a lot of notes, but the Sword version is not from such publisher.

[2021-02-19 20:08] pinstall opened #934 "Feature: Monthly reading plan that automatically restarts"
Requesting that this popular reading plan be implemented for people who follow the daily proverbs reading habit.Due to people's continual use and cycling through of this reading plan , monthly, it may have a unique demand as opposed to regular reading plans. For example, I set up a reading plan in another bible app, but after the end of the month, I had to reset the starting date every time for th

[2021-02-20 11:47] tuomas2 commented on #558
Now implemented custom font addons as installable modules

[2021-02-20 11:47] #558 closed

[2021-02-20 19:12] pinstall commented on #934
(Restarts & remains synched to calendar day)

[2021-02-22 12:15] mavink opened #935 "Discipleship Journal Bible Reading Plan © Navigators for AndBible"
Please find attached the Discipleship Journal Bible Reading Plan for AndBible. Available from the Navigators - https://www.navigators.org/wp-content/uploads/2017/04/Discipleship-Journal-Bible-Reading-Plan-9781617479083.pdf

Create a folder called **jsword** in your internal storage. Create a folder inside this called **readingplan**

Paste the attached file with the exact filename **DiscipleshipJo

[2021-02-26 23:45] Schdefoon opened #936 "Date-based reading plan causes date (month) errors with other app languages"
Hi,

I'm not sure if it is only on my device...
I build a custom reading plan following the instructions [here](https://github.com/AndBible/and-bible/wiki/Reading-Plans#custom-reading-plans) and verified my problem with the example I found [here](https://github.com/AndBible/and-bible/issues/292#issuecomment-557581268).
Both reading plans caused errors.
I simplified the reading plan to one single l

[2021-02-27 11:28] #933 closed, assigned to timbze

[2021-02-27 11:34] timbze commented on #922
- [x] I think the note text should have the size of Bible text. After fixing the buttons growing too large with large font size, the note text font size now also stays small.

![Screenshot_20210227-052541.png](https://user-images.githubusercontent.com/35117769/109385978-29c72080-78bd-11eb-906b-a879ba292624.png)

[2021-02-27 14:04] timbze commented on #922
- [ ] Make it possible to select consistent colors from 1 label to the next one. Now there is only color picker and so it's impossible to have the same custom color between different labels

- one way would be to have to color code that could be copied
- or have a number of custom colors that can be saved
- or see some of last colors used

[2021-02-27 19:32] Schdefoon commented on #936
Ok -might depend on the language settings.
I did some new tests:

These single lines are working
- 1=Jan-28;Ps.1
- 1=Feb-28;Ps.1
- 1=Apr-28;Ps.1
- 1=Mai-28;Ps.1 (german Mai instead of english May)
- 1=Aug-28;Ps.1
- 1=Sep-28;Ps.1
- 1=Okt-28;Ps.1 (german Okt instead of english Oct)
- 1=Nov-28;Ps.1
- 1=Dez-28;Ps.1 (german Dez instead of english Dec)

Not working are Jun, Jul. The first three letters

[2021-02-27 19:54] Schdefoon commented on #936
Ok, it's "Juni", "Juli" and "M\u00e4rz" for reading plans on my german Android devices.

So the problem is solved for me. It might be difficult for users with other languages.

[2021-03-04 06:37] tuomas2 commented on #526
I think study pads #815 kind of implement this. Though I don't remember if the original user had something else in mind too.

[2021-03-04 06:37] #526 closed

[2021-03-04 06:39] tuomas2 commented on #161
Hmm, isn't this implemented in 3.3 already?

[2021-03-04 06:39] #161 closed

[2021-03-04 06:44] tuomas2 commented on #919
Closing based on these thoughts.

[2021-03-04 06:44] #919 closed, assigned to bvahedy

[2021-03-04 06:47] tuomas2 commented on #907
Compare screen is now in bible view, where font size can be adjusted, thus closing.

[2021-03-04 06:47] #907 closed, assigned to nobody

[2021-03-04 06:48] tuomas2 commented on #900
I wonder if we are talking about menu bar font size?

[2021-03-04 06:56] tuomas2 commented on #896
Osis XML produced by JSword is garbage. Does any frontend show this properly? Need fix on JSword side if the module contains some sensible way to indicate links.

[code]

[2021-03-04 07:03] tuomas2 commented on #898
UX is different now for x-refs, so closing this.

[2021-03-04 07:03] #898 closed, assigned to tuomas2

[2021-03-04 07:09] tuomas2 opened #938 "Read Reading Plans from addon module (similar way as fonts)"

[2021-03-04 07:09] tuomas2 commented on #840
Related: #938

[2021-03-04 07:16] tuomas2 commented on #841
Tested with current version and searching in my note window is disabled, which is correct behavior until searching is properly implemented (#862). Closing.

[2021-03-04 07:16] #841 closed, assigned to nobody

[2021-03-04 07:16] tuomas2 commented on #842
We can make an application preference for this.

[2021-03-04 07:18] tuomas2 commented on #835
Which module has hebrew morphology enabled? And which dictionary module has hebrew morphology?
Could check if this is now implemented.

[2021-03-04 07:26] tuomas2 commented on #830
![Uploading Screenshot_20210304-092608.png…]()

[2021-03-04 07:27] tuomas2 commented on #830
Even darker in current version (day mode)

![Screenshot_20210304-092608](https://user-images.githubusercontent.com/5811789/109926609-d0e7f580-7ccb-11eb-8711-636a695a08f8.png)

[2021-03-04 08:54] tuomas2 commented on #323
We can close this, as it will be handled by #300

[2021-03-04 08:54] #323 closed

[2021-03-04 08:55] tuomas2 commented on #827
We could also allow sharing module zip file (as long as there are no copyright issues).

[2021-03-04 08:57] tuomas2 commented on #805
I improved handling this in dev. I think this can be closed now.

[2021-03-04 08:57] #805 closed, assigned to bvahedy

[2021-03-04 09:13] tuomas2 commented on #813
I'm not sure if this is good idea (excessive configurability). Easy to implement, though. What do @AndBible/developers think?

[2021-03-04 09:23] tuomas2 commented on #760
Fixed in dev

[2021-03-04 09:23] #760 closed

[2021-03-04 09:23] tuomas2 commented on #489
This was done a while ago

[2021-03-04 09:23] #489 closed

[2021-03-04 09:29] tuomas2 commented on #690
I believe this is not any more relevant with the current my notes implementation.

[2021-03-04 09:29] #690 closed

[2021-03-04 09:30] tuomas2 commented on #188
Everything implemented in develop

[2021-03-04 09:30] #188 closed

[2021-03-04 09:32] tuomas2 commented on #689
I believe this is fixed by now. @timbze you can confirm and re-open if not.

[2021-03-04 09:34] tuomas2 commented on #625
I don't have currently good ideas how to implement this.

[2021-03-04 09:40] tuomas2 commented on #624
Might be implemented now in develop. Or if not, it's super easy to implement. Closing this, as I don't know which module to look at and what to expect.

[2021-03-04 09:40] #624 closed

[2021-03-04 09:45] tuomas2 commented on #639
As we have now ambiguous selection modal for bibleview clicks, it's in principal possible to implement this as another action. Moving to 3.5, but feel free to try it out and make PR.

[2021-03-04 09:54] tuomas2 commented on #660
- [x] Need to set font size on bibleview-js side. Then it works.
- [x] Min font size should be 1pt, not 0pt

[2021-03-04 10:00] tuomas2 commented on #598
This is easy to implement on bibleview-js side now. Just tell window when it's active / inactive and add necessary decorations for active window.

[2021-03-04 10:07] tuomas2 commented on #654
3.4 will include some features that might allow new workflows. #655 will be fixed also. Sync groups #648 is probably the most essential fix for this, but it might be postponed to 3.5. I'll close this for now, as it will be fixed by other tickets.

[2021-03-04 10:07] #654 closed

[2021-03-04 10:09] tuomas2 commented on #587
Database access can be probably improved in certain cases, but I'll close this for now as this has not caused performance issues currently. Many queries are also super fast and it's ok to do them in main thread.

[2021-03-04 10:09] #587 closed

[2021-03-04 10:12] tuomas2 commented on #408
Obsolete, as of different implementation in develop

[2021-03-04 10:12] #408 closed

[2021-03-04 10:14] tuomas2 opened #939 "Allow choosing TTS voice"
Popular request and fixes some issues.

[2021-03-04 10:14] tuomas2 commented on #438
#939 should fix this.

[2021-03-04 10:14] #438 closed

[2021-03-04 10:19] tuomas2 commented on #317
I believe this is not relevant any more if using my notes window. Please re-open if you disagree.

[2021-03-04 10:19] #317 closed

[2021-03-04 10:21] tuomas2 commented on #180
Related #938

[2021-03-04 10:22] tuomas2 commented on #632
We have options to backup modules and settings, and Android does not like us to store data anywhere else, so won't fix this.

[2021-03-04 10:25] tuomas2 commented on #611
Now would be easy to implement this, showing as MultiDocument.

[2021-03-04 10:27] tuomas2 commented on #177
Implemented in develop

[2021-03-04 10:27] #177 closed

[2021-03-04 10:27] tuomas2 commented on #430
Implemented in develop

[2021-03-04 10:27] #430 closed

[2021-03-04 10:28] tuomas2 commented on #590
Implemented in develop

[2021-03-04 10:28] #590 closed

[2021-03-04 10:32] tuomas2 commented on #583
This probably is not relevant any more with current implementation.

[2021-03-04 10:32] #583 closed

[2021-03-04 10:40] JJK96 commented on #813
I'm not sure when configuration is starting to become excessive. But I think configurability is usually a good thing. In this case, if it helps people read their bible with more ease, it's worth implementing I think.

[2021-03-04 10:49] tuomas2 commented on #555
Current implementation should address this better.

[2021-03-04 10:49] #555 closed

[2021-03-04 10:58] tuomas2 opened #940 "One-directional sync"
It would be useful to make window sync one-directional sometimes.

Related #648

[2021-03-04 11:04] tuomas2 commented on #686
Related https://github.com/charlesLoder/greek-transliteration

[2021-03-04 11:05] tuomas2 opened #941 "Notify user when new major version is available"
I guess Google Play API provides this info.

[2021-03-04 11:06] tuomas2 opened #942 "Links window improvements / per-window links windows"
## New "special links window" logic

When clicking links in a window, a special "links" window is created that is linked to this particular linking window.

Then again, clicking links from this "links" window will create another "links window" to that window, in a similar manner.

Links window icon is drawn next to it's "parent" window, and linking is marked with some icon/symbol there (perhaps ar

[2021-03-04 11:15] tuomas2 opened #943 "Morph options are not update properly"
**To Reproduce**
Steps to reproduce the behavior:
1. Open KJV
1. Go to window or workspace text options.
2. Change strongs mode from off to "Links" and press OK

Actual: Morphological codes is disabled (can't be toggled)
Expected: it should be possible to toggle "Morphological codes".

(also vice versa, if changing -> off, it does not get "disabled" state)

[2021-03-04 11:17] tuomas2 opened #944 "Strongs numbers can be changed even if strongs are not available"
**To Reproduce**
Steps to reproduce the behavior:
1. Open FinRK (or other module with no strongs markings)
2. Go to text options from workspace or window menu
Actual: Strongs options can be changed
Expected: Strongs options are hidden or disabled, can't be changed

[2021-03-04 11:18] tuomas2 opened #945 "Sync with General Books does not make sense"
1. Open General book and See window menu
Actual: there's sync option
Expected: should not be

[2021-03-04 11:36] tuomas2 opened #946 "Strongs dictionary to be user-selectable"
If many dictionaries are installed, user should be able to choose which he is using in Application Preferences.

[2021-03-04 11:42] timbze commented on #689
The note is added in the text in this specific case, but I think it should be some kind of note link, and the references are plain text, not links![Screenshot_20210304-053911.png](https://user-images.githubusercontent.com/35117769/109958914-63789c80-7cac-11eb-9050-600481464f78.png)

[2021-03-04 11:45] tuomas2 opened #947 "App licence info should be visible in main menu"
Either directly, or via some more generic menu entry.

[2021-03-04 11:45] timbze commented on #689
Also, first Baptist confession 1646 has x-editor-correction tags which are notes that have not been implemented. E.g. See section 40

[2021-03-04 11:47] tuomas2 opened #948 "Extract crash info from logcat and show it in main email message"
Now we need to open logcat txt always to see what's wrong.

[2021-03-04 11:54] timbze commented on #632
I think Android's new scoped storage allows a user to give permission for a certain directory and the And Bible can access that directory. I have not implemented it myself, just what I think I read.

I'm not so sure we should close this. Someone asked me if they could store their documents on SD card cause the device did not have much internal storage.

[2021-03-04 12:30] agrogers commented on #611
Cool. Looking forward to trialing some of the new features you have been working on. Thanks

[2021-03-04 12:57] tuomas2 commented on #689
I don't know what magic Xiphos does, but osis XML fragment does not mark these in any way so what can we do?

It's like this there:
[code]

[2021-03-04 13:05] timbze commented on #689
I'm guessing jsword doesn't handle the case correctly. My OP shows what the source file has, so probably libsword handles it better.

[2021-03-04 13:15] tuomas2 commented on #689
I believe it's not OSIS source and we don't support non-OSIS sources very well.

[2021-03-04 13:15] tuomas2 commented on #689
Fixed footnote issue 9e1c20140370cbf48c9853e3eb7dd5ebadd7d835 (x-editor-correction)

[2021-03-04 14:19] tuomas2 commented on #689
Need to modify jsword to give fragments of (whatever-xml) and render it in js side (should be easy now)

[2021-03-04 14:33] tuomas2 commented on #689
Hmm, it has SourceType OSIS

[2021-03-04 14:42] tuomas2 commented on #689
Chapter 1 seem to be invalid XML

org.jdom2.input.JDOMParseException: Error on line 77: At line 77, column 2: mismatched tag

[2021-03-04 14:55] tuomas2 commented on #689
Invalid OSIS there...

`<item>Galatians<item>`

[2021-03-04 14:55] tuomas2 commented on #689
Module issue it is then.

[2021-03-04 14:55] #689 closed

[2021-03-04 15:18] timbze commented on #936
Thank you for reporting it and figuring out what the issue is!

I will try to look at fixing it for the next release.

[2021-03-04 15:23] timbze commented on #299
I think this issue can be closed.
1. There is a setting to hide window buttons on the side since we have them at the bottom (and they can be hidden on bottom too)
2. 3.4 has a setting to disable the reference text overlay that appears in full screen

Someone can re-open if they think this specific issue needs further attention. Otherwise open a new issue.

[2021-03-04 15:23] #299 closed

[2021-03-04 15:30] timbze opened #949 "List positions are lost on going back (bookmarks, reading plan)"
This is more of an enhancement, maybe not a bug. Some lists in And Bible do not remember positions where you were at when going back to it.

1. Bookmarks -> opening a certain bookmark which opens Bible and then pressing back brings the user back to top of bookmarks list.
2. Reading plan -> open window with days list and go to a certain day, when going back into the list it should open up where we

[2021-03-04 17:26] bvahedy commented on #944
This is fixed in the latest 506 alpha build.

[2021-03-04 19:13] tuomas2 commented on #944
I just reproduced it the latest version.

[2021-03-04 19:13] tuomas2 commented on #944
meaning, latest alpha-506.x

[2021-03-04 19:18] tuomas2 commented on #619
Implemented in 7b9053e88441e82e48d88162275603ef61cf7303

[2021-03-04 19:18] #619 closed

[2021-03-04 19:20] NotSoImportant commented on #299
Thank you. That's fair enough.

[2021-03-04 22:18] bvahedy commented on #944
Ok, I see what you mean, even thought you can change it stays off though, right. But what happens if  in a workspace you  have other Bible windows that have Strong's coding?

[2021-03-05 03:32] timbze commented on #922
- [ ] Study pad does not update when switching workspace
1. Open study pad for "label 1" in workspace 1
2. Go to workspace 2 and add "label 1" to some verse bookmark
3. Go back to workspace 1, study pad does not update to show the bookmark that was just added, but it should #977

[2021-03-05 10:43] tuomas2 commented on #922
I'm thinking that maybe it's time to start writing separate bug tickets instead of collecting stuff here.

[2021-03-05 14:03] DavidHaslam commented on #689
There are also 6 other XML errors that match the regexp pattern `<p>[^<>]+<p>`
i.e. Paragraph start tag `<p>` with no corresponding paragraph end tag `</p>`.

[2021-03-05 14:09] tuomas2 commented on #689
Could you @timbze or @DavidHaslam report this module issue to Crosswire tracker.

I guess it's practice @ crosswire these days to check osis xml through lint?

`xmllint --noout --schema osisCore.2.1.1.xsd osis.xml`

[2021-03-05 14:22] DavidHaslam commented on #689
CrossWire probably doesn't have the original OSIS XML file that the module was made from.
It was probably one that Chris Little made before he went AWOL from CrossWire.

cf. My only tweaks in 2020 were just to the .conf file.

[2021-03-05 19:06] DavidHaslam commented on #689
See https://tracker.crosswire.org/browse/MOD-405

[2021-03-05 23:46] bvahedy opened #950 "App crashes on tapping bookmark lable icon..."
Using 507 alpha build.
1) Tap and hold on a word then tap on bookmark.
2) tap on the highlighted word.
3) in the note window of you tap on the link Unlabelled at the top of on the icon "Lables"  the app crashes.

Also this prevents the user to add a bookmark to a specific lable.

[2021-03-07 20:48] #891 closed, assigned to nobody

[2021-03-09 02:03] bvahedy commented on #950
Verified fix in alpha build 507.1

[2021-03-09 02:03] #950 closed, assigned to nobody

[2021-03-11 06:56] #384 closed

[2021-03-11 06:56] #797 closed, assigned to RuggMatt

[2021-03-11 06:56] #877 closed, assigned to RuggMatt

[2021-03-12 05:55] JacobZy commented on #896
As I know.Xiphos on linux can show this module properly and its link be clickable.

[2021-03-12 08:33] tuomas2 commented on #896
It could be also similar module error as in #689. Need to debug a bit further.

[2021-03-17 08:02] tuomas2 commented on #785
From  user (https://support.andbible.org/scp/tickets.php?id=394)

[2021-03-17 08:31] alerque commented on #785
I set volume buttons to scroll in almost every app that supports it (there are several). It's a nice alternative to have on hand, but not necessarily a replacement for the tilt to scroll suggestion in this issue. Tilt has the advantage of being nearly infinitely smooth, volume buttons are discrete and need to have a large scroll jump value on each press to be useful. Hence they serve rather differ

[2021-03-17 08:33] tuomas2 commented on #785
It should be disabled when playing audio to allow volume adjustment, and optional otherwise.

[2021-03-21 12:39] LAfricain commented on #946
This is exactly what I need. For now we have 4 strongs languages but only english is displayed when we click on a strong number. It would be interesting to have this option which gives us the opportunity to choose the dictionary.

[2021-03-21 13:36] tuomas2 commented on #946
developer: could be implemented as per workspace / per window text display settings or just application preference.

[2021-03-22 10:37] tuomas2 commented on #154
Developer:

Perhaps easier starting point would be to add uuid's and timestamps to all db rows in all tables and make it first possible to "merge" backup database (instead of replacing one). Then, if same uuid is in both db's, then use more recent one.

[2021-03-23 10:37] tuomas2 commented on #942
Related: #648

[2021-03-26 12:16] timbze commented on #332
From someone with sight impairment:

[2021-03-26 18:08] timbze commented on #597
Developer info:
Idea to change came partially from #578
First change away from switching documents with single click: fb5d2efc - March 10, 2020
Another change: 225a550c - Apr 2, 2020
Further change for long press: 1e8f1908 - Apr 10, 2020

[2021-03-27 21:06] timbze commented on #908
Related: #632

[2021-03-29 16:28] timbze opened #955 "Joined reference links in commentary cause crash"
This bug does not affect 3.3, only dev branch (alpha).

**Describe the bug**
2 references next to each other in Gill commentary Revelation 1:10 click as 1 reference, and then crash. AB 3.3 separates them to 2 links.

![screenshot](https://user-images.githubusercontent.com/35117769/112866432-07b8ed80-9077-11eb-8e97-e209e2dbf9b7.jpg)

[code]

[2021-03-29 16:39] timbze commented on #935
This reading plan is copyright. We can only consider distributing a reading plan in And Bible if permission is granted by the copyright holder.

[2021-03-29 16:39] #935 closed, assigned to nobody

[2021-03-29 19:54] timbze commented on #946
Also, perhaps a long-press on the strongs link could give options for which dictionary to use

[2021-03-29 20:24] timbze commented on #897
I'm closing in favor of #946

I have not confirmed, but think this may have worked in 3.2, based on some commits I researched in this comment: https://github.com/AndBible/and-bible/issues/597#issuecomment-808419435

More specifically, a method something like `SuggestedDictionaries()` was removed for version 3.3.

[2021-03-29 20:24] #897 closed, assigned to bvahedy

[2021-03-29 20:25] timbze commented on #946
Based on #897, the first step would be to simply remember the last dictionary the user has used, and use that again on next link press.

[2021-03-29 20:46] timbze commented on #858
Implemented in 3.4-alpha

[2021-03-29 20:46] #858 closed, assigned to nobody

[2021-03-29 21:28] timbze commented on #572
I believe this issue will have been fixed in #811 / https://github.com/AndBible/and-bible/commit/9e20909232e65f54444ff3f2ac33fd1c216dc3ea

[2021-03-29 21:28] #572 closed

[2021-03-29 21:31] timbze commented on #895
I believe the option should be shown disabled with note (Not available for this module). That way people won't come to the conclusion that And Bible does not have red letter if they have a wrong module installed.

[2021-03-30 04:55] bvahedy opened #957 "Strong's root word ref. Are not showing as links."
Using the latest alpha build 3.3.509:

When displaying a Strong's no. In the dictionary the root references are not showing up as links.

e.g.   bring up the Strong's definition for 06966 which is the Hebrew H6966.
Within the definition is a root reference to H6965. This no. should be a link and should be clickable.

[2021-03-30 15:09] tuomas2 commented on #946
Long-pressing dot-underlined words does not open context menu but allows selection (for bookmarking etc). Long-pressing popup menu would be available only when using links mode for strongs.

[2021-03-30 15:21] tuomas2 commented on #957
same as this? https://support.andbible.org/scp/tickets.php?id=422

[2021-03-30 16:52] bvahedy commented on #957
Yes, after verifying that in the previous versions those showed as links I
created #957. Should I not have created that ticket?

On Tue, Mar 30, 2021, 8:21 AM Tuomas Airaksinen ***@***.***>
wrote:

[2021-03-30 18:32] tuomas2 commented on #957
creating ticket was right thing, just wanted to confirm and cross link as there is screenshot too.

[2021-03-30 21:13] bvahedy commented on #957
![Screenshot_20210329-175343_Bible Study](https://user-images.githubusercontent.com/46405809/113057617-1e883e80-9162-11eb-97d9-6997f383f98e.jpg)

[2021-04-01 07:19] tuomas2 opened #958 "Window separator line issue"
https://support.andbible.org/scp/tickets.php?id=395

I was trying to resize this window I made from clicking on a Strong's number. It works smoothly until I go fullscreen; then the separator barely moves when I try it in this state.

1. Open a Strong's number, which should open a new window
2. Double-tap to fullscreen the app (or scroll for my case)
3. Try to drag the separator so that the new win

[2021-04-01 07:36] tuomas2 commented on #186
From AB user (https://support.andbible.org/scp/tickets.php?id=366)

[2021-04-01 14:50] bvahedy commented on #958
I could not duplicate this in 509 alpha build.

On Thu, Apr 1, 2021, 12:19 AM Tuomas Airaksinen ***@***.***>
wrote:

[2021-04-02 03:51] bvahedy opened #0 "Verses with multiple Bookmark lables are deleted altogether..."
Running 509 alpha build:

1) assign a verse to a bookmark lable and a speak bookmark.
2) go to bookmark list.
3) instead of listing all bookmarks, select speak from the drop-down list at the top.
4) select the verse that has multiple lables by tap and hold.
5) tap the trash icon.

What happens: all bookmarks for that verse are deleted.

Expected result:  only the speak bookmark should be deleted a

[2021-04-02 11:46] tuomas2 commented on #820
Similar issue:

https://support.andbible.org/scp/tickets.php?id=380
(ticket includes video demonstrating the issue)

[2021-04-04 09:13] onomou commented on #332
I was just trying my hand at understanding how the code is put together and made a patch to show the full name of the book. If it is useful and done properly, I would love to have it pulled in. The original issue's screenshot would be the best book/chapter selector IMO, but this at least patches up the current view a bit.

[2021-04-05 10:16] tuomas2 commented on #598
Implemented in develop

[2021-04-05 10:16] #598 closed

[2021-04-05 10:38] tuomas2 commented on #660
Implemented in develop

[2021-04-05 10:38] #660 closed

[2021-04-05 10:42] tuomas2 commented on #819
From linked page:

-> I guess we have this clear enough (report a bug, and rate & review as separate menu entries).

[2021-04-05 10:43] tuomas2 commented on #819
I don't think this in-app review brings any significant benefit for us, so I'll drop this from roadmap.

[2021-04-05 10:43] #819 closed, assigned to nobody

[2021-04-05 11:13] tuomas2 commented on #947
Implemented

[2021-04-05 11:13] #947 closed, assigned to nobody

[2021-04-05 12:56] tuomas2 commented on #946
I implemented now simple selection in app preferences. Further improvements welcome later on... (@timbze you can create issue if you like :-) )

[2021-04-05 12:56] #946 closed, assigned to nobody

[2021-04-05 13:31] tuomas2 commented on #835
KJVA has some morph tags in OT, such as `<w morph="strongMorph:TH8800">`
Trying to figure out from which dict we should find these definitions

[2021-04-05 14:34] timbze commented on #936
Fixed in #951, don't know why this issue did not close

[2021-04-05 14:34] #936 closed, assigned to timbze

[2021-04-05 14:37] timbze commented on #0
Weird that this is issue #0

[2021-04-05 15:15] #955 closed, assigned to bvahedy

[2021-04-05 15:44] timbze commented on #798
I think most of this issue has been addressed, except for these items below. Since I think the most important aspects have been addressed, I will close this issue. If someone wants to continue work on any of these points then a new issue could be made.

[2021-04-05 15:44] #798 closed, assigned to RuggMatt

[2021-04-05 16:04] bvahedy commented on #0
Don't know how that happened.

[2021-04-06 07:53] tuomas2 opened #961 "New user: allow selecting existing And Bible backup to restore"

[2021-04-06 07:54] tuomas2 commented on #961
From #798

[2021-04-06 09:51] onomou commented on #895
What about just adding a parenthetical note, like `Show words of Christ in red (if module supports it)` and save some work? It would save a lot of work, allow the user to toggle the setting regardless of whether the module has red letter support, and doesn't send the wrong message that AndBible doesn't support red lettering.

[2021-04-06 13:11] tuomas2 opened #962 "Target API level to 30"
Starting August 2021, new apps will be required to target API level 30 (Android 11) and use the Android App Bundle publishing format. Starting November 2021, all app updates will be required to target API level 30 (Android 11)

https://android-developers.googleblog.com/2020/11/new-android-app-bundle-and-target-api.html

[2021-04-06 13:12] tuomas2 commented on #962
https://developer.android.com/about/versions/11/behavior-changes-11

[2021-04-06 13:13] tuomas2 commented on #962
https://www.youtube.com/playlist?list=PLWz5rJ2EKKc9RJo0uMB_Di3xZ_ZLeau-D

[2021-04-08 09:19] tuomas2 commented on #961
This seem to be implemented also.

[2021-04-08 09:19] #961 closed, assigned to nobody

[2021-04-08 09:20] tuomas2 commented on #798
this was a mistake? There's "Restore database file" button in startup screen.

[2021-04-08 10:53] tuomas2 commented on #962
done

[2021-04-08 10:53] #962 closed, assigned to nobody

[2021-04-10 15:54] timbze commented on #798
You are correct. I only looked at layout file, but now see it's set programmatically on existing button. (StartupActivity.kt L#209)

[2021-04-10 16:11] timbze opened #963 "Clicking app preference "Strongs Hebrew dictionary" or "Robinson Greek morphology" causes crash"
Clicking app preference "Strongs Hebrew dictionary" or "Robinson Greek morphology" causes crash
Log is here: https://support.andbible.org/scp/tickets.php?id=439

**Bug was found on And Bible version**
Build 512-alpha c5bd0f7f

[2021-04-10 16:41] timbze commented on #525
Obsolete in 3.4

[2021-04-10 16:41] #525 closed

[2021-04-10 16:46] timbze opened #964 "Pressing back from "Download documents" while installing/updating modules causes crash"
**Describe the bug**
Pressing back from "Download documents" while updating modules causes crash

https://support.andbible.org/scp/tickets.php?id=426

**To Reproduce**
Steps to reproduce the behavior:
1. Open app
2. Open download documents.
3. Select several documents to download which are updates.
4. Click the back button on the Android system bar to return to the Bible screen.
5. And Bible crash

[2021-04-10 16:59] timbze opened #965 "Reference title freezes after switching between workspaces quickly"
* Don't know exactly how to reproduce, but I was switching between 2 workspaces a few times and then the verse in title froze.
* It shows Romans 9:1, I scroll down but title verse does not change.
* I swipe to go to next chapter then it shows Romans 10:1 but scrolling down still keeps verse in title frozen.

Keeping as low priority because not easily reproducible and probably not happening very ea

[2021-04-10 17:43] timbze commented on #684
Can not reproduce anymore

[2021-04-10 17:43] #684 closed

[2021-04-10 17:44] timbze commented on #696
I am unable to reproduce

[2021-04-11 11:02] timbze opened #966 "App startup crash (workspace related)"
https://support.andbible.org/scp/tickets.php?id=424

**Describe the bug**
App crashed once on startup. Seems to be workspace related (according to log).

**To Reproduce**
Steps to reproduce the behavior:
1. Opened app
2. No 2. I never got that far. It crashed.

**Device info:**
And Bible version: 3.3.399#24411f9 (built 05/11/20 10:40:43)
Android version: 9
Android SDK version: 28
Manufacturer: LGE

[2021-04-11 18:11] bvahedy commented on #963
This was working in last 511 build.

[2021-04-11 18:15] bvahedy commented on #958
Still could not duplicate in 512.1 build.

[2021-04-11 19:09] bvahedy opened #967 "Default lable for unassigned notes is wrong..."
Running 512.1 alpha build:
If a note or a bookmark was not assigned a lable the default lable should be unassigned.

Also tapping on the lable assignment at the top of the note modal presents two options, selecting  "jump to study pad"  causes the app to crash.

[2021-04-11 20:18] #474 closed

[2021-04-11 20:39] timbze commented on #144
With Android only becoming stricter about apps accessing storage I think we should close this in favor of #632.
Will let @tuomas2 decide

[2021-04-12 08:16] tuomas2 commented on #144
I have disabled option to use jsword folder for Android 10+ devices as it does not work anyway. I agree that this can be closed, and #632 can be implemented at some point.

[2021-04-12 08:16] #144 closed

[2021-04-12 11:54] timbze commented on #966
Another similar crash: https://support.andbible.org/scp/tickets.php?id=444

[2021-04-15 06:12] #597 closed

[2021-04-15 08:15] #963 closed, assigned to bvahedy

[2021-04-15 09:01] #967 closed, assigned to bvahedy

[2021-04-15 11:10] tuomas2 opened #970 "RTL UI"
Can use appSettings.rightToLeft variable to detect.
Easier to implement when we have some rtl language translated.

https://material.io/design/usability/bidirectionality.html#mirroring-layout

[2021-04-15 11:35] #550 closed

[2021-04-15 11:38] tuomas2 opened #971 "Share / copy verse(s) / selection"
As of new bibleview-js, old share function was gone. Need to implement something...

[2021-04-15 11:38] tuomas2 commented on #971
Although I'm not sure if it's necessary, as user can use default share / copy functions now. What do you think?

[2021-04-15 11:40] tuomas2 opened #972 "Jump to offset (for non-bibles) does not work"

[2021-04-15 11:41] tuomas2 opened #973 ""Error occurred" when no content available"
- [x] when commentary does not have content for a verse it says "Error occurred" in header style. And then also "not found in document" and "report a bug". When the commentary does not have the content for the verse it should not say error, and I don't think it should say report a bug, either.

_Originally posted by @timbze in https://github.com/AndBible/and-bible/issues/922#issuecomment-768242803

[2021-04-15 11:48] timbze commented on #971
I think it is necessary so that Bible reference gets copied together with the text.

Also, now footnote letters are being copied which isn't ideal. And there is no space between verse number and following character.

[2021-04-15 11:52] tuomas2 commented on #958
Could be fixed in 3.4 then. Leaving open still, as it's 3.3 bug (until 3.4 or 3.3 bugfix is released).

[2021-04-15 12:03] tuomas2 commented on #696
I also can't reproduce this anymore. Perhaps some lib upgrade has fixed this.

[2021-04-15 12:03] #696 closed

[2021-04-15 17:45] shompoe opened #974 "Automated Backup"
If I make extensive use of notes and bookmarks in my studies then I will be concerned about loosing all of that information if something were to happen to my phone. Or even, for example, if the app started to crash and I neeses to delete app data to fix it.

My suggestion is automated backup of the application database to the filesystem. Perhaps each time the app is started. Then it would be the u

[2021-04-15 17:56] #971 closed, assigned to tuomas2

[2021-04-15 23:16] timbze opened #975 "Share/Copy issues"
- [x] Extra double-quote

With new share/copy feature, select a word from middle of verse up to middle of next verse, and then an extra double-quote is added from where selection starts.

Example, copy Acts 1:1-2. Select the word "treatise", and then up to somewhere in verse 2. See the extra double-quote before the word "treatise".

- [x] Space before last (closing) double-quote

Also, it seems th

[2021-04-15 23:27] timbze commented on #134
Closing as duplicate of #64

[2021-04-15 23:27] #134 closed

[2021-04-15 23:40] timbze commented on #571
The OP is addressed in the fix for #971.

@eigenlambda and @RepentAndBelieveTheGospel suggested more changes that we might consider if someone made a PR for it, but don't think main AB developers will make it more configurable for now. @tuomas2 did a great job in https://github.com/AndBible/and-bible/commit/af0c3bbd582b0c375cf7fed057b08ef41ef16fb5
![photo_2021-04-15_17-38-55](https://user-images.g

[2021-04-15 23:40] #571 closed

[2021-04-16 07:06] tuomas2 commented on #975
Should make make unit tests for this (SwordContentFacade:getSelectionText).

[2021-04-16 07:07] tuomas2 commented on #974
Duplicate of #370

[2021-04-16 07:07] #974 closed, assigned to tuomas2

[2021-04-16 11:16] timbze commented on #975
- [x] Also, when copying with verse numbers, the last verse number is not included. Copying v1-3, it will only show the numbers 1 and 2 in the text, the number 3 is omitted even though the verse is copied. When it's 2 verses then the number 2 is omitted

[2021-04-16 11:59] timbze commented on #60
Hardware buttons are not so common now, but some book reader apps also use volume up/down for prev/next page. It might be good to add that option in settings (would need to be for next verse or maybe even better to just do certain number of lines (smooth scroll preferrably)).

[2021-04-16 12:15] timbze commented on #180
@tuomas2 considering #938 do you still think the plans should be saved entirely in db? Or should we rather save them to internal storage like modules and read from there?

The reading plan status will/should be stored in db anyway, but I'm talking about the reading plan data itself.

[2021-04-16 12:23] tuomas2 commented on #180
Not necessarily as they are read-only data but then they would not be backed up with normal db backup.

Though if reading plans would be special "modules" (like font package currently is), then would not be a problem, as modules can be backed up separately. What do you think?

[2021-04-16 12:56] timbze commented on #180
Yes I think we could make them into special "modules", and still supply the default plans with the app. That way any custom plans by the user could be backed up and restored like modules.

I think that would be the least confusing and less duplicate for developers.

[2021-04-16 13:20] tuomas2 commented on #180
Yes, sounds good.

[2021-04-16 14:15] tuomas2 commented on #975
- [x] maybe also better to use abbreviated version for the reference

[2021-04-16 14:23] tuomas2 commented on #975
- [x] "Show reference" is maybe not needed/useful option? User wants always reference?

[2021-04-16 18:44] tuomas2 commented on #975
Fixed

[2021-04-16 18:44] #975 closed, assigned to bvahedy

[2021-04-17 05:37] tuomas2 opened #976 "Improve bibleview-js performance"
- Performance in general due to vue.js rendering. Solution: render smaller chunks at time and rest asynchronously without disturbing user.

Update: some performance improvements were made, and performance is now acceptable. But it could be improved still. Leaving open with lower prio.

[2021-04-17 05:47] tuomas2 opened #977 "Study pad (and bookmarks etc) does not update when switching workspace"
- [x] Study pad does not update when switching workspace
1. Open study pad for "label 1" in workspace 1
2. Go to workspace 2 and add "label 1" to some verse bookmark
3. Go back to workspace 1, study pad does not update to show the bookmark that was just added, but it should

_Originally posted by @timbze in https://github.com/AndBible/and-bible/issues/922#issuecomment-791126011_

[2021-04-17 05:48] tuomas2 commented on #922
I have made separate issues of remaining (IMO) important issues. @timbze you could go through your remaining ideas and make issues of them if you feel them still important. I'll close this now.

[2021-04-17 05:48] #922 closed, assigned to tuomas2

[2021-04-17 06:03] tuomas2 commented on #879
I went through changes and new features in https://developer.android.com/about/versions/11
I think we are ready.

[2021-04-17 06:03] #879 closed, assigned to nobody

[2021-04-17 06:05] tuomas2 commented on #832
This will be obsolted if #611 is implemented

[2021-04-17 06:36] tuomas2 opened #978 "Background noise setting does not work"

[2021-04-17 16:36] timbze opened #979 "End of chapter footer/verse number issue"
- [ ] Hebrews 13:25 footer issue. The number 25 should be at the line above it.

![image](https://user-images.githubusercontent.com/35117769/106155452-506f2b80-6146-11eb-88f9-156ff3780dab.png)

_Originally posted by @timbze in https://github.com/AndBible/and-bible/issues/922#issuecomment-769141106_

[2021-04-18 20:04] tuomas2 opened #980 "Backup / share APK with a friend"
Idea is that together with "backup modules" feature, user could share apk to a friend without need for him/her to obtain apk first to be able to read bible.

Some in-app guidance to be able to "clone" installation completely to another device should probably be provided too.

[2021-04-19 08:31] LAfricain commented on #980
The first question is How to make the app available in a store in an official way?

[2021-04-19 08:42] tuomas2 commented on #980
What do you mean exactly? You don't find And Bible in Play Store?

[2021-04-19 08:44] LAfricain commented on #980
I do, but the Play store doesn't exist in some country (discussed yesterday). We have to find a way to propose the app in their own store.

[2021-04-19 08:49] tuomas2 commented on #980
Chinese stores require that someone from china uploads app, if I have udnerstood correctly.
I am in the progress to upload to samsung and huawei stores, but they also don't allow me to publish in china.

[2021-04-20 23:54] timbze commented on #980
How to share apk file:
https://stackoverflow.com/questions/39485995/how-can-i-share-apk-file-in-my-app-send-app-itself
https://stackoverflow.com/questions/40941709/how-to-share-current-apps-apk-or-of-other-installed-apps-using-the-new-filepr

Another note, Google is phasing out being able to use .apk files, though they don't have a deadline for current apps yet. New apps [will no longer be able to

[2021-04-21 05:33] tuomas2 commented on #980
but store generated apk is found on device still after install if aab is used or what?

[2021-04-21 05:52] timbze commented on #980
I'm not sure, I think I've seen a bunch of smaller apks generated from the aab but don't know exactly how it works.

[2021-04-21 16:11] timbze opened #982 "User-definable list of string replacements for TTS"
We need to be able to define list of replacements in (advanced?) Speak settings. TTS engines behave differently so we don't want to have any hard-coded strings in general.

Perhaps also supporting regex for advanced users?

Original:

[2021-04-22 07:02] #980 closed, assigned to tuomas2

[2021-04-22 07:14] tuomas2 commented on #908
This feature is disabled for Android 10+. #632 will fix this for Android 10+. This feature is mostly obsolete due to other improvements in develop. Closing this now.

[2021-04-22 07:14] #908 closed, assigned to tuomas2

[2021-04-22 07:21] tuomas2 commented on #506
Closing this, as most important parts are now implemented. New issues can be created for missing parts (if someone really misses something that was not implemented).

[2021-04-22 07:21] #506 closed

[2021-04-22 08:03] tuomas2 commented on #980
We will see how apk backup works for aab's after we release first beta (using aab)

[2021-04-22 14:55] #973 closed, assigned to nobody

[2021-04-22 20:26] timbze commented on #817
- [ ] When creating index it shows this screen (what is visible has nothing to do with index creation, and it's not scrollable).
![image](https://user-images.githubusercontent.com/35117769/115780614-9cf98a00-a376-11eb-8bb7-83310cbfde29.png)

[2021-04-23 15:16] tuomas2 commented on #980
Seem to work well with aab too, after disabling splits. db9a099e97eed2f0ae565bf8de91e4acef3801b8

https://developer.android.com/guide/app-bundle/configure-base

[2021-04-23 22:21] timbze opened #989 "Night mode upgrade 3.3 to 3.4-beta causes text to not show"
https://support.andbible.org/scp/tickets.php?id=459

**Describe the bug**
Upgrade 3.3 stable when it's on night mode, to 3.4-beta and the Bible text does not display.

**Bug was found on And Bible version**
Build 3.4.515-beta

**To Reproduce**
Steps to reproduce the behavior:
1. App is on 3.3.399 and has night-mode enabled
2. Upgrade app to beta (3.4.515-beta) from Play Store
3. Regular text is no

[2021-04-23 23:42] timbze opened #990 "org.crosswire.jsword.passage.NoSuchVerseException"
org.crosswire.jsword.passage.NoSuchVerseException

https://play.google.com/console/u/0/developers/6727655833913220393/app/4974350217168681006/vitals/crashes/d301a5c8/details?installedFrom=PLAY_STORE&days=30

I think same as this:
https://support.andbible.org/scp/tickets.php?id=460

**Bug was found on And Bible version**
Build 514-beta

[2021-04-24 14:02] Dleemuse opened #991 "New Beta Features For Amazon Kindle Users please"
First I want to say that when I opened my AndBible on my phone this morning to do my weekly Sunday school homework, I was amazed by all the new beta features! I can't wait to re-tool some of my bookmark studies I have compiled over the years. The structure you have set up to do this in the new bookmark section, linking the notes is fantastic! I have been patiently waiting for this type of feature

[2021-04-24 16:34] tuomas2 commented on #991
Thank you so much for the feedback :-) If you want to update android devices without Play store (i.e. Kindle), you can always download beta apk files from github releases section (see those that are marked with "-beta"): https://github.com/AndBible/and-bible/releases (latest being at the moment  3.4.514-beta).

I will upload only stable versions to Amazon store. Stable version (with translations a

[2021-04-24 16:49] timbze opened #992 "java.util.NoSuchElementException"
https://play.google.com/console/u/0/developers/6727655833913220393/app/4974350217168681006/vitals/crashes/d646e622/details?days=7

**Describe the bug**
From Play Store crashes. Seems to be somewhat common crash, happened 13 times in last week.

**Bug was found on And Bible version**
Build 3.3.399

**To Reproduce**
Not sure, but possibly it can at least be prevented by examining stack trace.

[2021-04-25 03:11] Dleemuse commented on #991
Thank you Tuomas. 
I am not sure what I am doing wrong. I followed the link in your email, clicked on "Release 3.4.514-beta," clicked "andbibke-beta-514.apk," clicked "install." It tells me the app is not installed, but when I open my And Bible App select menu in upper left then go to "download document from zip," I can see that it downloaded the beta, it shows up as "and-bibke-beta-514.zip" in my

[2021-04-26 00:16] agrogers commented on #390
I have kept a past version of the ESV Bible which I keep moving across to my new phones. Is that legal?

I have just noticed with the latest beta version that spacing between words and punctuation has got messed up. It now joins random words and spacing after commas and fullstops is missing. See attached.

Is this an issue that you want to address? If it is I should open a different issue for it.

[2021-04-26 01:39] Dleemuse opened #995 "Problem with Scripture link in bookmark notes section"
I am using the very latest beta version on my Samsung galaxy note 10.

When bookmarking a scripture passage then making a note and then attaching a Bible reference link, the link will not open. A window pops open that says... Please download "1 Cor. 9' for exame when the scripture reference I input is 1 Cor. 9:13-14. Or when I have used the little Bible icon in the notes section to add the referen

[2021-04-26 01:42] Dleemuse commented on #995
![Screenshot_20210425-204102_Bible Study](https://user-images.githubusercontent.com/83124765/116018015-b44ea680-a606-11eb-99ef-7f8b8d183c4d.jpg)
![Screenshot_20210425-204111_Bible Study](https://user-images.githubusercontent.com/83124765/116018019-b4e73d00-a606-11eb-885e-bbbe2fab9e53.jpg)

[2021-04-26 03:42] bvahedy commented on #995
Try putting "1cor2 9" without the quotes as the link ref.

[2021-04-26 03:47] bvahedy commented on #995
Use  1cor2 9-11   for multiple verses.

![Screenshot_20210425-205710_Bible Study](https://user-images.githubusercontent.com/46405809/116027225-23c59580-a609-11eb-9c42-d9b17a9072f8.jpg)

[2021-04-26 05:54] tuomas2 opened #996 "rendering issue"
(https://user-images.githubusercontent.com/13920678/116015057-590acb80-a67b-11eb-9d61-4296c5bed275.jpg)

_Originally posted by @agrogers in https://github.com/AndBible/and-bible/issues/390#issuecomment-826421795_

[2021-04-26 06:13] tuomas2 commented on #996
@agrogers it is only illegal to distribute that module as we do not have permission for it. To keep and use once legally distributed module is legal.

What we see in screenshot looks like a bug, will need to check it.

[2021-04-26 08:53] tuomas2 commented on #390
Moved this to a new issue #996

[2021-04-26 11:42] Dleemuse commented on #995
Hello guys,
I figured out this morning that you cannot open the scripture reference link in the edit notes section, you have to jump to study pad to open the scripture link. As I have said several times before when posting to AndBible forums I am tech challenged.
Thanks,
Debra

[2021-04-26 11:49] tuomas2 commented on #989
https://support.andbible.org/scp/tickets.php?id=465

[2021-04-26 11:50] Dleemuse commented on #995
![Screenshot_20210426-064949_Bible Study](https://user-images.githubusercontent.com/83124765/116078010-bbec6a80-a65b-11eb-8d06-ca83ca0ad183.jpg)

[2021-04-26 12:06] Dleemuse commented on #995
1. Above screen shot is a Pic of the study pad. It shows each of the scripture references that I linked with the Bible icon in the notes section with the first several words of that Bible verse, I can open this verse(s). It also has my note with my scripture references which I cannot open.

2. When tapping on a bookmark & then edit, the links I input will not open. I still get the window that says

[2021-04-26 14:59] bvahedy commented on #995
The bible can have links in it but they must be incorporated by the translator within the passage. The study note links allow the reader to create their own links for the purpose of their own study. In order to jump to a link within the bookmark you tap on the bookmark to open the study note then all you have to do is to tap on the link within the study note.

[2021-04-26 15:01] bvahedy commented on #995
This type of link is embedded in the bible module and the user can not create it by Andbible:
![Screenshot_20210426-075726_AndBible](https://user-images.githubusercontent.com/46405809/116104741-89e00600-a665-11eb-8eb1-70c8f871e350.jpg)

[2021-04-26 15:21] tuomas2 commented on #995
You can open links also from bookmark modal window.

![Screenshot_20210426-182128](https://user-images.githubusercontent.com/5811789/116108106-4795e380-a6bc-11eb-9844-bf0dae220603.png)

[2021-04-26 15:25] tuomas2 commented on #995
Reference handling is still about to be changed in #981, so after that also references such as "1 Cor 1:3" should work.

[2021-04-26 23:11] timbze opened #998 "App crash on clicking word with Strongs underline turned on"
https://support.andbible.org/scp/tickets.php?id=476

**Describe the bug**
When clicking a word ( with Strongs underline turned on ) app crashes.

**Bug was found on And Bible version**
Build 514-beta

**Relevant log:**
[code]

[2021-04-27 03:26] bvahedy commented on #998
I'm trying to see if I can duplicate this but want to know what you mean by strong's underlined turned on. When I tap on a strong's number it goes to the dictionary.

[2021-04-27 13:52] Dleemuse commented on #995
OK, that is my problem then. After I have made a bookmark, I tap to make a note, then I tap the little Bible icon to add a linked scripture reference, it is blue text, so shows as a link, but when I tap on it in the notes it will not open the verse.

[2021-04-27 15:18] bvahedy commented on #995
That is because you need to give it a valid link.
Tap the word to select it in the bookmark window then tap on the icon with the cross. Now type joh2 as test link see if that works.
![Screenshot_20210427-081246_AndBible](https://user-images.githubusercontent.com/46405809/116267189-0a1f6d80-a731-11eb-936a-2b21ce104f66.jpg)
![Screenshot_20210427-081424_AndBible](https://user-images.githubusercontent

[2021-04-27 15:23] tuomas2 commented on #989
Fix: 83aa736a13b235adf08e003cf471c976a19d0c39

[2021-04-27 15:23] tuomas2 commented on #989
Fixed in build 516

[2021-04-27 15:25] timbze commented on #995
Hello @Dleemuse and @bvahedy,

I think the root issue has not been described. Currently the only references that are understood are such as what is called OSIS format. That is, the references have to be very specific (e.g. these should work John1.1 Rev2.1 -- colon between chapter and verse will not currently work).

Later in beta when further improvements are done, then any normal references shoul

[2021-04-27 15:45] timbze commented on #991
Hi @Dleemuse, make sure it is the .apk file that you download. Then install it by clicking the .apk file. If it does not work you may need to enable installing apps by .apk in your Kindle system settings. If there's an error message when you try to install the .apk file, maybe that will give a hint on what needs to be done.

"Download documents from zip" has nothing to do with the app update.

[2021-04-27 16:24] bvahedy commented on #995
Yes, that is true, thank you Timmy for the clarification.

On Tue, Apr 27, 2021, 8:26 AM Timmy Braun ***@***.***> wrote:

[2021-04-28 23:48] timbze opened #999 "Link click highlight color - make it unhighlighted on click changeable"
When clicking a link for a Bible reference, it opens in new window with a highlight.

[User here](https://support.andbible.org/scp/tickets.php?id=478) is asking to change highlight color because text is not very legible especially in night mode.

As discussed with @tuomas2, if highlight could be removed from clicking it that would be good for me, and probably would fix the user above's issue as we

[2021-04-29 06:04] #989 closed, assigned to bvahedy

[2021-04-29 08:52] tuomas2 opened #1000 "Toolbar speak button toggles visibility of transport bar"
Speak button then toggles visibility of transport bar, does not control speaking directly

[2021-04-29 14:43] tuomas2 commented on #996
Could it be module issue with older version of module? My ESVS module renders correctly.
Did older version of And Bible render it correctly?

Here's how I see it:

![image](https://user-images.githubusercontent.com/5811789/116569703-507ff280-a912-11eb-9352-3ea487acfdf0.png)

[2021-04-29 14:43] #996 closed, assigned to nobody

[2021-04-29 14:48] #998 closed, assigned to bvahedy

[2021-04-29 14:49] tuomas2 commented on #998
Strongs underlined turned on:![image](https://user-images.githubusercontent.com/5811789/116570895-47435580-a913-11eb-90b6-a70efa0df92f.png)![image](https://user-images.githubusercontent.com/5811789/116570895-47435580-a913-11eb-90b6-a70efa0df92f.png)

[2021-04-29 14:51] tuomas2 commented on #990
Should be fixed now (35e6e88a63fb4ca64afd9ea0a4c5cce763214b1d)

[2021-04-29 14:51] #990 closed, assigned to bvahedy

[2021-04-29 14:51] tuomas2 commented on #999
Fixed

[2021-04-29 14:51] #999 closed, assigned to tuomas2

[2021-04-29 15:03] #992 closed, assigned to bvahedy

[2021-04-29 15:39] tuomas2 opened #1001 "Soft keyboard does not pan properly on some devices"
Soft keyboard goes over input area on my phone.

[2021-04-29 16:36] bvahedy commented on #1001
I can't duplicate this, do we know what devices this happens on?

[2021-04-29 17:26] tuomas2 commented on #1001
Emulator (API 30 at least) and my Sony Xperia phone

[2021-04-30 03:19] agrogers commented on #996
It is quite old. So you might be right. Is it possible to find that version
that you have anywhere? Or is it now legally unavailable?

Thanks for the other work you have done on the latest version of AndBible.
I have been using the new features and like them a lot. Well done.

___________________________
*www.TenOutOfTen.org* <https://www.TenOutOfTen.org>
***@***.***
(+61) 0477 174 193 (Australia)

[2021-05-01 11:26] tuomas2 opened #1003 "Automatic checking for js side translations"
Need to check that translation files have %s etc in correct places as transifex does not check them. Otherwise we will have js side errors as a result...

Python script that is executed when doing make tx-pull will do fine.

[2021-05-01 11:27] tuomas2 commented on #1001
You can see it even in beta video https://www.youtube.com/watch?v=ZpZ25uqR_BY

[2021-05-02 01:47] agrogers commented on #660
Excellent work on this. Thank you. It is a very cool feature I think and one that is almost accidental due to some smart programming. Just a couple of minor bugs that you might be interested in... And one enhancement.

1. When first viewing the window, not all the verses that should be visible are rendered. If I slowly scroll the missing verses are rendered and eventually I can see them all. They

[2021-05-02 01:49] agrogers opened #1006 "Bible text is not properly loaded when using very small fonts."
Excellent work on this. Thank you. It is a very cool feature I think and one that is almost accidental due to some smart programming. Just a couple of minor bugs that you might be interested in... And one enhancement.

1. When first viewing the window, not all the verses that should be visible are rendered. If I slowly scroll the missing verses are rendered and eventually I can see them all. They

[2021-05-02 13:33] tuomas2 opened #1007 "Test"
**Describe the bug**
A clear and concise description of what the bug is.

**Bug was found on And Bible version**
Build XXX.X or version X.X.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots t

[2021-05-02 13:35] #1007 closed, assigned to nobody

[2021-05-02 13:35] tuomas2 opened #1008 "test2"
**Describe the bug**
A clear and concise description of what the bug is.

**Bug was found on And Bible version**
Build XXX.X or version X.X.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots t

[2021-05-02 13:42] #1008 closed, assigned to nobody

[2021-05-02 13:42] tuomas2 opened #1009 "test 3"
**Describe the bug**
A clear and concise description of what the bug is.

**Bug was found on And Bible version**
Build XXX.X or version X.X.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots t

[2021-05-02 13:43] #1009 closed, assigned to nobody

[2021-05-02 21:28] Dleemuse opened #1012 "Delayed Bookmark Response"
I am using Galaxy Note 10.

Creating/deleting bookmark function is not working properly. In highlighting text, then clicking bookmark, no text shows as highlighted. In trying to delete a bookmark, the highlighted text remains highlighted.

I have noticed that if you leave the location at which you are trying to create/delete a specific bookmark & come back to it, it will show as highlighted text,

[2021-05-02 22:21] jmarsican opened #1013 "Allow user to choose book order and save such setting"
Very nice UI improvements! I have a few suggestions, but @tuomas2 should affirm or deny my suggestions before you make changes based on them.

- [ ] Leave the default book order the way it was (in portrait mode the books go by column, in landscape by row)
- [x] Add back (up) button in toolbar (can be done by modifying manifest file) #997
- [ ] All settings would save in Db that way the user's pref

[2021-05-03 03:42] agrogers opened #1014 "Possible improvements to the bookmark dialog (not the popup)"
Here are a few ideas that have come to mind while getting use to the new features.

- [x] * Change the button arrangement. Clicking the ellipsis to show the additional options, and then having to click the info button to see more details seems unnecessary.
- [x] * Just show the info button and move the delete and share buttons into the dialog itself.
- [x] Also, can add a button there for editing

[2021-05-03 04:55] agrogers opened #1015 "Proposal for streamlined pre-bookmark dialog"
Hi. The image below describe the work flow that I think could be streamlined. It also maximises the use of the colors for the labels.

At present there is
* a popup that shows a list of the bookmarks the user clicked on.
* From that you can go to another dialog asking whether you want to assign labels or open a studypad.
* The links on the colored labels can be a little hard to click on and it is

[2021-05-03 05:00] agrogers opened #1016 "Proposal for display of primary bookmark label"
As I understand it, a bookmark has a label and then additional labels can be added to an existing bookmark. I think this is indicated by a little bookmark icon of the correct color as seen here:
![image](https://user-images.githubusercontent.com/13920678/116842528-2b47f880-ac20-11eb-9ded-87643b3f4262.png)

It feels more intuitive to me to place the bookmark icon inside the label that is attached t

[2021-05-03 05:13] agrogers commented on #859
Hi Tuomas. Are you referring to this little standard android popup menu?
![image](https://user-images.githubusercontent.com/13920678/116842904-8d552d80-ac21-11eb-9b7b-1e7b12c466ed.png)

What I would like to add to this popup is:
* 'Bookmark Verse'.  This would apply the bookmark to the whole verse for me automatically
* And perhaps show the last two or three used labels so the bookmark with that l

[2021-05-03 05:23] agrogers opened #1017 "Proposal for whole verse highlighting"
I really like the character based highlighting and have been using it a lot. However i think there is still a place for whole verse highlighting. Perhaps it is still possible - but i have not found it. My thoughts are:
* It is nice to have bookmarks appear across translations when possible. With whole verse highlighting this was possible.
* Sometimes i want to highlight the whole verse. But this i

[2021-05-03 05:27] agrogers opened #1018 "Be able to add a bookmark in any window"
For some reason I was not able to add a bookmark in one of the windows i managed to get to. I think it was the studypad view.  Short video here: https://drive.google.com/file/d/1eb9bMNhXCfhruvdA6niIbuTtY8U4J967/view?usp=sharing

Thanks

[2021-05-03 05:32] agrogers opened #1019 "Tiny text rendering issue - not rendering whole page"
When the text is really small so that i can see a whole book on (eg all of Romans) on one screen, only a small part of the book is rendered. If i slowly scroll then additional verses are rendered. If i scroll too quickly then they dont get rendered.

It just seems like you have a hard limit set for the number of verses to render so as to not waste resources. If that is true, perhaps scaling that h

[2021-05-03 05:38] agrogers opened #1020 "Cross reference labels are showing when the option is turned off."
I have the setting turned off but the orange labels are still showing in the NASB, ESV, Net Free etc

Video here:
https://drive.google.com/file/d/128UtEg88N_MEa2-WJGvyEqA6dK5fCHuB/view?usp=sharing

[2021-05-03 05:41] agrogers opened #1021 "Implement the cross reference like the TSK"
I like the new cross reference popup. Actually I have never really look at them because it was a bit too inconvenient. This will make it better for me.

But my preference would be to display it like you do the TSK. That is, display it in its own commentary like window. That would make accessing those cross references really easy.

Video here:
https://drive.google.com/file/d/15iXDM8pzmcXUTWvmeJq71P

[2021-05-03 05:46] agrogers opened #1022 "Ensuring that the bookmark keeps its original color"
My understanding is that the bookmark color is determined by the order of creation of the labels. This can be a problem when i add a new label that was created **before** the currently attached label. The color of this second label will now be the one used to highlight the verse.

So in the present system i dont really have control over the color of the highlight when i have added multiple labels

[2021-05-03 05:49] agrogers commented on #1012
Hi. I have had this too. Some more info that might be helpful:
* closing and reopening the app solves the problem.... for a while
* sometimes the speed varies - slow then it seems fast then slow again
* the app is usually fully responsive while i am waiting for the bookmark to add. Seems like the bookmark adding is running in a different thread from the main app.
* it regularly gets slower the mor

[2021-05-03 05:51] agrogers opened #1023 "The bookmark modal should not be allowed to go off the screen"
Sometimes i thought the app was losing my clicks but it was because the dialog had scrolled off screen. So my clicking was working but i couldnt see that it was working because the window was offscreen.

Perhaps keeping the dialog from scrolling offscreen would be an option. Or closing it and opening it whenever someone clicks on a bookmark.

Video:
https://drive.google.com/file/d/14UqqUYBQPk5Wkrf

[2021-05-03 05:57] agrogers opened #1024 "Improvements to how the labels list is ordered / grouped"
I am getting a lot of labels. And i have only been using them for a week :D  My suggestions are:
* At the top of the labels list show the current selected labels for this bookmark (orange box). I am often scrolling down trying to find the existing ones to remove or change their color.
* Under that show the three recently used bookmarks (purple box). 9 times out of 10 this list would hold the bookm

[2021-05-03 06:06] agrogers opened #1025 "Allow categorising labels and selecting labels using the categories"
I listened to your video about using labels as a way to create sermon notes. I liked this idea but then i realised that these sermon notes labels will appear in my label list. I never really want to see them except in Workspaces that I choose or perhaps on other rare occasions. So:

* being able to categorise labels could be good. Labels might include 'Sermon Notes', 'Bookmarks', 'Labels', 'Faith

[2021-05-03 06:12] agrogers opened #1026 "Study notes improvements - remembering selection and ordering"
1. The bookmark list forgets my previous selection
2. The study notes list shows verses in the order that i added the bookmark. I think that is intentional. But i would usually want to see them in bible order.
3. Enable expanding all verses in the window. Then i could copy and paste
4. Create an export option so i can export the verses in the window... and even keep the formatting somehow.

Video:

[2021-05-03 06:13] agrogers commented on #871
I think you have already implemented this beautifully.

[2021-05-03 06:23] #871 closed, assigned to tuomas2

[2021-05-03 07:19] agrogers commented on #1019
Sorry, i forgot that i had already added an issue for this! It is https://github.com/AndBible/and-bible/issues/1019. These can be merged.

[2021-05-03 08:31] tuomas2 commented on #1019
#1019 is actually this issue

[2021-05-03 08:46] tuomas2 commented on #1024
This is good suggestion that we have already also discussed a little with developers.
Good UX design for this would help me/us in development :-)

[2021-05-03 10:11] agrogers commented on #1024
My thoughts on this were pretty simple and not a big departure from what you have already.
* Active group: can be any number of labels. If none are selected then the group could disappear altogether. Of course these are always ticked.
* Recent group:  This should read 'Recently Used Labels'. It is **not** recently created labels. Maybe limit to 3 or better still be user specified (a slide in the o

[2021-05-03 10:22] tuomas2 commented on #1024
Okay this looks good to me! Thank you! Actually I was more thinking about #1025 when I was asking for UX help.

[2021-05-03 10:24] tuomas2 commented on #1024
(sorry, I have personally time to more carefully look at these approx once per week, just quickly had a glance on these... thank you for all the ideas/comments!)

[2021-05-03 11:43] agrogers commented on #1024
No problems. I am really happy with the latest version. It has exceeded my expectations! And yes, I thought this one was pretty simple too :D  Issue #1025 is much harder and I don't really understand the latest version well enough to make good suggestions yet. I will spend this week playing with it more and see if i can put something together after that. Thanks again. I love your work.

[2021-05-03 12:08] timbze commented on #1019
#1006 is similar

[2021-05-03 12:20] agrogers commented on #1019
Yes, sorry! I forgot i had added it via my phone... and added notes to another task.

[2021-05-03 15:10] tuomas2 opened #1027 "Google Play in-app updates"
https://developer.android.com/guide/playcore/in-app-updates

[2021-05-03 23:43] Dleemuse commented on #1017
Yes, I do miss being able to highlight a whole verse or a range of verses with a simple click.

Debra

[2021-05-04 15:35] #945 closed, assigned to bvahedy

[2021-05-04 15:46] tuomas2 commented on #1022
Idea about having first label determine the color sounds good and makes sense from UX point of view.

I myself have thought that we should have simple "priority order" for labels, and first priority label would be used.
Need to think about this...

[2021-05-04 15:50] tuomas2 commented on #1021
Good idea but implementationally bit challenging as crossreferences are part of OSIS xml document, which will be parsed in js side (frontend).

[2021-05-04 15:55] tuomas2 commented on #1019
Duplicate of #1006

[2021-05-04 15:55] #1019 closed, assigned to bvahedy

[2021-05-04 15:55] tuomas2 commented on #1006
Video link from #1019 https://drive.google.com/file/d/161a_lyUtXuD7cN9MXy9LFDKJqVD33LMH/view?usp=sharing

[2021-05-04 16:02] tuomas2 commented on #1018
I agree that it would be nice feature.

However, I have intentionally decided to not implement adding/showing bookmarks in my notes, multidocument and studypad views.  The reason is that it would complicate and slow down code quite a bit due to synchronizing between windows etc.

Though if someone implements this in an efficient and nice way I'm open to PR's :-)

[2021-05-04 16:05] tuomas2 commented on #1016
Labels are m2m-relation, and the first one in list is "primary". This we probably should change (make it possible to determine primary label).

UI looks beautiful. I might try it out.

[2021-05-04 16:07] tuomas2 commented on #1015
Beautiful and nice UX&UI design, thank you! I might implement this at some point.

[2021-05-04 16:09] tuomas2 commented on #1014
Again, looks very nice! I'll (very likely) try some of these ideas. Thank you!

[2021-05-04 16:13] tuomas2 commented on #859
No, I refer to "snackbar" (https://material.io/components/snackbars/android) (which was in v3.3) which I removed at some point (forgot this ticket).

[2021-05-04 16:13] #859 closed, assigned to nobody

[2021-05-04 16:15] tuomas2 commented on #1023
I think I'll make it re-locate itself it when scrolling.

[2021-05-04 17:00] tuomas2 opened #1028 "Translator's context for 4.0 (originally 3.4)"
Checklist (as suggested by @timbze ) from last release

- Czech (!) @davidhrbac
- German
- Russian (!)
- Finnish @tuomas2
- French
- Hungarian(!) @krisek
- Portuguese
- Afrikaans
- India (Hindi) (!) @kesarsauce
- South Korea (!)
- Lithuanian
- Spanish @timbze
- Polish
- Arabic
- Italian @LAfricain
- Slovenian
- Chinese (CN&TW)
- Ukrainian
- Serbian (latin & rs)
- Kazakh
- Esperanto @verdulo
- Norw

[2021-05-04 17:20] tuomas2 commented on #1028
Sent announcement via transifex

[2021-05-04 17:28] timbze commented on #1028
@tuomas2 Perhaps you could again add a check-list in the OP like this: https://github.com/AndBible/and-bible/issues/712#issue-635603415

[2021-05-04 17:50] tuomas2 commented on #845
I think this was already implemented in 3.3

[2021-05-04 17:50] #845 closed, assigned to tuomas2

[2021-05-05 03:49] agrogers commented on #1022
Would the label priority order apply to all bookmarks? If so, i think that
might have the same problem where a subsequent label changes the existing
color. I can see where that would be good at times. But i think i would
prefer the ability to control the color on a bookmark by bookmark basis.

___________________________
*www.TenOutOfTen.org* <https://www.TenOutOfTen.org>
***@***.***
(+61) 0477 17

[2021-05-05 03:51] agrogers commented on #1021
Ah, ok. I guess converting them to a standard commentary document would be
the way to go and possibly require less work. I should look at that one day
:)

___________________________
*www.TenOutOfTen.org* <https://www.TenOutOfTen.org>
***@***.***
(+61) 0477 174 193 (Australia)
(+95) 09 250018669 (Myanmar)

On Wed, 5 May 2021 at 01:51, Tuomas Airaksinen ***@***.***>
wrote:

[2021-05-05 03:55] agrogers commented on #1015
Great. I noticed yesterday that you also have an icon indicating that a
note exists. I think that could possibly be handled by either changing the
Edit icon to a different shape or perhaps simply leave the edit icon gray
unless it has an existing note at which it would be colored.

___________________________
*www.TenOutOfTen.org* <https://www.TenOutOfTen.org>
***@***.***
(+61) 0477 174 193 (Austr

[2021-05-05 03:56] agrogers commented on #1023
I like that solution. Thanks.

___________________________
*www.TenOutOfTen.org* <https://www.TenOutOfTen.org>
***@***.***
(+61) 0477 174 193 (Australia)
(+95) 09 250018669 (Myanmar)

On Wed, 5 May 2021 at 02:15, Tuomas Airaksinen ***@***.***>
wrote:

[2021-05-05 03:58] agrogers commented on #1018
I didn't really need to see the bookmarks. I just wanted to be able to add
one. But I suspect that one is dependent on the other....

___________________________
*www.TenOutOfTen.org* <https://www.TenOutOfTen.org>
***@***.***
(+61) 0477 174 193 (Australia)
(+95) 09 250018669 (Myanmar)

On Wed, 5 May 2021 at 02:03, Tuomas Airaksinen ***@***.***>
wrote:

[2021-05-05 05:47] tuomas2 commented on #1018
It would be possible to implement "add" only, but user experience wouldn't be great (user would be left wondering where is my bookmark). Though we could tell him about it with a toast message, but still, it would be not very good UX. But, I'll open this so I can consider implementing only this.

[2021-05-05 05:48] tuomas2 commented on #1022
I guess we just need to be able to mark one label as priority label in bookmark level.

[2021-05-05 06:55] tuomas2 opened #1029 "Check webview version and complain if too old"
https://developer.android.com/guide/webapps/managing-webview?hl=fi

[2021-05-05 07:00] tuomas2 commented on #1021
Hmm, maybe I need to take my words back. It would be easy(ish) to open the same document fragment and use a different rendering mode js side, which would display only x-refs and nothing else. Not sure what kind of UX would be good for it though. I guess codewise straight forward implementation would be to make it text workspace&window specific text display settings option flag that enables such a

[2021-05-05 07:22] agrogers commented on #1018
Yeah, I agree. And you may already have it bookmarked and be trying to do
it a second time. So i think i agree that it is probably better to either
have all functionality or none.

The suggestions here  https://github.com/AndBible/and-bible/issues/687
that proposed being able to copy a reference from one window and paste it
into another window would kind of solve the problem. That is, I could
fair

[2021-05-05 07:22] #1029 closed, assigned to nobody

[2021-05-05 07:24] tuomas2 commented on #1018
But you can also currently click the blue verse reference link to open it in separate window?

[2021-05-05 09:32] agrogers commented on #1022
Yes, perfect. That is better than adding and removing to get them in the
correct order. But also one more thing you have to code. If the user wants
to change the color frequently then your option is good. But I would
simply create a new bookmark for the same passage and give it a different
label and then hide the bookmark with the label i dont want.

___________________________
*www.TenOutOfTen.or

[2021-05-06 08:44] #1014 closed, assigned to tuomas2

[2021-05-06 09:33] tuomas2 commented on #1015
what is this "studypad icon", can it be found from fontawesome? https://fontawesome.com/icons?

[2021-05-06 09:35] tuomas2 commented on #1015
file-alt maybe ok

[2021-05-06 10:47] agrogers commented on #1015
Hi Tuomas. I think it was this one. I have a subscription to this service. Not sure if that helps you.

https://www.flaticon.com/premium-icon/note_4023112?term=ui%20note&page=1&position=5&page=1&position=5&related_id=4023112&origin=style

[2021-05-06 10:47] agrogers commented on #1015
I could easily remake the icon as well.

[2021-05-06 10:55] agrogers commented on #1014
It looks like you have done it already. You're fast. I look forward to
checking it out. And I wouldn't have guessed you are using Vue. That's cool
too.

On Thu, 6 May 2021, 6:44 pm Tuomas Airaksinen, ***@***.***>
wrote:

[2021-05-06 11:27] timbze opened #1030 "Show toast with active workspace name on cold start"
It would be nice for me if I knew which workspace is active without having to open workspaces window.

I think it could be just when the app cold starts, then show a toast with workspace name, same as it does now in switching workspace.

Also, toast should not show if user only has 1 workspace.

[2021-05-06 13:34] tuomas2 commented on #1023
Implemented

[2021-05-06 13:34] #1023 closed, assigned to nobody

[2021-05-06 13:36] tuomas2 commented on #1015
Implemented

[2021-05-06 13:36] #1015 closed, assigned to tuomas2

[2021-05-06 13:39] #1020 closed, assigned to bvahedy

[2021-05-06 15:49] #1018 closed, assigned to tuomas2

[2021-05-06 16:40] tuomas2 commented on #1022
Implemented

[2021-05-06 16:40] #1022 closed, assigned to tuomas2

[2021-05-06 20:56] agrogers opened #1032 "Adding a label with a full stop seems to delete the label"
I know that sounds weird and I haven't investigated well but that seems to be the problem. Video here demonstrates it.

Latest version too. Today's beta release. And great work by the way. Thanks heaps for including my suggestions.

https://drive.google.com/file/d/12ZXCVzD_zAgz82mnumhAbSvJvnsMm1GW/view?usp=drivesdk

[2021-05-07 10:37] agrogers commented on #1016
I think you have done this one Tuomas. Looks good. Although i have found a little bug with it - i think i will put it in another issue.

[2021-05-07 10:42] agrogers commented on #1030
I have colored my workspaces to make it easier to know which one I am working in. But maybe showing a toast message when the workspace is changed is also a good idea. I have personally never felt i needed it though.

[2021-05-07 10:42] tuomas2 commented on #1016
Yep, closing this

[2021-05-07 10:42] #1016 closed, assigned to tuomas2

[2021-05-07 10:48] agrogers commented on #248
An option for this might be nice. But i have never really needed it. It shows the verse reference in the title. I think the verse number might also be off screen which means highlighting it (the number only) possibly not that helpful. Highlighting the whole verse might be a little intrusive. Could be an option though.

[2021-05-07 10:52] agrogers commented on #186
Yeah, I tend to agree with this one. I find myself more than not adding the *.

[2021-05-07 12:59] agrogers commented on #1032
Please hold on this one. I just realised I had set the workspace to hide some labels and I think this might have been one of them. I need to do some more testing. Thanks.

[2021-05-07 17:11] bvahedy opened #1033 "Workspace settings for showing notes needs fixing..."
In the workspace settings>text options  when turning off "show bookmarks" and turning on the "show my note icons", no icon is shown for the verse that has a note.

Expected result:
The icon at the end of the verse should show that there is a note for three verse without highlighting the verse.

![Screenshot_20210507-100157_Bible Study](https://user-images.githubusercontent.com/46405809/117484894-8

[2021-05-08 01:52] agrogers opened #1034 "Some label colors can be hard to read"
This is less a bug and more a poor user choice. An example is shown below. Interestingly it looks better on my PC than it does on the phone.  With some colors i find the text almost ureadable on my phone. One solution is just to chose better colors. That has been my approach to date. But i wonder whether it would be better to show labels that are hard to read as black on color not white on color.

[2021-05-08 02:24] agrogers opened #1035 "Proposal for adjustments to the bookmark creation/edit dialog"
Trying to put these screen samples in the correct ticket.  The one here improves on the one above and includes the new favourite labels feature:
![AndBible Suggestions bookmark color dialog suggestions v3](https://user-images.githubusercontent.com/13920678/118394587-ecd32480-b688-11eb-8192-c62ec0a87aa4.png)

This related to #1059

- [x] * Remove the delete icon from the main list. I would rarely e

[2021-05-08 02:54] agrogers opened #1036 "Preliminary filtering proposal for labels"
The following is a premature filtering suggestion. I am not really sure what is required here. These are my thoughts so far... and link to other thoughts i haven't shared yet.

![image](https://user-images.githubusercontent.com/13920678/117523658-ea275e00-affc-11eb-90dd-3feedf8cc8e8.png)

* I think there are going to be a lot of labels in my list. So finding them will get harder.
* This filter wou

[2021-05-08 06:54] tuomas2 opened #1037 "Dotted line with hebrew punctuation hard to read"
The dotted line for strong under the words make it really hard to read the Hebrew punctuation. Would it be possible to change the lines color to (a light) gray for example? This would make it slightly easier to distinguish between the punctuation and the line

https://support.andbible.org/scp/tickets.php?id=503

[2021-05-08 12:17] agrogers opened #1038 "The tooltip when hovering over the sort icon for 'Bookmarks and My Notes' always says 'Date order'"
The tooltip (on long press, or when hovering with a stylus) for the sort tool highlighted in the screenshot always says "Date order" .. even after pressing it. It should change to indicate the alternative, presumably "Book order".

https://support.andbible.org/scp/tickets.php?id=501

![image](https://user-images.githubusercontent.com/13920678/117538878-1e297000-b04b-11eb-97e3-e744228de174.png)

[2021-05-08 12:31] agrogers opened #1039 "Sharing an existing bookmark from the 'Migrated My notes' label via the new bookmark dialog crashes"
It was reported here: https://support.andbible.org/scp/tickets.php?id=500
I have confirmed it crashes on my device as well. Seems to only apply to migrated notes.

![image](https://user-images.githubusercontent.com/13920678/117539231-17036180-b04d-11eb-908e-dcfbcc42a36c.png)

[2021-05-08 12:51] timbze commented on #1038
~~Actually this will be changed with #1013 to have a 3-dot menu in top right. I think this issue can be closed.~~

Oops I was thinking of different window

[2021-05-08 13:14] agrogers opened #1040 "Color issues with the pre-bookmark dialog"
Most times i find this dialog looking really pretty - see 1 and 2 below. But occasionally i have a color that does not work at all ( see 3). So I have made up a few alternatives for consideration. My thoughts:
* The current release has gray icons except for the study pad icons (no 3). The problem is reduced if the icons retain their label color (see no 1)
* The problem is also reduced if we simply

[2021-05-08 13:25] agrogers opened #1041 "Issues with long labels and many labels in the pre-bookmark dialog"
* When the labels get long the new dialog gets a little confused. It's hard to see in the screenshot, but the white text in the label has wrapped around and is shown below the colored box. So '1. First' is there it has just been wrapped after the fullstop on to the next line.
* When there are many labels the line of labels gets very long and a scroll bar appears. This is not actually that bad. But

[2021-05-08 13:38] agrogers opened #1042 "It is possible to scroll a bookmark dialog off the screen which causes problems when clicking on a new bookmark"
The problem i experience is that it seems like the app has stopped responding. It is responding - it has just updated the bookmark off screen so i cant tell it did anything.

Ben raised the same issue here: https://support.andbible.org/scp/tickets.php?id=498

I think there is another ticket with this problem as well. I can't find it unfortunately.

Tuomas knows about it and said that he would keep